{% extends 'site/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ canonical }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/talk/list.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script src="/js/talk/list.js"></script>
{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="algolia_appid" content="{{ algolia_app_id }}" />
    <meta name="algolia_apikey" content="{{ algolia_api_key }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ canonical }}" />
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}/images/talks/thumbnail.jpg" />
    <meta property="og:description" content="Retrouvez l'ensemble des vidéos des conférences de l'AFUP" />
    <meta property="og:site_name" content="AFUP" />
{% endblock %}

{% block content %}
    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <h1>Historique des conférences</h1>

            <p>Retrouvez ici toutes les conférences passées de l'AFUP. Pour s'informer sur nos prochains évènements, rendez-vous sur <a href="http://event.afup.org">event.afup.org</a>.</p>

            <div class="container">
                <div class="col-sm-12 col-md-12">
                    <input type="text" id="search-box" />
                </div>
                <div class="col-md-8" id="hits-container"></div>
                <div class="col-md-4" id="refinements-container">
                    <div id="refinement-has-video"></div>
                    <div id="refinement-has-slides"></div>
                    <div id="refinement-has-blog-post"></div>
                    <div id="refinement-video-has-fr-subtitles"></div>
                    <div id="refinement-video-has-en-subtitles"></div>
                    <div id="refinement-event"></div>
                    <div id="refinement-type"></div>
                    <div id="refinement-language"></div>
                    <div id="refinement-speaker"></div>
                    <div id="refinement-clear"></div>
                </div>

            </div>

            <div id="pagination-container">
                <div id="pagination"></div>
            </div>

        </div>

        <hr width="50%">
        <div class="line" id="main">
            <h2>Retrouvez également les vidéos des conférences captées par nos antennes</h2>
            <p>
                Certaines de nos antennes locales filment les conférences qu’elles organisent : leurs captations sont ensuite mises en ligne sur leur chaîne YouTube. Découvrez toutes leurs vidéos et pensez à vous abonner pour ne rien manquer de leur futures publications !
            </p>

            <div class="super-apero-officies">
                <div class="container">
                    {% for antenne in antennes %}
                     {% if antenne.socials.youtube is not null %}
                        <div class="col-md-6 afup-office">
                            <div class="container">
                                <div class="col-sm-12 col-md-2 txtcenter">
                                    <img src="{{ antenne.logoUrl }}" alt="" />
                                </div>
                                <div class="col-sm-12 col-md-5 txtcenter">
                                    <h3 style="line-height: 4em; vertical-align: center">{{ antenne.label }}</h3>
                                </div>
                                <div class="col-sm-12 col-md-5 txtcenter">
                                    <a class="button-inverted" href="{{ antenne.socials.youtube }}">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;YouTube
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if loop.index is even %}
                            </div>
                            <div class="container">
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
