{% extends 'site/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/stars.css">
    <link rel="stylesheet" href="/css/talk/list.css">
    <link rel="stylesheet" href="/css/talk/show.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '315',
                width: '530',
                videoId: '{{ talk.youtubeId }}'
            });
        }

        $('.transcript p').on('click', function(e) {
            location.hash = "#player";
            player.seekTo($(e.target).data('cueStart'));
        })
    </script>
{% endblock %}

{% block title %}{{ talk.title }} - {{ event.title }}{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ talk.title }}">
    <meta name="twitter:description" content="{{ talk.description|striptags|raw }}">
    {% if talk.hasYoutubeId %}
        <meta name="twitter:image:src" content="https://img.youtube.com/vi/{{ talk.getYoutubeId }}/hqdefault.jpg">
    {% endif %}
    <meta name="twitter:domain" content="afup.org">

    <meta property="og:title" content="{{ talk.title }}" />
    <meta property="og:url" content="{{ url('talks_show', {id: talk.id, slug: talk.slug }) }}" />
    {% if talk.hasYoutubeId %}
        <meta property="og:image" content="https://img.youtube.com/vi/{{ talk.getYoutubeId }}/hqdefault.jpg" />
        <meta property="og:type" content="video.other" />
    {% else %}
        <meta property="og:type" content="article" />
    {% endif %}
    <meta property="og:description" content="{{ talk.description|striptags|raw }}" />
    <meta property="og:site_name" content="AFUP" />
{% endblock %}

{% block content %}
    <div class="mw1400p center" id="container">
        <div class="container">
            <div class="col-md-12 talk-title">
                <h1>{{ talk.title }}</h1>
            </div>

            {% if talk.hasYoutubeId %}
                <div class="col-md-6">
                    <h2>Vidéo</h2>
                    <div class="responsive-video-container">
                        <div id="player">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ talk.youtubeId }}"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-{% if talk.hasYoutubeId %}6{% else %}12{% endif %}">
                <div class="container">
                    <div class="col-md-12">
                        <h2>Description</h2>
                        {% if talk.useMarkdown %}
                            {{ talk.abstract|raw|markdown }}
                        {% else %}
                            {{ talk.abstract|raw }}
                        {% endif %}
                    </div>
                </div>
                <div class="container talk-date-container">
                    <div class="col-md-12">
                        Conférence donnée lors du <a href="{{ url('talks_list', {"fR": { "event.title" : [ event.title ]}}) }}">{{ event.title }}</a>,
                        ayant eu lieu {% if event.dateStart == event.dateEnd %}le {{ event.dateStart|date('d') }}{% else %}les {{ event.dateStart|date('d') }} et {{ event.dateEnd|date('d') }}{% endif %} {{ event.dateEnd|format_date('none', 'MMMM YYYY') }}.
                    </div>
                </div>

                {% if talk.hasSlidesUrl or talk.hasBlogPostUrl or talk.hasJoindinId or talk.getVideoHasEnSubtitles or talk.getVideoHasFrSubtitles or talk.hasOpenfeedbackPath %}
                <div class="container">
                    <div class="col-md-12">
                        <h2>Informations complémentaires</h2>
                        <ul class="talk-complementary-information">

                        {% if talk.hasSlidesUrl %}
                            <li>
                                <a class="talk-info-link" href="{{ talk.getSlidesurl }}"><i class="fa fa-slideshare"></i> Slides</a>
                            </li>
                        {% endif %}

                        {% if talk.hasBlogPostUrl %}
                            <li>
                                <a class="talk-info-link" href="{{ talk.getBlogPostUrl }}"><i class="fa fa-rss"></i> Article de blog</a>
                            </li>
                        {% endif %}

                        {% if talk.hasInterviewUrl %}
                            <li>
                                <a class="talk-info-link" href="{{ talk.getInterviewUrl }}"><i class="fa fa-newspaper-o"></i> Interview</a>
                            </li>
                        {% endif %}

                        {% if talk.hasJoindinId %}
                            <li>
                                <a class="talk-info-link" href="{{ talk.getJoindinUrl }}"><i class="fa fa-comments"></i> Fiche joind.in</a>
                            </li>
                        {% endif %}

                        {% if talk.hasOpenfeedbackPath %}
                            <li>
                                <a class="talk-info-link" href="{{ talk.getOpenfeedbackUrl }}"><i class="fa fa-comments"></i> Fiche openfeedback.io</a>
                            </li>
                        {% endif %}

                        <li><i class="fa fa-headphones"></i> Audio : {{ talk.getLanguageLabel|lower }}</li>

                        {% if talk.getVideoHasEnSubtitles %}
                            <li><i class="fa fa-cc"></i> Sous titres : anglais</li>
                        {% endif %}

                        {% if talk.getVideoHasFrSubtitles %}
                            <li><i class="fa fa-cc"></i> Sous titres : français</li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="container speaker-title-container">
                    <div class="col-md-12">
                        <h2>{% if speakers|length > 1 %}Les speakers{% else %}Le speaker{% endif %}</h2>
                    </div>
                </div>

                {% for speaker in speakers %}
                    <div class="container speaker-name-container">
                        <div class="col-md-12">
                            <h3 class="speaker-name">
                            {{ speaker.label }}
                            </h3>
                            {% if speaker.twitter %}
                                <a href="https://twitter.com/{{ speaker.twitter }}">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-2 speaker-photo-container">
                            {% if photo_storage.getUrl(speaker) %}
                                <img src="{{ photo_storage.getUrl(speaker) }}" class="speaker-photo" alt="" />
                            {% endif %}
                            <div class="speaker-talks-link">
                                <a href="{{ url('talks_list', {"fR": { "speakers.label" : [ speaker.label ]}}) }}">Voir tous ses talks</a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            {{ speaker.biography }}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>



        {% if talk.getTweetsHasArray|length > 0 %}
        <div class="container">
            <div class="col-md-12">
                <div class="container comments-title-container">
                    <div class="col-md-12">
                        <h2>Tweets</h2>
                    </div>
                </div>

                {% for tweets_batchs in talk.getTweetsHasArray|batch(4) %}
                    <div class="container">
                        {% for tweet in tweets_batchs %}
                            <div class="col-md-3">
                                <blockquote class="twitter-tweet">
                                    <a href="{{ tweet }}?ref_src=twsrc%5Etfw">{{ tweet}}</a>
                                </blockquote>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% endif %}

        {% if comments|length > 0 %}
            {% include 'common/star.html.twig' %}
            <div class="container">
                <div class="col-md-12">
                    <div class="container comments-title-container">
                        <div class="col-md-12">
                            <h2>Commentaires</h2>
                        </div>
                    </div>

                    {% for comment in comments %}
                        {% if comment.comment|length %}
                        <div class="container">
                            <div class="col-md-12 talk-comment-container">
                                <div class="talk-comment">{{ comment.comment }}</div>
                                <b>{{ comment.user_display_name }}</b>, <i> le {{ comment.created_date|date('d/m/Y') }}</i>

                                <div class="talk-comment-stars">
                                    <div class="stars">
                                        {% for i in 5..1 %}
                                            <span class="star {% if comment.rating >= i %}is-selected{% endif %}" href="#"><svg><use xlink:href="#star"></use></svg></span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}


        {% if transcript %}
        <div class="container">
            <div class="col-md-12">
                <div class="container comments-title-container">
                    <div class="col-md-12">
                        <h2>Transcription de la vidéo</h2>
                    </div>
                </div>

                <div class="container">
                    <div class="col-md-12 talk-comment-container transcript">
                        {% for cue in transcript %}
                            <p data-cue-start="{{ cue.start }}" style="cursor:pointer;">{{ cue.text }}</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if talk.verbatim %}
        <div class="container">
            <div class="col-md-12">
                <div class="container comments-title-container">
                    <div class="col-md-12">
                        <h2>Verbatim</h2>
                    </div>
                </div>

                <div class="container">
                    <div class="col-md-12">
                        {{ talk.verbatim|markdown }}
                    </div>

                </div>
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}
