<div class="col-md-4">
    <h2>{{ 'Voter pour les conférences'|trans }}</h2>
    <ul class="list-group">
        <li class="list-group-item first"><a href="{{ url('vote_index', {eventSlug: event.path }) }}">{{ 'Les nouvelles conférences'|trans }}
            </a>
        </li>

        <li class="list-group-item"><a href="{{ url('vote_all', {eventSlug: event.path}) }}">{{ 'Toutes les conférences'|trans }}
            </a>
        </li>
    </ul>

    <div style="padding: 10px">
        <p><strong>Quelle influence ont les votes sur le programme ?</strong></p>

        <p>
            À la fin de l’appel à conférences, l’équipe de programmation se réunit et sélectionne les propositions qui seront intégrées au programme.
            L’équipe ne choisit pas forcément les propositions les mieux notées : les votes n’ont pas de pouvoir décisionnaire.
            Ils nous permettent cependant de dégager des tendances, de comprendre quels sont les sujets intéressants pour le public,
            de mettre en évidence certaines propositions ou de confirmer l’intérêt que l’équipe ressent pour une soumission.
        </p>
        <p>
            Vous pouvez trouver plus d’informations sur le processus de sélection sur
            <a href="https://event.afup.org/processus-de-selection/">cette page</a>.
        </p>
    </div>

</div>
