<div class="event--vote">
    <div class="event--vote-details">
        <h3>{{ talk.talk.getTitle }}</h3>
        <div class="event--vote-meta">
            {{ talk.talk.skillTranslationKey|trans }} - {{ talk.talk.typeTranslationKey|trans }}
        </div>
        <div class="event--vote-abstract">
        {% if talk.talk.useMarkdown %}
            {{ talk.talk.getAbstract|raw|markdown }}
        {% else %}
            {{ talk.talk.getAbstract|raw }}
        {% endif %}
        </div>
    </div>
    <div class="event--vote-form">
        {{ form_start(talk.form) }}
            {{ form_row(talk.form.comment) }}


            <div class="event--vote-stars">
                <div style="display: inline-block">
                    <div class="stars stars-editable">
                        <a class="star" href="#"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="#"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="#"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="#"><svg><use xlink:href="#star"></use></svg></a>
                        <a class="star" href="#"><svg><use xlink:href="#star"></use></svg></a>
                    </div>
                </div>
            </div>

        <p class="event--vote-warning">
            Attention, le <a href="http://coc.afup.org/">code de conduite de l’AFUP</a> s’applique à cet espace de votes.<br />
            Les personnes soumettant les sujets ont accès aux notes et aux commentaires.
        </p>

            {{ form_rest(talk.form) }}
        {{ form_end(talk.form) }}
    </div>
</div>
