{% extends ':site:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/talk/list.css">
    <link rel="stylesheet" href="/css/meetups/list.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script src="/js/meetups/list.js"></script>
{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="algolia_appid" content="{{ algolia_app_id }}" />
    <meta name="algolia_apikey" content="{{ algolia_api_key }}" />
{% endblock %}

{% block content %}
    {{ render(controller(
        'AppBundle\\Controller\\SecondaryMenuController::displayAction',
        { 'feuille_id': constant('AppBundle\\Site\\Model\\Feuille::ID_FEUILLE_ANTENNES') }
    )) }}

    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <h1>Antennes</h1>
            <p>Retrouvez ici toutes les meetups des antennes de l'AFUP.</p>

            {% if source == 'aperophp.net' %}
                <blockquote>
                    <p>aperophp.net évolue et s'adapte aux nouvelles pratiques des antennes : retrouvez désormais l'ensemble des apéros PHP et meetups organisés par les antennes de l'AFUP sur cette page.</p>
                </blockquote>
            {% endif %}

            <div class="container">

                <div class="col-sm-12 col-md-12">
                    <input type="text" id="search-box" />
                </div>
                <div class="col-md-10" id="hits-container"></div>
                <div class="col-md-2" id="refinements-container">
                    <div id="refinement-is-upcoming"></div>
                    <div id="refinement-office"></div>
                    <div id="refinement-year"></div>
                    <div id="refinement-clear"></div>
                </div>

            </div>

            <div id="pagination-container">
                <div id="pagination"></div>
            </div>

        </div>
    </div>
{% endblock %}
