<!DOCTYPE html>
<html lang="fr" ng-app="planningPHPTourApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,follow">
    <title>Planning {{ event.title }}</title>

    <!-- Bootstrap -->
    <link href="/assets/calendrier/css/bootstrap.min.css" rel="stylesheet">
    <link href="/calendrier/vendor/fullcalendar/fullcalendar.css" rel="stylesheet">


    <!-- Styles -->
    <link href="/calendrier/css/styles.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/calendrier/css/print.css"  rel="stylesheet" type="text/css" media="print"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="planningCtrl"
      data-planning-url="{{ url('planning_json', {eventSlug: event.path}) }}"
      data-event-from-year="{{ event.dateStart|date('Y') }}"
      data-event-from-month="{{ event.dateStart|date('m') }}"
      data-event-from-date="{{ event.dateStart|date('d') }}"
>
<div class="container-fluid fill">
    <div ng-class="hideSession ? fullSizeCalendarClass : normalSizeCalendarClass" class="agenda fill">
        <div class="header">
            <div class="logo-php">
                <img class="img-responsive" src="{{ event.logoUrl }}" alt="{{ event.title }}"/>
            </div>
            <h2 id="title" class="text-center">
                {{ event.title }}
            </h2>
            <div class="norsys">
                <span id="toggleView" ng-class="hideSession ? changeViewIconLeft : changeViewIconRight" ng-click="changeView()" class="icon-click glyphicon pull-right"></span>
            </div>
        </div>
        <fullcalendar></fullcalendar>
    </div>
    <div ng-class= "{'hideSession': hiddenClass}" class="col-md-5 session fill">
        <div id="search">
            <form class="form-inline" role="form">
                <h4>Outil de recherche</h4>
                <div class="form-group">
                    <label class="control-label" for="searchDetail">Rechercher : </label>
                    <div>
                        <input id="searchDetail" ng-model="search">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="searchConferencier"> Conferencier : </label>
                    <div>
                        <select id="searchConferencier" ng-model="selectedConferencier" ng-options="conferencier.name as conferencier.name for conferencier in conferenciers | orderBy:'name' | unique:'name'">
                            <option value="">Tous</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="searchSalle"> Salles : </label>
                    <div>
                        <select id="searchSalle" ng-model="searchSalle" ng-options="conf.salle as conf.salle for conf in confs | orderBy:'salle' | unique:'salle'">
                            <option value="">Toutes</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="searchLang"> Langue : </label>
                    <div>
                        <select id="searchLang" ng-model="selectedLang" ng-options="conf.lang as conf.lang for conf in confs | orderBy:'lang' | unique:'lang'">
                            <option selected value="">Toutes</option>
                        </select>
                    </div>
                </div>
            </form>
            <!-- <button id="btnPrint" type="button" class="btn btn-primary btn-sm print" id="print" ng-click="print()">Imprimer mon calendrier</button> -->
        </div>
        <div class="well profile" ng-repeat="conf in confs | langueFilter:selectedLang | filter:searchSalle | textFilter:search | conferencierFilter:selectedConferencier | orderBy:conf.date_start" ng-include="'/calendrier/partials/session.html'"></div>
    </div>
</div><!-- /.container -->

<!-- jQuery -->
<script src="/assets/calendrier/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/assets/calendrier/js/bootstrap.min.js"></script>
<!-- angular -->
<script src="/assets/calendrier/js/angular.min.js"></script>
<script src="/calendrier/vendor/angular-ui-utils/ui-utils.js"></script>
<!-- fullcalendar -->
<script src="/calendrier/vendor/fullcalendar/fullcalendar.js"></script>
<!-- app -->
<script src="/calendrier/js/app.js"></script>
<script src="/calendrier/js/libs/objectStorage.js"></script>
<script src="/calendrier/js/filters/ConferencierFilter.js"></script>
<script src="/calendrier/js/filters/LangueFilter.js"></script>
<script src="/calendrier/js/filters/TextFilter.js"></script>
<script src="/calendrier/js/directives/FullCalendarDirective.js"></script>
<script src="/calendrier/js/directives/SessionButtonDirective.js"></script>
<script src="/calendrier/js/services/FullCalendarService.js"></script>
<script src="/calendrier/js/controllers/PlanningCtrl.js"></script>
</body>
</html>
