{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    {% set token_delete=csrf_token('forum_delete') %}
    <h2>Liste des évènements</h2>

    <div class="ui menu">
        <a href="{{ path('admin_event_new') }}" class="item">
            <div data-tooltip="Ajouter un forum" data-position="bottom left">
                <i class="icon plus square"></i>
                Ajouter
            </div>
        </a>
    </div>

    <div class="ui message">
        <p>On ne peut pas supprimer d'évènement pour lequel des éléments ont été associés.</p>
    </div>

    <table class="ui table striped celled">
        <thead>
        <tr>
            <th>Évènement</th>
            <th>Chemin</th>
            <th class="right aligned">Places</th>
            <th>Date début</th>
            <th>Date Fin</th>
            <th>Fin CFP</th>
            <th>Fin vente</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr class="{% if event.archived_at %}warning{% endif %}">
                <td>
                    <strong {% if event.archived_at %}data-tooltip="Archivé depuis le {{ event.archived_at|date("d/m/Y") }}" data-position="top left"{% endif %}>
                        {{ event.titre }}
                    </strong>
                </td>
                <td>{{ event.path }}</td>
                <td class="right aligned">{{ event.nb_places }}</td>
                <td>{{ event.date_debut|date("d/m/Y") }}</td>
                <td>{{ event.date_fin|date("d/m/Y") }}</td>
                <td>{{ event.date_fin_appel_conferencier|date("d/m/Y H:i:s") }}</td>
                <td>{{ event.date_fin_vente|date("d/m/Y H:i:s") }}</td>
                <td style="text-align: right" nowrap="nowrap">
                    <a href="{{ path('admin_event_edit', {'id': event.id}) }}"
                       data-tooltip="Modifier le forum {{ event.titre }}"
                       data-position="left center"
                       class="compact ui icon button"
                    >
                        <i class="pencil alernate icon"></i>
                    </a>

                    {% if event.est_supprimable %}
                        <a href="{{ path('admin_event_delete', {'id': event.id, 'token': token_delete}) }}"
                           data-position="left center"
                           data-tooltip="Supprimer le forum {{ event.titre }}"
                           class="compact ui red icon button confirmable"
                           data-confirmable-label="Etes-vous sûr de vouloir supprimer ce forum ?"
                        >
                            <i class="trash icon"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="10" style="text-align: center;">
                    <div class="ui icon header">
                        <i class="meh outline icon"></i>
                        Aucune information. {% if event == null %}Essayez de changez d'évènement !{% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}


