{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Venue speakers</h2>
    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    <table class="ui table striped compact celled afup-tab-filterable">
        <thead>
            <tr>
                <th data-tf-filter-type="input">Speaker</th>
                <th data-tf-filter-type="select" class="center aligned">Personne référente</th>
                <th data-tf-filter-type="select" class="center aligned">{{ 'Phone'|trans }}</th>
                <th data-tf-filter-type="select" class="center aligned">Venue au restaurant ?</th>
                <th data-tf-filter-type="select" class="center aligned">A un régime spécifique ?</th>
                <th class="center aligned">Précisions régime</th>
                <th data-tf-filter-type="select" class="center aligned">Nuit d'hotel la veille ?</th>
                <th data-tf-filter-type="select" class="center aligned">Nuit d'hotel entre les deux jours ?</th>
                <th data-tf-filter-type="select" class="center aligned">Nuit d'hotel après l'évènement ?</th>
                <th data-tf-filter-type="select" class="center aligned">Pas de nuit d'hotel ?</th>
                <th data-tf-filter-type="select" class="center aligned">Justificatifs envoyés ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.speaker.label }}</td>
                <td class="center aligned">
                    {% if speaker.speaker.referentPerson is empty %}
                        <span class="ui red label">N/A</span>
                    {% else %}
                        {{ speaker.speaker.referentPerson }}
                        {% if speaker.speaker.referentPersonEmail %}
                            ({{ speaker.speaker.referentPersonEmail }})
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center aligned">
                    {% if speaker.speaker.phoneNumber is empty %}
                        <span class="ui red label">N/A</span>
                    {% else %}
                        {{ speaker.speaker.phoneNumber }}
                    {% endif %}
                </td>
                <td class="center aligned">
                    <span class="ui {% if speaker.speaker.willAttendSpeakersDiner is null %}red{% endif %} label">
                    {% if speaker.speaker.willAttendSpeakersDiner is null %}
                        N/A
                    {% elseif speaker.speaker.willAttendSpeakersDiner  %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td class="center aligned">
                    <span class="ui {% if speaker.speaker.hasSpecialDiet is null %}red{% endif %} label">
                    {% if speaker.speaker.hasSpecialDiet is null %}
                        N/A
                    {% elseif speaker.speaker.hasSpecialDiet %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td class="center aligned">
                    {% if speaker.speaker.hasSpecialDiet and speaker.speaker.specialDietDescription is null %}
                        <span class="ui red label">N/A</span>
                    {% else %}
                        {% if speaker.speaker.specialDietDescription %}
                            {{ speaker.speaker.specialDietDescription }}
                        {% else %}
                            <span class="ui label">N/A</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center aligned">
                    <span {% if speaker.speaker.hasHotelNightBefore is null %}class="ui red label" {% endif %}>
                    {% if speaker.speaker.hasHotelNightBefore is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightBefore %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui {% if speaker.speaker.hasHotelNightBetween is null %}red{% endif %} label">
                    {% if speaker.speaker.hasHotelNightBetween is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightBetween %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui {% if speaker.speaker.hasHotelNightAfter is null %}red{% endif %} label">
                    {% if speaker.speaker.hasHotelNightAfter is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightAfter %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui {% if speaker.speaker.hasNoHotelNight is null %}red{% endif %} label">
                    {% if speaker.speaker.hasNoHotelNight is null %}
                        N/A
                    {% elseif speaker.speaker.hasNoHotelNight %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui label">
                    {% if speaker.hasExpensesFiles %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td>
                    <a href="{{ path('admin_event_speaker_infos', {speaker_id: speaker.speaker.id, id: event.id }) }}"
                       data-position="left center"
                       data-tooltip="Voir sa page"
                       class="compact ui icon button"
                    >
                        <i class="user secret icon"></i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="12" style="text-align: center;">
                    <div class="ui icon header">
                        <i class="meh outline icon"></i>
                        Aucune information. {% if event == null %}Essayez de changez d'évènement !{% endif %}
                    </div>
                </td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
