{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Suivi</h2>
    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    {% if event == null %}
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="meh outline icon"></i>
               Changez d'évènement pour afficher les données.
            </div>
        </div>
    {% else %}
        <div class="ui segment">
            <h2 class="ui header">Évolution des inscriptions</h2>
            {% include 'admin/event/compare_event.html.twig' with {form: event_compare_form} only %}
            <div class="ui clearing divider"></div>
            <div id="container"></div>
        </div>

        <div class="ui segment">
            <h2 class="ui header">Jours de vente restants</h2>
            <div class="ui clearing divider"></div>

            {% set percentage = ( (stats.min - stats.daysToEndOfSales) / stats.min * 100)|round %}
            <div class="ui teal progress" data-percent="{{ percentage }}">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">{{ stats.daysToEndOfSales * -1 }} jours restants sur {{ stats.min * -1 }}</div>
            </div>
        </div>

        <div class="ui segment">
            <h2 class="ui header">Progression des ventes: Jour 1</h2>
            <div class="ui clearing divider"></div>
            {% set percentage = seats.available > 0 ? ( (seats.one) / seats.available * 100)|round : 0 %}
            <div class="ui teal progress" data-percent="{{ percentage }}">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">{{ seats.one }} places vendues sur {{ seats.available }}</div>
            </div>
        </div>

        <div class="ui segment">
            <h2 class="ui header">Progression des ventes: Jour 2</h2>
            <div class="ui clearing divider"></div>

            {% set percentage = seats.available > 0 ? ( (seats.two) / seats.available * 100)|round : 0 %}
            <div class="ui teal progress" data-percent="{{ percentage }}">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">{{ seats.two }} places vendues sur {{ seats.available }}</div>
            </div>
        </div>

        <div class="ui segment">
            <h2 class="ui header">Répartition des billets</h2>
            <div class="ui clearing divider"></div>
            <div id="pieChartContainer"></div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    var chartLines = new Highcharts.Chart( {{ chartConf|json_encode|raw }} );
    var chartPie = new Highcharts.Chart('pieChartContainer', {{ pieChartConf | json_encode | raw }});

    $(document).ready(function() {
        $('.ui.progress').progress();
    })
</script>
{% endblock %}
