{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    {% set token_delete=csrf_token('forum_delete') %}
    <h2>Liste des thèmes</h2>

    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}
    <div class="ui menu">
        <a href="{{ path('admin_event_themes_add', {'idForum': event.id}) }}" class="item">
            <div data-tooltip="Ajouter un thème" data-position="bottom left">
                <i class="icon plus square"></i>
                Ajouter
            </div>
        </a>
    </div>

    <div class="ui message">
        <p>On ne peut pas supprimer d'évènement pour lequel des éléments ont été associés.</p>
    </div>

    <table class="ui table striped celled">
        <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.name }}</td>
                <td style="text-align: right" nowrap="nowrap">
                    <a href="{{ path('admin_event_themes_edit', {'id': theme.id}) }}"
                       data-tooltip="Modifier le theme {{ theme.name }}"
                       data-position="left center"
                       class="compact ui icon button"
                    >
                        <i class="pencil alernate icon"></i>
                    </a>{#

                    {% if event.est_supprimable %}
                        <a href="{{ path('admin_event_delete', {'id': event.id, 'token': token_delete}) }}"
                           data-position="left center"
                           data-tooltip="Supprimer le forum {{ event.titre }}"
                           class="compact ui red icon button confirmable"
                           data-confirmable-label="Etes-vous sûr de vouloir supprimer ce forum ?"
                        >
                            <i class="trash icon"></i>
                        </a>
                    {% endif %}#}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="10" style="text-align: center;">
                    <div class="ui icon header">
                        <i class="meh outline icon"></i>
                        Aucune information. {% if event == null %}Essayez de changez d'évènement !{% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}


