{% extends 'site/base.html.twig' %}

{% block title %}{{ article.title }} - AFUP{% endblock %}

{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}" media="all" />
{% endblock %}

{% block content %}
{{ render(controller(
    'AppBundle\\Controller\\Website\\SecondaryMenuController::display',
    { 'feuille_id': rubrique.feuilleAssociee }
)) }}
<div class="mw1400p center" id="container">
    <div class="line" id="main">
        <h1>{{ rubrique.nom }}</h1>
        <h2>{{ article.title }}</h2>

        {% if article.contentTypeMarkdown %}
            {{ article.content|markdown|raw }}
        {% else %}
            {{ article.content|raw }}
        {% endif %}
    </div>
</div>
{% endblock %}
