{% include 'legacy/forumphp2008/entete.html.twig' %}
<div id="cartouche-milieu">
    {% include 'legacy/forumphp2008/cartouche.html.twig' %}
	<h1>&nbsp;&nbsp;Les conf&eacute;renciers</h1>

	<div class="conferenciers">
    {% for conferencier in conferenciers %}
    <div class="conferencier">
    	<a name="{{ conferencier.conferencier_id }}}" />
    	<h3>
    		{{ conferencier.prenom|raw }} {{ conferencier.nom|raw }}
    	</h3>
    	<div class="societe">
			{{ conferencier.societe|raw }}
		</div>
	    <ul class="conferencier_sessions">
        {% for session in conferencier.sessions %}
	    <li class="conferencier_session">
			<a href="{{ path('legacy_event', {year: 2008, page: 'sessions.php'}) }}#{{ session.id }}">{{ session.titre|raw }}</a>
		</li>
	    {% endfor %}
		</ul>
		<div class="spacer"></div>
		<div class="biographie">
			{{ conferencier.biographie|raw }}
		</div>
		<div class="photo">
			<img src="/templates/forumphp2008/images/intervenants/{{ conferencier.conferencier_id }}}.jpg" border="0" align="left" />
		</div>
		<div class="spacer"></div>
	</div>
    {% endfor %}
	</div>

</div>
{% include 'legacy/forumphp2008/pied_de_page.html.twig' %}
