{% extends 'base.html.twig' %}

{% block title %}Afup - Association française des utilisateurs de PHP{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Podkova:400,700|Glegoo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
    <link rel="stylesheet" href="{{ asset('templates/site/css/styles.css') }}?v={{ asset_md5_start('templates/site/css/styles.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('templates/site/css/global-menu.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('/css/grid.css') }}?v={{ asset_md5_start('css/grid.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}?v={{ asset_md5_start('css/forms_company.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('templates/site/css/styles-without-compass.css') }}" media="all">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/site/layout.js"></script>
{% endblock %}

{% block header %}
    {% autoescape false %}
    <header>
        <div class="mw1400p center">
            <div id="espace-membre" class="w33 tablet-hidden">
                {% if app.user %}
                    {% if app.user.canAccessAdmin %}
                        <a href="{{ path('admin_home') }}" class="header-button header-button__connect">Administration</a>
                    {% endif %}
                    <a href="{{ path('admin_logout') }}" class="header-button header-button__connect">Se déconnecter</a>
                {%  else  %}
                    <a href="{{ path('member_index') }}" class="header-button header-button__connect">Se connecter</a>
                    <a href="{{ path('become_member') }}" class="header-button header-button__become-member">Adhérer</a>
                {% endif %}
            </div>
            <a href="{{ path('home') }}" id="logo">
                <img src="{{ asset('templates/site/img/logo-afup.svg') }}" alt="AFUP: Association française des utilisateurs de PHP" />
                <img src="{{ asset('templates/site/img/logo-afup-mobile.svg') }}" alt="AFUP: Association française des utilisateurs de PHP" class="mobile" />
            </a>
            <a href="#body" class="nav-button-open" aria-label="open navigation"></a>
            <a href="#" class="nav-button-close" aria-label="close navigation"></a>
            <div class="clear" style="height:0;">&nbsp;</div>
        </div>
    </header>
    <nav id="subheader">
        <div class="mw1400p center">
            {{ header }}
        </div>
    </nav>
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% autoescape false %}
        <div class="mw1400p center" id="container">
            <div class="line">
                <div id="main" class="mod item left content w66 m50 t100">
                    {% block inner_content %}
                        {{ content }}
                    {% endblock %}
                </div>
                <aside id="sidebar-article" class="mod item w33 m50 t100">
                    <h2>L'afup organise...</h2>
                    {{ sidebar.naviguer(1, 2, "externe", "") }}
                </aside>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        <footer>
            <div class="pre-footer-container">
                <div class="mw1400p center">
                    <div class="container pre-footer">
                        <div class="col-md-1 tablet-hidden">
                            <img src="{{ asset('templates/site/img/logo-afup-light.svg') }}" alt="" />
                        </div>
                        <div class="col-md-6 tablet-hidden">
                            <label class="pre-footer-newsletter-title" for="subscriber_email">Inscription à la newsletter</label>
                            {{ render(controller('AppBundle\\Controller\\Website\\NewsletterController::subscribeForm')) }}
                            <span class="pre-footer-newsletter-caption">Tous les trois mois, des nouvelles de L'AFUP</span>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="https://www.linkedin.com/company/afup" class="pre-footer-social-network" title="Accédez au compte Linkedin de l'AFUP"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="https://mastodon.online/@afup" class="pre-footer-social-network"  title="Accédez au compte Mastodon de l'AFUP"><i class="fab fa-mastodon"></i></a>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="https://bsky.app/profile/afup.org" class="pre-footer-social-network"  title="Accédez au compte Bluesky de l'AFUP">
                                <svg style="height:65px; fill:white; padding:0 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/></svg>
                            </a>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="https://www.instagram.com/afup_php/" class="pre-footer-social-network"  title="Accédez au compte Instagram de l'AFUP"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="{{ path('feed_rss') }}" class="pre-footer-social-network"  title="Accédez au flux RSS de l'AFUP"><i class="fas fa-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mw1400p center footer-nav">
                <div class="container">
                    {% for footer_column in footer %}
                    <div class="col-md-4 col-sm-12">
                        <h2>{{ footer_column.nom }}</h2>
                        <ul>
                            {% for item in footer_column.items %}
                                <li><a href="{{ item.lien }}">{{ item.nom }}<i class="fa fa-chevron-right"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>

                <div id="hosting">
                    Hébergé sur <a href="https://www.clever-cloud.com/">Clever Cloud</a>
                </div>

                <div id="copyright">© AFUP 2003-{{ date()|date('Y') }}</div>
            </div>
        </footer>
    {% endautoescape %}
{% endblock %}
