{% extends 'site/base.html.twig' %}

{% block title %}Plan du site de l'AFUP{% endblock %}

{% macro list(items) %}
    <ul>
        {% for item in items %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <h1>Plan du site</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ _self.list(pages) }}

                    <h2><a href="{{ path('become_member') }}">Adhérer à l'AFUP</a></h2>
                    <ul>
                        <li><a href="{{ path('member_membership') }}">Adhérer en tant que particulier</a></li>
                        <li><a href="{{ path('company_membership') }}">Adhérer en tant qu'entreprise</a></li>
                        <li><a href="{{ path('admin_login') }}">Se connecter</a></li>
                    </ul>

                    <h2><a href="{{ path('talks_list') }}">Historique des conférences</a></h2>
                    {{ _self.list(talks) }}
                </div>
                <div class="col-md-6">
                    <h2>Association</h2>
                    {{ _self.list(association) }}

                    <h2><a href="{{ path('company_public_profile_list') }}">Entreprises adhérentes</a></h2>
                    {{ _self.list(members) }}

                    <h2><a href="{{ path('news_list') }}">Actualités</a></h2>
                    {{ _self.list(news) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
