{% extends '::base.html.twig' %}

{% block title %}Afup - Association française des utilisateurs de PHP{% endblock %}

{% block stylesheets %}
    <!--[if lt IE 9]><script src="{{ asset('templates/site/js/html5shiv.js') }}"></script><![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Podkova:400,700|Glegoo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
    <link rel="stylesheet" href="{{ asset('templates/site/css/styles.css') }}?v={{ asset_md5_start('templates/site/css/styles.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('templates/site/css/global-menu.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('/css/grid.css') }}?v={{ asset_md5_start('css/grid.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}?v={{ asset_md5_start('css/forms_company.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('templates/site/css/styles-without-compass.css') }}" media="all">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/site/layout.js"></script>
{% endblock %}

{% block header %}
    {% autoescape false %}
    <header>
        <div class="mw1400p center">
            <div id="espace-membre" class="w33 tablet-hidden">
                {% if app.user %}
                    {% if app.user.canAccessAdmin %}
                        <a href="{{ path('admin_home') }}" class="header-button header-button__connect">Administration</a>
                    {% endif %}
                    <a href="{{ path('admin_logout') }}" class="header-button header-button__connect">Se déconnecter</a>
                {%  else  %}
                    <a href="{{ path('member_index') }}" class="header-button header-button__connect">Se connecter</a>
                    <a href="{{ path('become_member') }}" class="header-button header-button__become-member">Adhérer</a>
                {% endif %}
            </div>
            <a href="/" id="logo">
                <img src="{{ asset('templates/site/img/logo-afup.svg') }}" alt="AFUP: Association française des utilisateurs de PHP" />
                <img src="{{ asset('templates/site/img/logo-afup-mobile.svg') }}" alt="AFUP: Association française des utilisateurs de PHP" class="mobile" />
            </a>
            <a href="#body" class="nav-button-open" aria-label="open navigation"></a>
            <a href="#" class="nav-button-close" aria-label="close navigation"></a>
            <div class="clear" style="height:0;">&nbsp;</div>
        </div>
    </header>
    <nav id="subheader">
        <div class="mw1400p center">
            {{ header }}
        </div>
    </nav>
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% autoescape false %}
        <div class="mw1400p center" id="container">
            <div class="line">
                <div id="main" class="mod item left content w66 m50 t100">
                    {% block inner_content %}
                        {{ content }}
                    {% endblock %}
                </div>
                <aside id="sidebar-article" class="mod item w33 m50 t100">
                    <h2>L'afup organise...</h2>
                    {{ sidebar.naviguer(1, 2, "externe", "") }}
                </aside>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        <footer>
            <div class="pre-footer-container">
                <div class="mw1400p center">
                    <div class="container pre-footer">
                        <div class="col-md-1 tablet-hidden">
                            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                            <svg
                                xmlns:svg="http://www.w3.org/2000/svg"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 57.349499 64.00337"
                                xml:space="preserve"
                                version="1.1"
                                width="57.349499"
                                height="64.003372"
                            >
                                <g transform="matrix(1.25,0,0,-1.25,14.3375,40.279375)" style="fill:#ffffff">
                                   <path d="m 0,0 0,0 -10.702,-6.178 c 0.496,-0.858 1.212,-1.587 2.1,-2.1 L 0,-13.244 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,1.2e-4,32.001625)" style="fill:#ffffff">
                                    <path d="m 0,0 0,-9.933 c 0,-1.025 0.273,-2.01 0.768,-2.868 L 11.47,-6.622 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,14.3375,40.279375)" style="fill:#ffffff">
                                    <path d="M 0,0 0,13.244 -11.47,6.622 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,14.3375,56.834625)" style="fill:#ffffff">
                                    <path d="M 0,0 0,0 8.602,-4.967 C 9.49,-5.479 10.48,-5.735 11.47,-5.735 l 0,12.357 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,0.96062,16.000875)" style="fill:#ffffff">
                                    <path d="m 0,0 c -0.495,-0.857 -0.768,-1.843 -0.768,-2.867 l 0,-9.934 11.47,6.622 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,43.012,56.834625)" style="fill:#ffffff">
                                    <path d="M 0,0 0,13.244 -11.47,6.622 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,56.38887,48.002375)" style="fill:#ffffff">
                                    <path d="m 0,0 c 0.495,0.857 0.768,1.843 0.768,2.867 l 0,9.934 L -10.701,6.178 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,43.012,40.279375)" style="fill:#ffffff">
                                    <path d="m 0,0 0,-13.244 8.602,4.966 c 0.888,0.513 1.604,1.242 2.099,2.1 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,43.012,23.724)" style="fill:#ffffff">
                                    <path d="M 0,0 0,0 0,-13.244 11.47,-6.622 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,28.67475,48.556875)" style="fill:#ffffff">
                                    <path d="m 0,0 0,-12.357 c 0.99,0 1.98,0.256 2.867,0.768 L 11.47,-6.622 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,28.67475,15.446375)" style="fill:#ffffff">
                                    <path d="m 0,0 -11.47,6.622 0,-13.244 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,28.67475,15.446375)" style="fill:#ffffff">
                                    <path d="m 0,0 11.47,-6.622 0,13.244 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,0.96062,16.000875)" style="fill:#ffffff">
                                    <path d="m 0,0 10.702,-6.179 0,13.245 L 2.099,2.099 C 1.212,1.587 0.495,0.857 0,0" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,43.012,23.724)" style="fill:#ffffff">
                                    <path d="m 0,0 11.47,-6.622 0,9.933 c 0,1.024 -0.273,2.01 -0.769,2.867 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,43.012,23.724)" style="fill:#ffffff">
                                    <path d="M 0,0 10.701,6.178 C 10.206,7.036 9.49,7.765 8.602,8.278 L 0,13.244 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,14.3375,40.279375)" style="fill:#ffffff">
                                    <path d="m 0,0 11.47,-6.622 0,9.933 c 0,1.025 -0.273,2.01 -0.769,2.868 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,14.3375,40.279375)" style="fill:#ffffff">
                                    <path d="M 0,0 10.701,6.179 C 10.206,7.036 9.49,7.765 8.602,8.278 L 0,13.244 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,43.012,7.16875)" style="fill:#ffffff">
                                    <path d="M 0,0 -8.603,4.967 C -9.49,5.479 -10.48,5.735 -11.47,5.735 l 0,-12.357 L 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,28.67475,15.446375)" style="fill:#ffffff">
                                    <path d="m 0,0 0,12.357 c -0.99,0 -1.98,-0.256 -2.867,-0.768 L -11.47,6.622 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                                <g transform="matrix(1.25,0,0,-1.25,14.3375,56.834625)" style="fill:#ffffff">
                                    <path d="M 0,0 11.47,6.622 0,13.244 0,0 Z" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                </g>
                            </svg>
                        </div>
                        <div class="col-md-7 tablet-hidden">
                            <label class="pre-footer-newsletter-title" for="subscriber_email">Inscription à la newsletter</label>
                            {{ render(controller('AppBundle:Newsletter:subscribeForm')) }}
                            <span class="pre-footer-newsletter-caption">Tous les trois mois, des nouvelles de L'AFUP</span>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="https://twitter.com/afup" class="pre-footer-social-network" title="Accédez au compte Twitter de l'AFUP"><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="https://mastodon.online/@afup" class="pre-footer-social-network"  title="Accédez au compte Mastodon de l'AFUP"><i class="fab fa-mastodon"></i></a>
                        </div>
                        <div class="col-md-1 pre-footer-icon">
                            <a href="{{ path('feed_rss') }}" class="pre-footer-social-network"  title="Accédez au flux RSS de l'AFUP"><i class="fas fa-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mw1400p center footer-nav">
                <div class="container">
                    {% for footer_column in footer %}
                    <div class="col-md-4 col-sm-12">
                        <h2>{{ footer_column.nom }}</h2>
                        <ul>
                            {% for item in footer_column.items %}
                                <li><a href="{{ item.lien }}">{{ item.nom }}<i class="fa fa-chevron-right"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>

                <div id="hosting">
                    Hébergé sur <a href="https://www.clever-cloud.com/">Clever Cloud</a>
                </div>

                <div id="copyright">© AFUP 2003-{{ date()|date('Y') }}</div>
            </div>
        </footer>
    {% endautoescape %}
{% endblock %}
