{% extends '::base.html.twig' %}

{% block title %}Afup - Association française des utilisateurs de PHP{% endblock %}

{% block stylesheets %}
    <!--[if lt IE 9]><script src="{{ asset('templates/site/js/html5shiv.js') }}"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Podkova:400,700|Glegoo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('templates/site/css/styles.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all" />
    <link rel="stylesheet" href="{{ asset('templates/site/css/styles-without-compass.css') }}" media="all">
{% endblock %}

{% block header %}
    {% autoescape false %}
    <header>
        <div class="mw1400p center">
            <div id="espace-membre" class="w33">
                <p>Espace membre</p>
                {{ community }}
            </div>
            <h1 id="logo">
                <a href="/">
                    <svg
                            xmlns:dc="http://purl.org/dc/elements/1.1/"
                            xmlns:cc="http://creativecommons.org/ns#"
                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 440 71.999997"
                            xml:space="preserve"
                            version="1.1"
                            id="svg149229"><title
                                id="title4275">Association Française des Utilisateurs de PHP</title><metadata
                                id="metadata149235"><rdf:RDF><cc:Work
                                        rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
                                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title>Association Française des Utilisateurs de PHP</dc:title><cc:license
                                            rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/" /><dc:description>Association Française des Utilisateurs de PHP</dc:description></cc:Work><cc:License
                                        rdf:about="http://creativecommons.org/publicdomain/zero/1.0/"><cc:permits
                                            rdf:resource="http://creativecommons.org/ns#Reproduction" /><cc:permits
                                            rdf:resource="http://creativecommons.org/ns#Distribution" /><cc:permits
                                            rdf:resource="http://creativecommons.org/ns#DerivativeWorks" /></cc:License></rdf:RDF></metadata><defs
                                id="defs149233" /><g
                                id="g149435"
                                transform="matrix(1.25,0,0,-1.25,149.06644,44.277685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 0,0 -10.702,-6.178 c 0.496,-0.858 1.212,-1.587 2.1,-2.1 L 0,-13.244 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149437" /></g><g
                                id="g149439"
                                transform="matrix(1.25,0,0,-1.25,134.72906,35.999935)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 0,-9.933 c 0,-1.025 0.273,-2.01 0.768,-2.868 L 11.47,-6.622 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149441" /></g><g
                                id="g149443"
                                transform="matrix(1.25,0,0,-1.25,149.06644,44.277685)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 0,13.244 -11.47,6.622 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149445" /></g><g
                                id="g149447"
                                transform="matrix(1.25,0,0,-1.25,149.06644,60.832935)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 0,0 8.602,-4.967 C 9.49,-5.479 10.48,-5.735 11.47,-5.735 l 0,12.357 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149449" /></g><g
                                id="g149451"
                                transform="matrix(1.25,0,0,-1.25,135.68956,19.999185)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 c -0.495,-0.857 -0.768,-1.843 -0.768,-2.867 l 0,-9.934 11.47,6.622 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149453" /></g><g
                                id="g149455"
                                transform="matrix(1.25,0,0,-1.25,177.74094,60.832935)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 0,13.244 -11.47,6.622 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149457" /></g><g
                                id="g149459"
                                transform="matrix(1.25,0,0,-1.25,191.11781,52.000685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 c 0.495,0.857 0.768,1.843 0.768,2.867 l 0,9.934 L -10.701,6.178 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149461" /></g><g
                                id="g149463"
                                transform="matrix(1.25,0,0,-1.25,177.74094,44.277685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 0,-13.244 8.602,4.966 c 0.888,0.513 1.604,1.242 2.099,2.1 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149465" /></g><g
                                id="g149467"
                                transform="matrix(1.25,0,0,-1.25,177.74094,27.72231)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 0,0 0,-13.244 11.47,-6.622 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149469" /></g><g
                                id="g149471"
                                transform="matrix(1.25,0,0,-1.25,163.40369,52.555185)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 0,-12.357 c 0.99,0 1.98,0.256 2.867,0.768 L 11.47,-6.622 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149473" /></g><g
                                id="g149475"
                                transform="matrix(1.25,0,0,-1.25,163.40369,19.444685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 -11.47,6.622 0,-13.244 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149477" /></g><g
                                id="g149479"
                                transform="matrix(1.25,0,0,-1.25,163.40369,19.444685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 11.47,-6.622 0,13.244 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149481" /></g><g
                                id="g149483"
                                transform="matrix(1.25,0,0,-1.25,135.68956,19.999185)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 10.702,-6.179 0,13.245 L 2.099,2.099 C 1.212,1.587 0.495,0.857 0,0"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149485" /></g><g
                                id="g149487"
                                transform="matrix(1.25,0,0,-1.25,177.74094,27.72231)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 11.47,-6.622 0,9.933 c 0,1.024 -0.273,2.01 -0.769,2.867 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149489" /></g><g
                                id="g149491"
                                transform="matrix(1.25,0,0,-1.25,177.74094,27.72231)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 10.701,6.178 C 10.206,7.036 9.49,7.765 8.602,8.278 L 0,13.244 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149493" /></g><g
                                id="g149495"
                                transform="matrix(1.25,0,0,-1.25,149.06644,44.277685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 11.47,-6.622 0,9.933 c 0,1.025 -0.273,2.01 -0.769,2.868 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149497" /></g><g
                                id="g149499"
                                transform="matrix(1.25,0,0,-1.25,149.06644,44.277685)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 10.701,6.179 C 10.206,7.036 9.49,7.765 8.602,8.278 L 0,13.244 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149501" /></g><g
                                id="g149503"
                                transform="matrix(1.25,0,0,-1.25,177.74094,11.16706)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 -8.603,4.967 C -9.49,5.479 -10.48,5.735 -11.47,5.735 l 0,-12.357 L 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149505" /></g><g
                                id="g149507"
                                transform="matrix(1.25,0,0,-1.25,163.40369,19.444685)"
                                style="fill:#ffffff"><path
                                    d="m 0,0 0,12.357 c -0.99,0 -1.98,-0.256 -2.867,-0.768 L -11.47,6.622 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149509" /></g><g
                                id="g149511"
                                transform="matrix(1.25,0,0,-1.25,149.06644,60.832935)"
                                style="fill:#ffffff"><path
                                    d="M 0,0 11.47,6.622 0,13.244 0,0 Z"
                                    style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                    id="path149513" /></g><g
                                id="text150518"
                                style="font-style:normal;font-weight:normal;font-size:15px;line-height:115.99999666%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"><path
                                    id="path4195"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 217.24853,36.024628 -3.876,0 0,-0.627 1.1685,-0.47025 -1.01175,-2.52225 -3.705,0 -1.01175,2.52225 1.14,0.47025 0,0.627 -3.7335,0 0,-0.627 1.1685,-0.47025 3.5055,-8.96325 1.46775,0 3.648,8.96325 1.23975,0.47025 0,0.627 z m -4.08975,-4.5885 -1.5105,-4.00425 -1.4535,4.00425 2.964,0 z" /><path
                                    id="path4197"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 222.87928,30.937378 -0.89775,0 -0.1995,-0.7125 q -0.3705,-0.35625 -1.14,-0.35625 -0.7695,0 -1.197,0.1995 -0.41325,0.1995 -0.41325,0.5415 0,0.32775 0.3135,0.627 0.3135,0.285 0.64125,0.4275 0.32775,0.1425 1.1685,0.4275 0.84075,0.285 1.368,0.75525 0.5415,0.47025 0.5415,1.23975 0,1.026 -0.75525,1.5675 -0.741,0.52725 -1.71,0.52725 -0.95475,0 -1.653,-0.24225 -0.684,-0.24225 -0.98325,-0.4845 l -0.285,-0.24225 0,-1.52475 0.855,0 0.29925,0.8835 q 0.0143,0.04275 0.228,0.1425 0.66975,0.342 1.3395,0.342 0.66975,0 1.026,-0.1995 0.35625,-0.21375 0.35625,-0.58425 0,-0.38475 -0.399,-0.72675 -0.399,-0.342 -1.3395,-0.61275 -0.92625,-0.285 -1.5675,-0.81225 -0.627,-0.5415 -0.627,-1.254 0,-1.06875 0.741,-1.596 0.75525,-0.5415 1.938,-0.5415 0.58425,0 1.1685,0.1425 0.58425,0.1425 0.8835,0.285 l 0.29925,0.1425 0,1.63875 z" /><path
                                    id="path4199"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 229.69813,30.937378 -0.89775,0 -0.1995,-0.7125 q -0.3705,-0.35625 -1.14,-0.35625 -0.7695,0 -1.197,0.1995 -0.41325,0.1995 -0.41325,0.5415 0,0.32775 0.3135,0.627 0.3135,0.285 0.64125,0.4275 0.32775,0.1425 1.1685,0.4275 0.84075,0.285 1.368,0.75525 0.5415,0.47025 0.5415,1.23975 0,1.026 -0.75525,1.5675 -0.741,0.52725 -1.71,0.52725 -0.95475,0 -1.653,-0.24225 -0.684,-0.24225 -0.98325,-0.4845 l -0.285,-0.24225 0,-1.52475 0.855,0 0.29925,0.8835 q 0.0143,0.04275 0.228,0.1425 0.66975,0.342 1.3395,0.342 0.66975,0 1.026,-0.1995 0.35625,-0.21375 0.35625,-0.58425 0,-0.38475 -0.399,-0.72675 -0.399,-0.342 -1.3395,-0.61275 -0.92625,-0.285 -1.5675,-0.81225 -0.627,-0.5415 -0.627,-1.254 0,-1.06875 0.741,-1.596 0.75525,-0.5415 1.938,-0.5415 0.58425,0 1.1685,0.1425 0.58425,0.1425 0.8835,0.285 l 0.29925,0.1425 0,1.63875 z" /><path
                                    id="path4201"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 237.54298,35.155378 q -1.04025,1.026 -2.622,1.026 -1.58175,0 -2.622,-1.026 -1.04025,-1.04025 -1.04025,-2.69325 0,-1.653 1.04025,-2.69325 1.04025,-1.04025 2.622,-1.04025 1.58175,0 2.622,1.04025 1.04025,1.04025 1.04025,2.69325 0,1.653 -1.04025,2.69325 z m -4.26075,-0.78375 q 0.64125,0.684 1.63875,0.684 0.9975,0 1.63875,-0.684 0.64125,-0.69825 0.64125,-1.86675 0,-1.1685 -0.6555,-1.9095 -0.64125,-0.741 -1.6245,-0.741 -0.98325,0 -1.63875,0.741 -0.64125,0.741 -0.64125,1.9095 0,1.1685 0.64125,1.86675 z" /><path
                                    id="path4203"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 243.53399,36.167128 q -1.58175,0 -2.60775,-0.92625 -1.01175,-0.92625 -1.01175,-2.679 0,-0.969 0.38475,-1.72425 0.38475,-0.7695 1.01175,-1.21125 1.29675,-0.89775 2.83575,-0.89775 0.47025,0 0.92625,0.114 0.456,0.114 0.684,0.228 l 0.228,0.12825 0,1.6815 -0.86925,0 -0.1995,-0.86925 q -0.1995,-0.15675 -0.7695,-0.15675 -1.2255,0 -2.03775,0.741 -0.81225,0.741 -0.81225,1.86675 0,1.12575 0.69825,1.86675 0.7125,0.72675 1.881,0.72675 0.57,0 1.0545,-0.114 0.49875,-0.12825 0.69825,-0.2565 l 0.1995,-0.114 0.41325,0.741 q -0.0428,0.0285 -0.12825,0.09975 -0.0712,0.057 -0.32775,0.1995 -0.2565,0.1425 -0.5415,0.2565 -0.7695,0.29925 -1.71,0.29925 z" /><path
                                    id="path4205"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 251.07847,36.024628 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.80225 1.21125,0.47025 0,0.61275 z m -1.15425,-8.93475 q -0.32775,0.32775 -0.798,0.32775 -0.47025,0 -0.798,-0.32775 -0.32775,-0.32775 -0.32775,-0.798 0,-0.47025 0.32775,-0.798 0.32775,-0.32775 0.798,-0.32775 0.47025,0 0.798,0.32775 0.32775,0.32775 0.32775,0.798 0,0.47025 -0.32775,0.798 z" /><path
                                    id="path4207"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 259.17292,35.055628 0,0.855 q -0.55575,0.27075 -1.2255,0.27075 -0.66975,0 -0.969,-0.2565 -0.285,-0.2565 -0.32775,-0.741 -0.78375,0.9975 -2.06625,0.9975 -1.26825,0 -1.92375,-0.513 -0.6555,-0.513 -0.6555,-1.43925 0,-1.78125 2.4795,-2.052 l 2.15175,-0.228 0,-0.41325 q 0,-0.8265 -0.342,-1.254 -0.342,-0.4275 -1.083,-0.4275 -1.368,0 -2.223,0.29925 l -0.285,0.09975 -0.2565,-0.912 q 0.399,-0.228 1.21125,-0.41325 0.81225,-0.1995 1.5105,-0.1995 1.52475,0 2.166,0.61275 0.64125,0.5985 0.64125,1.69575 l 0,4.0185 1.197,0 z m -4.617,-1.95225 q -0.5415,0.07125 -0.86925,0.32775 -0.3135,0.2565 -0.3135,0.69825 0,0.4275 0.342,0.684 0.35625,0.24225 0.98325,0.24225 1.18275,0 1.938,-0.64125 l 0,-1.539 -2.0805,0.228 z" /><path
                                    id="path4209"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 262.12979,32.903878 q 0,1.2255 0.3705,1.66725 0.3705,0.44175 1.12575,0.44175 0.75525,0 1.23975,-0.228 l 0.285,0.7125 q -0.057,0.07125 -0.171,0.18525 -0.0997,0.114 -0.52725,0.3135 -0.4275,0.18525 -0.9405,0.18525 -1.29675,0 -2.00925,-0.72675 -0.7125,-0.741 -0.7125,-2.15175 l 0,-3.2775 -0.75525,0 0,-0.84075 1.368,-1.368 0.72675,0 0,1.083 2.394,0 0,1.12575 -2.394,0 0,2.8785 z" /><path
                                    id="path4211"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 269.6146,36.024628 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.80225 1.21125,0.47025 0,0.61275 z m -1.15425,-8.93475 q -0.32775,0.32775 -0.798,0.32775 -0.47025,0 -0.798,-0.32775 -0.32775,-0.32775 -0.32775,-0.798 0,-0.47025 0.32775,-0.798 0.32775,-0.32775 0.798,-0.32775 0.47025,0 0.798,0.32775 0.32775,0.32775 0.32775,0.798 0,0.47025 -0.32775,0.798 z" /><path
                                    id="path4213"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 276.9253,35.155378 q -1.04025,1.026 -2.622,1.026 -1.58175,0 -2.622,-1.026 -1.04025,-1.04025 -1.04025,-2.69325 0,-1.653 1.04025,-2.69325 1.04025,-1.04025 2.622,-1.04025 1.58175,0 2.622,1.04025 1.04025,1.04025 1.04025,2.69325 0,1.653 -1.04025,2.69325 z m -4.26075,-0.78375 q 0.64125,0.684 1.63875,0.684 0.9975,0 1.63875,-0.684 0.64125,-0.69825 0.64125,-1.86675 0,-1.1685 -0.6555,-1.9095 -0.64125,-0.741 -1.6245,-0.741 -0.98325,0 -1.63875,0.741 -0.64125,0.741 -0.64125,1.9095 0,1.1685 0.64125,1.86675 z" /><path
                                    id="path4215"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 287.74706,36.024628 -3.74775,0 0,-0.61275 1.14,-0.47025 0,-3.40575 q 0,-0.84075 -0.285,-1.254 -0.27075,-0.41325 -0.9975,-0.41325 -1.1685,0 -2.09475,0.92625 l 0,4.14675 1.21125,0.47025 0,0.61275 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.26825,-0.27075 0.7125,0 0.969,0.3135 0.27075,0.3135 0.29925,0.9405 0.1995,-0.2565 0.5985,-0.58425 0.84075,-0.66975 1.92375,-0.66975 1.083,0 1.63875,0.627 0.55575,0.61275 0.55575,1.6815 l 0,3.9045 1.26825,0.47025 0,0.61275 z" /><path
                                    id="path4217"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 210.70778,52.554627 -3.77625,0 0,-0.61275 1.197,-0.47025 0,-4.88775 -1.1115,0 0,-0.855 1.1115,-0.456 0,-0.855 q 0,-1.41075 0.7125,-2.1375 0.72675,-0.741 2.03775,-0.741 0.513,0 0.9405,0.15675 0.44175,0.1425 0.61275,0.29925 l 0.18525,0.15675 -0.38475,0.741 q -0.399,-0.228 -1.197,-0.228 -0.78375,0 -1.1685,0.47025 -0.3705,0.456 -0.3705,1.6815 l 0,0.61275 2.29425,0 0,1.15425 -2.29425,0 0,4.88775 1.21125,0.47025 0,0.61275 z" /><path
                                    id="path4219"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 216.42692,52.554627 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.254,-0.27075 0.69825,0 0.969,0.29925 0.27075,0.29925 0.29925,0.8835 0.1425,-0.4275 0.58425,-0.7695 0.52725,-0.41325 1.3965,-0.41325 0.38475,0 0.72675,0.09975 0.35625,0.09975 0.513,0.1995 l 0.171,0.09975 0,1.6815 -0.855,0 -0.18525,-0.855 q -0.0855,-0.0855 -0.47025,-0.0855 -0.38475,0 -0.741,0.114 -0.35625,0.09975 -0.55575,0.2565 -0.399,0.342 -0.57,0.69825 l 0,4.00425 1.21125,0.47025 0,0.61275 z" /><path
                                    id="path4221"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 226.47028,51.585627 0,0.855 q -0.55575,0.27075 -1.2255,0.27075 -0.66975,0 -0.969,-0.2565 -0.285,-0.2565 -0.32775,-0.741 -0.78375,0.9975 -2.06625,0.9975 -1.26825,0 -1.92375,-0.513 -0.6555,-0.513 -0.6555,-1.43925 0,-1.78125 2.4795,-2.052 l 2.15175,-0.228 0,-0.41325 q 0,-0.8265 -0.342,-1.254 -0.342,-0.4275 -1.083,-0.4275 -1.368,0 -2.223,0.29925 l -0.285,0.09975 -0.2565,-0.912 q 0.399,-0.228 1.21125,-0.41325 0.81225,-0.1995 1.5105,-0.1995 1.52475,0 2.166,0.61275 0.64125,0.5985 0.64125,1.69575 l 0,4.0185 1.197,0 z m -4.617,-1.95225 q -0.5415,0.07125 -0.86925,0.32775 -0.3135,0.2565 -0.3135,0.69825 0,0.4275 0.342,0.684 0.35625,0.24225 0.98325,0.24225 1.18275,0 1.938,-0.64125 l 0,-1.539 -2.0805,0.228 z" /><path
                                    id="path4223"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 235.86816,52.554627 -3.74775,0 0,-0.61275 1.14,-0.47025 0,-3.40575 q 0,-0.84075 -0.285,-1.254 -0.27075,-0.41325 -0.9975,-0.41325 -1.1685,0 -2.09475,0.92625 l 0,4.14675 1.21125,0.47025 0,0.61275 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.26825,-0.27075 0.7125,0 0.969,0.3135 0.27075,0.3135 0.29925,0.9405 0.1995,-0.2565 0.5985,-0.58425 0.84075,-0.66975 1.92375,-0.66975 1.083,0 1.63875,0.627 0.55575,0.61275 0.55575,1.6815 l 0,3.9045 1.26825,0.47025 0,0.61275 z" /><path
                                    id="path4225"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 239.23539,54.136377 q 0.32775,0.35625 0.8835,0.35625 0.55575,0 0.55575,-0.4845 0,-0.5415 -1.026,-0.5415 l 0.29925,-0.798 q -1.425,-0.114 -2.32275,-1.026 -0.8835,-0.912 -0.8835,-2.55075 0,-0.969 0.38475,-1.72425 0.38475,-0.7695 1.01175,-1.21125 1.29675,-0.89775 2.83575,-0.89775 0.47025,0 0.92625,0.114 0.456,0.114 0.684,0.228 l 0.228,0.12825 0,1.6815 -0.86925,0 -0.1995,-0.86925 q -0.1995,-0.15675 -0.7695,-0.15675 -1.2255,0 -2.03775,0.741 -0.81225,0.741 -0.81225,1.86675 0,1.12575 0.69825,1.86675 0.7125,0.72675 1.881,0.72675 0.57,0 1.0545,-0.114 0.49875,-0.12825 0.69825,-0.2565 l 0.1995,-0.114 0.41325,0.741 q -0.342,0.285 -1.0545,0.55575 -0.7125,0.2565 -1.41075,0.285 l -0.1425,0.35625 q 0.38475,0.01425 0.6555,0.27075 0.27075,0.2565 0.27075,0.741 0,0.49875 -0.3705,0.78375 -0.35625,0.285 -0.81225,0.285 -0.78375,0 -1.15425,-0.3705 l -0.114,-0.114 0.29925,-0.49875 z" /><path
                                    id="path4227"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 251.26862,51.585627 0,0.855 q -0.55575,0.27075 -1.2255,0.27075 -0.66975,0 -0.969,-0.2565 -0.285,-0.2565 -0.32775,-0.741 -0.78375,0.9975 -2.06625,0.9975 -1.26825,0 -1.92375,-0.513 -0.6555,-0.513 -0.6555,-1.43925 0,-1.78125 2.4795,-2.052 l 2.15175,-0.228 0,-0.41325 q 0,-0.8265 -0.342,-1.254 -0.342,-0.4275 -1.083,-0.4275 -1.368,0 -2.223,0.29925 l -0.285,0.09975 -0.2565,-0.912 q 0.399,-0.228 1.21125,-0.41325 0.81225,-0.1995 1.5105,-0.1995 1.52475,0 2.166,0.61275 0.64125,0.5985 0.64125,1.69575 l 0,4.0185 1.197,0 z m -4.617,-1.95225 q -0.5415,0.07125 -0.86925,0.32775 -0.3135,0.2565 -0.3135,0.69825 0,0.4275 0.342,0.684 0.35625,0.24225 0.98325,0.24225 1.18275,0 1.938,-0.64125 l 0,-1.539 -2.0805,0.228 z" /><path
                                    id="path4229"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 255.92125,52.554627 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.80225 1.21125,0.47025 0,0.61275 z m -1.15425,-8.93475 q -0.32775,0.32775 -0.798,0.32775 -0.47025,0 -0.798,-0.32775 -0.32775,-0.32775 -0.32775,-0.798 0,-0.47025 0.32775,-0.798 0.32775,-0.32775 0.798,-0.32775 0.47025,0 0.798,0.32775 0.32775,0.32775 0.32775,0.798 0,0.47025 -0.32775,0.798 z" /><path
                                    id="path4231"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 262.20594,47.467377 -0.89775,0 -0.1995,-0.7125 q -0.3705,-0.35625 -1.14,-0.35625 -0.7695,0 -1.197,0.1995 -0.41325,0.1995 -0.41325,0.5415 0,0.32775 0.3135,0.627 0.3135,0.285 0.64125,0.4275 0.32775,0.1425 1.1685,0.4275 0.84075,0.285 1.368,0.75525 0.5415,0.47025 0.5415,1.23975 0,1.026 -0.75525,1.5675 -0.741,0.52725 -1.71,0.52725 -0.95475,0 -1.653,-0.24225 -0.684,-0.24225 -0.98325,-0.4845 l -0.285,-0.24225 0,-1.52475 0.855,0 0.29925,0.8835 q 0.0143,0.04275 0.228,0.1425 0.66975,0.342 1.3395,0.342 0.66975,0 1.026,-0.1995 0.35625,-0.21375 0.35625,-0.58425 0,-0.38475 -0.399,-0.72675 -0.399,-0.342 -1.3395,-0.61275 -0.92625,-0.285 -1.5675,-0.81225 -0.627,-0.5415 -0.627,-1.254 0,-1.06875 0.741,-1.596 0.75525,-0.5415 1.938,-0.5415 0.58425,0 1.1685,0.1425 0.58425,0.1425 0.8835,0.285 l 0.29925,0.1425 0,1.63875 z" /><path
                                    id="path4233"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 267.40029,52.697127 q -1.61025,0 -2.622,-0.912 -0.9975,-0.92625 -0.9975,-2.69325 0,-1.767 1.026,-2.793 1.026,-1.04025 2.394,-1.04025 3.249,0 3.249,3.8475 l -5.28675,0 0,0.07125 q 0,1.01175 0.7125,1.71 0.7125,0.69825 1.938,0.69825 0.52725,0 0.9975,-0.114 0.47025,-0.12825 0.684,-0.2565 l 0.1995,-0.114 0.41325,0.741 q -0.0428,0.0285 -0.12825,0.09975 -0.0712,0.057 -0.32775,0.1995 -0.2565,0.1425 -0.55575,0.2565 -0.75525,0.29925 -1.69575,0.29925 z m 1.72425,-4.503 q -0.0713,-0.8835 -0.58425,-1.3395 -0.49875,-0.47025 -1.311,-0.47025 -0.798,0 -1.32525,0.456 -0.52725,0.44175 -0.684,1.35375 l 3.9045,0 z" /><path
                                    id="path4235"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 283.3329,51.585627 0,0.855 q -0.55575,0.27075 -1.2255,0.27075 -0.6555,0 -0.95475,-0.24225 -0.285,-0.24225 -0.342,-0.7125 -0.6555,0.9405 -2.052,0.9405 -1.12575,0 -2.0805,-0.7695 -0.4845,-0.399 -0.78375,-1.12575 -0.285,-0.741 -0.285,-1.71 0,-0.969 0.38475,-1.72425 0.38475,-0.7695 1.01175,-1.21125 1.26825,-0.89775 2.80725,-0.89775 0.456,0 0.98325,0.1995 l 0,-2.77875 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,8.62125 1.197,0 z m -3.51975,-5.20125 q -1.26825,0 -2.052,0.69825 -0.7695,0.684 -0.7695,1.938 0,1.254 0.61275,1.95225 0.627,0.684 1.35375,0.684 1.2255,0 1.83825,-0.89775 l 0,-4.161 q -0.64125,-0.21375 -0.98325,-0.21375 z" /><path
                                    id="path4237"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 288.02382,52.697127 q -1.61025,0 -2.622,-0.912 -0.9975,-0.92625 -0.9975,-2.69325 0,-1.767 1.026,-2.793 1.026,-1.04025 2.394,-1.04025 3.249,0 3.249,3.8475 l -5.28675,0 0,0.07125 q 0,1.01175 0.7125,1.71 0.7125,0.69825 1.938,0.69825 0.52725,0 0.9975,-0.114 0.47025,-0.12825 0.684,-0.2565 l 0.1995,-0.114 0.41325,0.741 q -0.0427,0.0285 -0.12825,0.09975 -0.0713,0.057 -0.32775,0.1995 -0.2565,0.1425 -0.55575,0.2565 -0.75525,0.29925 -1.69575,0.29925 z m 1.72425,-4.503 q -0.0712,-0.8835 -0.58425,-1.3395 -0.49875,-0.47025 -1.311,-0.47025 -0.798,0 -1.32525,0.456 -0.52725,0.44175 -0.684,1.35375 l 3.9045,0 z" /><path
                                    id="path4239"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 297.55262,47.467377 -0.89775,0 -0.1995,-0.7125 q -0.3705,-0.35625 -1.14,-0.35625 -0.7695,0 -1.197,0.1995 -0.41325,0.1995 -0.41325,0.5415 0,0.32775 0.3135,0.627 0.3135,0.285 0.64125,0.4275 0.32775,0.1425 1.1685,0.4275 0.84075,0.285 1.368,0.75525 0.5415,0.47025 0.5415,1.23975 0,1.026 -0.75525,1.5675 -0.741,0.52725 -1.71,0.52725 -0.95475,0 -1.653,-0.24225 -0.684,-0.24225 -0.98325,-0.4845 l -0.285,-0.24225 0,-1.52475 0.855,0 0.29925,0.8835 q 0.0143,0.04275 0.228,0.1425 0.66975,0.342 1.3395,0.342 0.66975,0 1.026,-0.1995 0.35625,-0.21375 0.35625,-0.58425 0,-0.38475 -0.399,-0.72675 -0.399,-0.342 -1.3395,-0.61275 -0.92625,-0.285 -1.5675,-0.81225 -0.627,-0.5415 -0.627,-1.254 0,-1.06875 0.741,-1.596 0.75525,-0.5415 1.938,-0.5415 0.58425,0 1.1685,0.1425 0.58425,0.1425 0.8835,0.285 l 0.29925,0.1425 0,1.63875 z" /><path
                                    id="path4241"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 311.04603,51.585627 0,0.855 q -0.55575,0.27075 -1.254,0.27075 -0.69825,0 -0.969,-0.285 -0.27075,-0.29925 -0.3135,-0.86925 -0.18525,0.21375 -0.4275,0.4275 -0.24225,0.21375 -0.81225,0.47025 -0.55575,0.2565 -1.1685,0.2565 -1.1115,0 -1.66725,-0.61275 -0.55575,-0.627 -0.55575,-1.69575 l 0,-4.0185 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,3.23475 q 0,0.84075 0.27075,1.254 0.285,0.41325 1.01175,0.41325 0.72675,0 1.23975,-0.27075 0.513,-0.285 0.7695,-0.58425 l 0,-4.332 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.91625 1.197,0 z" /><path
                                    id="path4243"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 314.12003,49.433877 q 0,1.2255 0.3705,1.66725 0.3705,0.44175 1.12575,0.44175 0.75525,0 1.23975,-0.228 l 0.285,0.7125 q -0.057,0.07125 -0.171,0.18525 -0.0998,0.114 -0.52725,0.3135 -0.4275,0.18525 -0.9405,0.18525 -1.29675,0 -2.00925,-0.72675 -0.7125,-0.741 -0.7125,-2.15175 l 0,-3.2775 -0.75525,0 0,-0.84075 1.368,-1.368 0.72675,0 0,1.083 2.394,0 0,1.12575 -2.394,0 0,2.8785 z" /><path
                                    id="path4245"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 321.60484,52.554627 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.80225 1.21125,0.47025 0,0.61275 z m -1.15425,-8.93475 q -0.32775,0.32775 -0.798,0.32775 -0.47025,0 -0.798,-0.32775 -0.32775,-0.32775 -0.32775,-0.798 0,-0.47025 0.32775,-0.798 0.32775,-0.32775 0.798,-0.32775 0.47025,0 0.798,0.32775 0.32775,0.32775 0.32775,0.798 0,0.47025 -0.32775,0.798 z" /><path
                                    id="path4247"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 326.13678,52.554627 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-8.79225 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,8.50725 1.21125,0.47025 0,0.61275 z" /><path
                                    id="path4249"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 330.90074,52.554627 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.80225 1.21125,0.47025 0,0.61275 z m -1.15425,-8.93475 q -0.32775,0.32775 -0.798,0.32775 -0.47025,0 -0.798,-0.32775 -0.32775,-0.32775 -0.32775,-0.798 0,-0.47025 0.32775,-0.798 0.32775,-0.32775 0.798,-0.32775 0.47025,0 0.798,0.32775 0.32775,0.32775 0.32775,0.798 0,0.47025 -0.32775,0.798 z" /><path
                                    id="path4251"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 337.18543,47.467377 -0.89775,0 -0.1995,-0.7125 q -0.3705,-0.35625 -1.14,-0.35625 -0.7695,0 -1.197,0.1995 -0.41325,0.1995 -0.41325,0.5415 0,0.32775 0.3135,0.627 0.3135,0.285 0.64125,0.4275 0.32775,0.1425 1.1685,0.4275 0.84075,0.285 1.368,0.75525 0.5415,0.47025 0.5415,1.23975 0,1.026 -0.75525,1.5675 -0.741,0.52725 -1.71,0.52725 -0.95475,0 -1.653,-0.24225 -0.684,-0.24225 -0.98325,-0.4845 l -0.285,-0.24225 0,-1.52475 0.855,0 0.29925,0.8835 q 0.0142,0.04275 0.228,0.1425 0.66975,0.342 1.3395,0.342 0.66975,0 1.026,-0.1995 0.35625,-0.21375 0.35625,-0.58425 0,-0.38475 -0.399,-0.72675 -0.399,-0.342 -1.3395,-0.61275 -0.92625,-0.285 -1.5675,-0.81225 -0.627,-0.5415 -0.627,-1.254 0,-1.06875 0.741,-1.596 0.75525,-0.5415 1.938,-0.5415 0.58425,0 1.1685,0.1425 0.58425,0.1425 0.8835,0.285 l 0.29925,0.1425 0,1.63875 z" /><path
                                    id="path4253"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 345.81403,51.585627 0,0.855 q -0.55575,0.27075 -1.2255,0.27075 -0.66975,0 -0.969,-0.2565 -0.285,-0.2565 -0.32775,-0.741 -0.78375,0.9975 -2.06625,0.9975 -1.26825,0 -1.92375,-0.513 -0.6555,-0.513 -0.6555,-1.43925 0,-1.78125 2.4795,-2.052 l 2.15175,-0.228 0,-0.41325 q 0,-0.8265 -0.342,-1.254 -0.342,-0.4275 -1.083,-0.4275 -1.368,0 -2.223,0.29925 l -0.285,0.09975 -0.2565,-0.912 q 0.399,-0.228 1.21125,-0.41325 0.81225,-0.1995 1.5105,-0.1995 1.52475,0 2.166,0.61275 0.64125,0.5985 0.64125,1.69575 l 0,4.0185 1.197,0 z m -4.617,-1.95225 q -0.5415,0.07125 -0.86925,0.32775 -0.3135,0.2565 -0.3135,0.69825 0,0.4275 0.342,0.684 0.35625,0.24225 0.98325,0.24225 1.18275,0 1.938,-0.64125 l 0,-1.539 -2.0805,0.228 z" /><path
                                    id="path4255"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 348.77091,49.433877 q 0,1.2255 0.3705,1.66725 0.3705,0.44175 1.12575,0.44175 0.75525,0 1.23975,-0.228 l 0.285,0.7125 q -0.057,0.07125 -0.171,0.18525 -0.0997,0.114 -0.52725,0.3135 -0.4275,0.18525 -0.9405,0.18525 -1.29675,0 -2.00925,-0.72675 -0.7125,-0.741 -0.7125,-2.15175 l 0,-3.2775 -0.75525,0 0,-0.84075 1.368,-1.368 0.72675,0 0,1.083 2.394,0 0,1.12575 -2.394,0 0,2.8785 z" /><path
                                    id="path4257"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 356.18447,52.697127 q -1.61025,0 -2.622,-0.912 -0.9975,-0.92625 -0.9975,-2.69325 0,-1.767 1.026,-2.793 1.026,-1.04025 2.394,-1.04025 3.249,0 3.249,3.8475 l -5.28675,0 0,0.07125 q 0,1.01175 0.7125,1.71 0.7125,0.69825 1.938,0.69825 0.52725,0 0.9975,-0.114 0.47025,-0.12825 0.684,-0.2565 l 0.1995,-0.114 0.41325,0.741 q -0.0428,0.0285 -0.12825,0.09975 -0.0712,0.057 -0.32775,0.1995 -0.2565,0.1425 -0.55575,0.2565 -0.75525,0.29925 -1.69575,0.29925 z m 1.72425,-4.503 q -0.0713,-0.8835 -0.58425,-1.3395 -0.49875,-0.47025 -1.311,-0.47025 -0.798,0 -1.32525,0.456 -0.52725,0.44175 -0.684,1.35375 l 3.9045,0 z" /><path
                                    id="path4259"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 368.46351,51.585627 0,0.855 q -0.55575,0.27075 -1.254,0.27075 -0.69825,0 -0.969,-0.285 -0.27075,-0.29925 -0.3135,-0.86925 -0.18525,0.21375 -0.4275,0.4275 -0.24225,0.21375 -0.81225,0.47025 -0.55575,0.2565 -1.1685,0.2565 -1.1115,0 -1.66725,-0.61275 -0.55575,-0.627 -0.55575,-1.69575 l 0,-4.0185 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,3.23475 q 0,0.84075 0.27075,1.254 0.285,0.41325 1.01175,0.41325 0.72675,0 1.23975,-0.27075 0.513,-0.285 0.7695,-0.58425 l 0,-4.332 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,4.91625 1.197,0 z" /><path
                                    id="path4261"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 373.20476,52.554627 -3.74775,0 0,-0.61275 1.197,-0.47025 0,-5.08725 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.254,-0.27075 0.69825,0 0.969,0.29925 0.27075,0.29925 0.29925,0.8835 0.1425,-0.4275 0.58425,-0.7695 0.52725,-0.41325 1.3965,-0.41325 0.38475,0 0.72675,0.09975 0.35625,0.09975 0.513,0.1995 l 0.171,0.09975 0,1.6815 -0.855,0 -0.18525,-0.855 q -0.0855,-0.0855 -0.47025,-0.0855 -0.38475,0 -0.741,0.114 -0.35625,0.09975 -0.55575,0.2565 -0.399,0.342 -0.57,0.69825 l 0,4.00425 1.21125,0.47025 0,0.61275 z" /><path
                                    id="path4263"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 381.46619,47.467377 -0.89775,0 -0.1995,-0.7125 q -0.3705,-0.35625 -1.14,-0.35625 -0.7695,0 -1.197,0.1995 -0.41325,0.1995 -0.41325,0.5415 0,0.32775 0.3135,0.627 0.3135,0.285 0.64125,0.4275 0.32775,0.1425 1.1685,0.4275 0.84075,0.285 1.368,0.75525 0.5415,0.47025 0.5415,1.23975 0,1.026 -0.75525,1.5675 -0.741,0.52725 -1.71,0.52725 -0.95475,0 -1.653,-0.24225 -0.684,-0.24225 -0.98325,-0.4845 l -0.285,-0.24225 0,-1.52475 0.855,0 0.29925,0.8835 q 0.0143,0.04275 0.228,0.1425 0.66975,0.342 1.3395,0.342 0.66975,0 1.026,-0.1995 0.35625,-0.21375 0.35625,-0.58425 0,-0.38475 -0.399,-0.72675 -0.399,-0.342 -1.3395,-0.61275 -0.92625,-0.285 -1.5675,-0.81225 -0.627,-0.5415 -0.627,-1.254 0,-1.06875 0.741,-1.596 0.75525,-0.5415 1.938,-0.5415 0.58425,0 1.1685,0.1425 0.58425,0.1425 0.8835,0.285 l 0.29925,0.1425 0,1.63875 z" /><path
                                    id="path4265"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 394.68886,51.585627 0,0.855 q -0.55575,0.27075 -1.2255,0.27075 -0.6555,0 -0.95475,-0.24225 -0.285,-0.24225 -0.342,-0.7125 -0.6555,0.9405 -2.052,0.9405 -1.12575,0 -2.0805,-0.7695 -0.4845,-0.399 -0.78375,-1.12575 -0.285,-0.741 -0.285,-1.71 0,-0.969 0.38475,-1.72425 0.38475,-0.7695 1.01175,-1.21125 1.26825,-0.89775 2.80725,-0.89775 0.456,0 0.98325,0.1995 l 0,-2.77875 -1.197,0 0,-0.855 q 0.55575,-0.27075 1.2825,-0.27075 0.741,0 0.9975,0.35625 0.2565,0.342 0.2565,1.0545 l 0,8.62125 1.197,0 z m -3.51975,-5.20125 q -1.26825,0 -2.052,0.69825 -0.7695,0.684 -0.7695,1.938 0,1.254 0.61275,1.95225 0.627,0.684 1.35375,0.684 1.2255,0 1.83825,-0.89775 l 0,-4.161 q -0.64125,-0.21375 -0.98325,-0.21375 z" /><path
                                    id="path4267"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 399.37978,52.697127 q -1.61025,0 -2.622,-0.912 -0.9975,-0.92625 -0.9975,-2.69325 0,-1.767 1.026,-2.793 1.026,-1.04025 2.394,-1.04025 3.249,0 3.249,3.8475 l -5.28675,0 0,0.07125 q 0,1.01175 0.7125,1.71 0.7125,0.69825 1.938,0.69825 0.52725,0 0.9975,-0.114 0.47025,-0.12825 0.684,-0.2565 l 0.1995,-0.114 0.41325,0.741 q -0.0428,0.0285 -0.12825,0.09975 -0.0712,0.057 -0.32775,0.1995 -0.2565,0.1425 -0.55575,0.2565 -0.75525,0.29925 -1.69575,0.29925 z m 1.72425,-4.503 q -0.0713,-0.8835 -0.58425,-1.3395 -0.49875,-0.47025 -1.311,-0.47025 -0.798,0 -1.32525,0.456 -0.52725,0.44175 -0.684,1.35375 l 3.9045,0 z" /><path
                                    id="path4269"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 411.67864,52.554627 -4.03275,0 0,-0.627 1.29675,-0.47025 0,-7.866 -1.29675,-0.47025 0,-0.627 4.446,0 q 1.311,0 2.32275,0.86925 1.01175,0.855 1.01175,2.4225 0,1.55325 -0.95475,2.4225 -0.95475,0.855 -2.37975,0.855 l -1.71,0 0,2.394 1.29675,0.47025 0,0.627 z m -1.2825,-4.5315 1.026,0 q 1.1115,0 1.8525,-0.55575 0.75525,-0.55575 0.75525,-1.69575 0,-2.20875 -2.60775,-2.20875 l -1.026,0 0,4.46025 z" /><path
                                    id="path4271"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 427.0653,52.554627 -4.03275,0 0,-0.627 1.29675,-0.47025 0,-3.54825 -4.902,0 0,3.54825 1.29675,0.47025 0,0.627 -4.03275,0 0,-0.627 1.29675,-0.47025 0,-7.866 -1.29675,-0.47025 0,-0.627 4.03275,0 0,0.627 -1.29675,0.47025 0,3.2205 4.902,0 0,-3.2205 -1.29675,-0.47025 0,-0.627 4.03275,0 0,0.627 -1.29675,0.47025 0,7.866 1.29675,0.47025 0,0.627 z" /><path
                                    id="path4273"
                                    style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.25px;line-height:115.99999666%;font-family:Belgrano;-inkscape-font-specification:Belgrano;fill:#ffffff;fill-opacity:1"
                                    d="m 432.55267,52.554627 -4.03275,0 0,-0.627 1.29675,-0.47025 0,-7.866 -1.29675,-0.47025 0,-0.627 4.446,0 q 1.311,0 2.32275,0.86925 1.01175,0.855 1.01175,2.4225 0,1.55325 -0.95475,2.4225 -0.95475,0.855 -2.37975,0.855 l -1.71,0 0,2.394 1.29675,0.47025 0,0.627 z m -1.2825,-4.5315 1.026,0 q 1.1115,0 1.8525,-0.55575 0.75525,-0.55575 0.75525,-1.69575 0,-2.20875 -2.60775,-2.20875 l -1.026,0 0,4.46025 z" /></g><g
                                id="text150789"
                                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:55.375px;line-height:125%;font-family:Belgrano;-inkscape-font-specification:Belgrano;letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"><path
                                    id="path4186"
                                    style="fill:#ffffff"
                                    d="m 31.553222,48.754642 0,3.3225 q -2.159625,1.052125 -4.76225,1.052125 -2.602625,0 -3.7655,-0.99675 -1.1075,-0.99675 -1.273625,-2.8795 -3.045625,3.87625 -8.029375,3.87625 -4.9283753,0 -7.4756253,-1.9935 -2.54725,-1.9935 -2.54725,-5.592875 0,-6.921875 9.6352503,-7.974 l 8.361625,-0.886 0,-1.605875 q 0,-3.21175 -1.329,-4.873 -1.329,-1.66125 -4.2085,-1.66125 -5.316,0 -8.6385003,1.162875 l -1.1075,0.387625 -0.99675,-3.544 q 1.5505,-0.886 4.7068753,-1.605875 3.156375,-0.77525 5.86975,-0.77525 5.925125,0 8.417,2.381125 2.491875,2.32575 2.491875,6.589625 l 0,15.61575 4.6515,0 z m -17.9415,-7.586375 q -2.10425,0.276875 -3.377875,1.273625 -1.2182503,0.99675 -1.2182503,2.713375 0,1.66125 1.3290003,2.658 1.384375,0.941375 3.820875,0.941375 4.596125,0 7.531,-2.491875 l 0,-5.9805 -8.08475,0.886 z" /><path
                                    id="path4188"
                                    style="fill:#ffffff"
                                    d="m 49.577784,52.520142 -14.674375,0 0,-2.381125 4.6515,-1.827375 0,-18.993625 -4.31925,0 0,-3.3225 4.31925,-1.772 0,-3.3225 q 0,-5.482125 2.76875,-8.30625 2.824125,-2.8795004 7.918625,-2.8795004 1.9935,0 3.65475,0.6091254 1.716625,0.55375 2.381125,1.162875 l 0.719875,0.609125 -1.495125,2.8795 q -1.5505,-0.886 -4.6515,-0.886 -3.045625,0 -4.54075,1.827375 -1.43975,1.772 -1.43975,6.53425 l 0,2.381125 8.915375,0 0,4.485375 -8.915375,0 0,18.993625 4.706875,1.827375 0,2.381125 z" /><path
                                    id="path4190"
                                    style="fill:#ffffff"
                                    d="m 88.636194,48.754642 0,3.3225 q -2.159625,1.052125 -4.873,1.052125 -2.713375,0 -3.7655,-1.1075 -1.052125,-1.162875 -1.21825,-3.377875 -0.719875,0.830625 -1.66125,1.66125 -0.941375,0.830625 -3.156375,1.827375 -2.159625,0.99675 -4.54075,0.99675 -4.31925,0 -6.478875,-2.381125 -2.159625,-2.4365 -2.159625,-6.589625 l 0,-15.61575 -4.6515,0 0,-3.3225 q 2.159625,-1.052125 4.98375,-1.052125 2.8795,0 3.87625,1.384375 0.99675,1.329 0.99675,4.09775 l 0,12.570125 q 0,3.267125 1.052125,4.873 1.1075,1.605875 3.931625,1.605875 2.824125,0 4.817625,-1.052125 1.9935,-1.1075 2.99025,-2.270375 l 0,-16.834 -4.6515,0 0,-3.3225 q 2.159625,-1.052125 4.98375,-1.052125 2.8795,0 3.87625,1.384375 0.99675,1.329 0.99675,4.09775 l 0,19.104375 4.6515,0 z" /><path
                                    id="path4192"
                                    style="fill:#ffffff"
                                    d="m 106.34062,67.526767 -14.563625,0 0,-2.381125 4.706875,-1.827375 0,-34.997 -4.6515,0 0,-3.045625 q 2.159625,-1.052125 4.706875,-1.052125 2.602625,0 3.710125,0.941375 1.1075,0.941375 1.329,2.76875 2.71338,-3.7655 8.08475,-3.7655 4.37463,0 8.08475,2.99025 1.88275,1.5505 2.99025,4.43 1.16288,2.824125 1.16288,6.589625 0,3.7655 -1.27363,6.75575 -1.27362,2.934875 -3.43325,4.6515 -4.37462,3.488625 -10.189,3.488625 -2.32575,0 -5.316,-0.77525 l 0,11.019625 4.6515,1.827375 0,2.381125 z m 0.6645,-18.8275 q 4.48538,0 6.97725,-2.658 2.54725,-2.658 2.54725,-7.42025 0,-4.76225 -2.4365,-7.42025 -2.4365,-2.713375 -5.20525,-2.713375 -4.81762,0 -7.19875,3.045625 l 0,16.1695 q 3.101,0.99675 5.316,0.99675 z" /></g></svg>
                </a>
            </h1>
            <a href="#body" class="nav-button-open" aria-label="open navigation"></a>
            <a href="#" class="nav-button-close" aria-label="close navigation"></a>

            <div id="joinus" class="clear">
                <p>Rejoignez la communauté<br> et faites grandir le PHP avec nous.</p>
            </div>

            <div id="subheader">
                <nav>
                    {{ header }}
                </nav>
            </div>
            <div class="clear" style="height:0;">&nbsp;</div>
        </div>
    </header>
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% autoescape false %}
        <div class="mw1400p center" id="container">
            <div class="line">
                <div id="main" class="mod item left content w66 m50 t100">
                    {% block inner_content %}
                        {{ content }}
                    {% endblock %}
                </div>
                <aside id="sidebar-article" class="mod item w33 m50 t100">
                    <h2>L'afup organise...</h2>
                    {{ sidebar.naviguer(1, 2, "externe", "") }}
                    <h2>Newsletters</h2>
                    {{ render(controller('AppBundle:Newsletter:subscribeForm')) }}
                    <h2>Sur Twitter...</h2>
                    <a class="twitter-timeline" href="https://twitter.com/afup" data-widget-id="582135958075752448">Tweets by @afup</a>
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? "http" : "https";
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                    <h2>Sur facebook</h2>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffandelafup%2F&tabs=timeline&width=433&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true" width="433" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </aside>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        <footer>
            <div class="mw1400p center">
                {{ footer }}
            </div>
            <div id="copyright">© AFUP 2003-{{ date()|date('Y') }}</div>
        </footer>
    {% endautoescape %}
{% endblock %}