{% extends 'site/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}?v={{ asset_md5_start('css/buttons.css') }}" media="all" />
{% endblock %}

{% block content %}

    {% block submenu %}
    {% endblock %}

    <div class="mw1400p center {% block page_container_extra_classes '' %}" id="container">
        <div class="line" id="main">
            <h1>{% block page_title %}{% endblock %}</h1>

            {% for bag in ['notice', 'success', 'error'] %}
                {% for flash_message in app.session.flashBag.get(bag) %}
                    <div class="flash flash-{{ bag }}">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block container_wrapper %}
    <div class="container wrapper">
        {{ block("content") }}
    </div>
{% endblock%}
