{% extends 'admin/base_with_header.html.twig' %}

{% block content %}

    <h2>Journal de banque</h2>

    <div class="ui top attached tabular menu">
        {% for account in accounts %}
            <a class="{% if accountId == account.id %}active{% endif %} item" href="{{ url('admin_accounting_bank_accounts_list', {'accountId': account.id }) }}">{{ account.name }}</a>
        {% endfor %}
    </div>
    <div class="ui bottom attached segment">

    {% include 'admin/accounting/invoicing-period.form.html.twig' with {form: formPeriod, url: path('admin_accounting_accounts_list')} %}

    <div class="ui menu">
        <a href="{{ url('admin_accounting_bankaccounts_export', {periodId, accountId}) }}" class="item">
            <i class="icon file excel"></i>
            Export XLSX
        </a>
    </div>

        <table class="ui table striped compact celled">
            <thead>
            <tr>
                <th>Date</th>
                <th>Operation</th>
                <th>Description</th>
                <th class="right aligned">Dépense</th>
                <th class="right aligned">Recette</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% set cptLines = 1 %}
            {% if statements|length > 0 %}
                {% for line in statements %}
                <tr>
                    <td>{{ line.date_regl|date("d/m/Y") }}</td>
                    <td>{{ line.reglement}}</td>
                    <td>{{ line.description}}</td>
                    {% if line.idoperation == 1 %}
                    <td class="right aligned">{{ line.montant|number_format(2, ',',' ') }}</td>
                    <td> </td>
                    {% else %}
                    <td> </td>
                    <td class="right aligned">{{ line.montant|number_format(2, ',', ' ') }}</td>
                    {% endif %}
                    <td class="right aligned">
                        <a href="/pages/administration/index.php?page=compta_journal&amp;action=modifier&amp;id={{ line.idtmp }}"
                           data-position="left center"
                           data-tooltip="Modifier la ligne {{ line.description }}"
                           class="compact ui icon button"
                        >
                            <i class="pencil alernate icon"></i>
                        </a>
                    </td>
                </tr>
                    {% for txt in subTotal %}
                        {% if line.mois == txt.mois and cptLines == txt.nligne %}
                        <tr>
                            <td colspan="3" class="right aligned">
                                <b><i>Sous Total</i></b>
                            </td>
                            <td class="right aligned">
                                <b><i></i>{{ txt.debit|default(0)|number_format(2, ',', ' ') }}</i></b>
                            </td>
                            <td class="right aligned">
                                <b><i></i>{{ txt.credit|default(0)|number_format(2, ',', ' ') }}</i></b>
                            </td>
                            <td class="right aligned">
                                <b><i>{{ txt.dif|number_format(2, ',',' ') }}</i></b>
                            </td>
                        </tr>
                        {% set cptLines = 0 %}
                        {% endif %}
                    {% endfor %}
                    {% set cptLines = cptLines + 1 %}
                {% endfor %}


            {% else %}
            <tr>
                <td><em>Aucune ecriture actuellement</em></td>
            </tr>
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3"></td>
                <th class="center aligned">
                    <div class="ui mini statistic">
                        <div class="value">
                            {{ total.debit|number_format(2, ',', ' ') }}
                        </div>
                        <iv class="label">
                            Total débit
                        </iv>
                    </div>
                </th>
                <th class="center aligned">
                    <div class="ui mini statistic">
                        <div class="value">
                            {{ total.credit|number_format(2, ',', ' ') }}
                        </div>
                        <iv class="label">
                            Total crédit
                        </iv>
                    </div>
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th colspan="3"></th>
                <th colspan="2" class="center aligned">
                    <div class="ui tiny statistic">
                        <div class="value">
                            {{ total.dif|number_format(2, ',', ' ') }}
                        </div>
                        <iv class="label">
                            Solde
                        </iv>
                    </div>
                </th>
                <th>&nbsp;</th>
            </tr>
            </tfoot>
        </table>

    </div>

{% endblock %}
