<!doctype html>
<html lang="fr">
    <head>
        {% block metas %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% endblock %}
        <title>{% block title %}Afup{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/templates/site/css/styles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/images/favicon.ico') }}" />
        <link rel="icon" type="image/png" sizes="64x64" href="{{ asset('/images/favicon.png') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/images/apple-touch-icon.png') }}">
        <link rel="alternate" type="application/rss+xml" title="Le flux RSS de l'AFUP" href="{{ path('feed_rss') }}" />
        {% if google_analytics_enabled %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ google_analytics_id }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </head>
    <body id="body" class="{% block body_css %}{% endblock %}">
        <a class="evitement" href="#contenu">Aller au contenu</a>
        <div id="afup-global-menu">
            <a href="https://afup.org" class="lien-entete lien-entete__active" tabindex="-1">AFUP</a>
            <a href="https://event.afup.org" class="lien-entete" tabindex="-1">AFUP Day 2024</a>
            <a href="https://barometre.afup.org" class="lien-entete" tabindex="-1">Baromètre</a>
            <a href="http://www.planete-php.fr" class="lien-entete" tabindex="-1">Planète PHP</a>
            <a href="https://pufa.afup.org" class="lien-entete" tabindex="-1">PUFA</a>
        </div>
        {% block header '' %}

        {% block container_wrapper %}
        <a id="contenu" tabindex="-1"></a>
        <div class="container wrapper">
            {% for bag in ['notice', 'success', 'error'] %}
                {% for flash_message in app.session.flashBag.get(bag) %}
                    <div class="flash flash-{{ bag }}">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content '' %}
        </div>
        {% endblock%}

        {% block footer '' %}
        {% block javascripts '' %}
    </body>
</html>
