{% extends 'legacy/forumphp2009/base.twig' %}
{% set actualites = [
    {
        titre: 'Les sessions sont en lignes',
        contenu: '<p>Cette 9ème édition sera axée sur le couple PHP/MySQL, avec 8 conférences dédiées.
LEMUG.fr, l\'association francophone des utilisateurs de MySQL et partenaire de l\'évènement
animera 3 conférences</p>',
        date: '15 septembre 2009'
    }
] %}

{% set infos_importantes = [
    {
        titre: 'Les projets PHP au Forum',
        contenu: 'A l\'occasion de ce forum PHP, l\'AFUP va mettre en avant les <a href="' ~ path('legacy_event', {year: 2009, page: 'projets-php.php'}) ~ '">projets Open Source français développés autour de PHP </a>
(frameworks, applicatifs, utilitaires, ...).</p>
<p> Nous allons donc mettre à disposition des personnes qui portent ces projets un espace salle  à proximité des amphithéâtres et salles où se dérouleront les conférences. </p>
<p>Vous participez à un projet PHP Opensource et vous souhaitez être présent contactez-nous à <a href=\'mailto:forum-projet@afup.org\'>forum-projet@afup.org</a></p>',
    }, {
        titre: 'Participation de l’association LeMug.fr (MySQL User Group).',
        contenu: '<p>Le Forum PHP 2009 accueillera comme partenaire aux cotés de l’AFUP (Association Française des Utilisateurs PHP) l’association LeMug.fr (MySQL User Group).
<br>
Plusieurs conférences sont prévues sur la base de données MySQL avec des intervenants de renom.</p>',
    }
] %}

{% block content %}
<div id="cartouche-milieu">
{% include 'legacy/forumphp2009/cartouche.html.twig' %}
<h2>Participez à l'évènement PHP/MySQL de l'année !</h2>
<div style="float: right;"><object height="204" width="320"><param
name="movie"
value="http://www.dailymotion.com/swf/xaxtyv&amp;related=0"><param
name="allowFullScreen" value="true"><param name="allowScriptAccess"
value="always"><embed
src="http://www.dailymotion.com/swf/xaxtyv&amp;related=0"
type="application/x-shockwave-flash" allowfullscreen="true"
allowscriptaccess="always" height="204" width="320"></object>
</div>
<p>L'edition 2009 du Forum PHP/MySQL a lieu à Paris les <strong>12 et 13 Novembre 2009</strong> organisé par l'AFUP (Association Française des Utilisateurs de PHP) et LeMug (MySQL User Group) !</p>
<p>Cette année, Le Forum PHP accueillera pour la premiere fois en France, Michael <a href='{{ path('legacy_event', {year: 2009, page: 'conferenciers.php'}) }}#243'>"Monty" Widenius</a>, le créateur de MySQL qui a quitté SUN pour lancer un fork nommé MariaDB !!
mais aussi des conférenciers tels que Damien Seguy, Michael Chaize, Olivier Dasini, Julien Pauli, Zoe Slattery (PHP Women), Johannes Schluter (PHP), etc.</p>
<p>Les temps forts:</p>
<ol>
  <li><strong>Une journée consacrée à MySQL</strong> grâce à la participation de l'association LeMug</li> 
  <li>La présentation de Michael "Monty" Widenius, le créateur de MySQL qui a quitté SUN pour lancer un fork nommé MariaDB</li>
  <li>Les meilleurs experts PHP nationaux et internationaux sur de nombreux sujets</li>
  <li>Une salle spécialement dédiée à la <strong>découverte de projets Open Source</strong> Francophones</li>
</ol>
<p>Les liens:</p>
<ul>
<li><a href="{{ path('legacy_event', {year: 2009, page: 'agenda.php'}) }}">Le programme</a></li>
<li><a href="{{ path('legacy_event', {year: 2009, page: 'inscription.php'}) }}">Inscription</a></li>
<li><a href="{{ path('legacy_event', {year: 2009, page: 'acces.php'}) }}">Le lieu</a></li>
</ul>
<p><strong>Merci à <a href="{{ path('legacy_event', {year: 2009, page: 'sponsors.php'}) }}">nos sponsors</a></strong>, qui cette année encore sont représentatifs de la professionnalisation de PHP.</p>

<h2>Un eeePC 1005 HA à gagner  à l'occasion de la journée MySQL !</h2>
<p><img src="/templates/forumphp2009/images/eeepc1005ha.jpeg" align="right" longdesc="eeepc a gagner" />
<a href='http://www.lemug.fr'>Le Mug.fr</a>, <a href='http://www.anaska.com'>Anaska</a> (Alter Way Formation), l'organisme de <a href='http://www.anaska.com/formation-mysql.php'>formation MySQL</a> référence en partenariat avec SUN offrent un eeePC 1005HA à l'occasion de la journée MySQL du forum PHP.
<br/>L'eeePC sera offert par tirage au sort à l'occasion de l'une des conférences sur MySQL.</p>
<p><a href="{{ path('legacy_event', {year: 2009, page: 'inscription.php'}) }}">Inscrivez vous vite !!!</a></p>


<table width="100%" border="0" cellspacing="0" cellpadding="8">
    <tr>
      <td width="231" valign="top">
        <fieldset>
            <legend>&nbsp;Inscriptions fermées !&nbsp;</legend>
            <h3>Les inscriptions sont désormais fermées.<br /> Rendez-vous l'année prochaine.</h3>
        </fieldset>
	    <h2>Actualités</h2>
        {% for actualite in actualites %}
			<h3 class="actualite">{{ actualite.titre|raw }}</h3>
			<div>{{ actualite.contenu|raw }}</div>
			<div class="maj">Mise à jour : {{ actualite.date }}</div>
		{% endfor %}

      </td>
      <td valign="top">
        {% for info_importante in infos_importantes %}
			<h2>{{ info_importante.titre|raw }}</h2>
			<div>{{ info_importante.contenu|raw }}</div>
		{% endfor %}
      </td>
    </tr>
  </table>
</div>
{% endblock %}
