{% set conferenciers = [
    {
        nom: '<span class="red">Rasmus LERDORF</span>',
        code: 'rlerdorf',
        presentation: 'Créateur de <a href="http://www.php.net">PHP</a>, Architecte chez <a href="http://www.yahoo.com/">Yahoo</a>',
        biographie: 'Né à Godhavn/Qeqertarsuaq sur l\'île de Disko non loin des côtes du Groenland en 1968. Il commence à barboter avec des produits estampillés UNIX dès 1985. <br /><br />Connu pour avoir initié le projet PHP en 1995 et le module mod_info au sein d\'Apache, il peut aussi être poursuivi pour l\'insertion de la clause LIMIT dans mSQL 1.x. Un apport défiant la norme ANSI92 SQL que l\'on retrouve, au moins conceptuellement, dans MySQL et PostgreSQL.',
    },
    {
        nom: '<span class="red">Wez FURLONG</span>',
        code: 'wfurlong',
        presentation: 'Ingénieur Système chez <a href="http://www.omniti.com">OmniTI, Inc.</a>, Leader de l\'extension <a href="http://pecl.php.net/package/PDO">PDO</a>.',
        biographie: 'Wez Furlong travaille comme ingénieur système senior chez OmniTI, Inc. sur le MTA (Message Transfer Agent) le plus rapide du monde.<br /><br />Dans l\'univers du PHP, Wez est un "core developer" : il est appelé le "roi de PECL" (PECL étant la librairie des extensions ou "PHP Extension Community Library"). Il aide à la maintenance de l\'infrastructure serveur de php.net. Wez a écrit et maintient un certain nombre d\'extensions PHP, il a aussi conçu et mis en place la couche des flux ("streams" en anglais) de PHP.',
    },
    {
        nom: 'Julien BERNARD',
        code: 'jbernard',
        presentation: 'Responsable de projets au <a href="http://www.ca-assetmanagement.com">Crédit Agricole Asset Management</a>',
        biographie: 'Julien Bernard est responsable de projets informatique au sein de Crédit Agricole Asset Management. Depuis 4 ans, il a participé à de grands projets bancaires en PHP (sites internet financiers, épargne salariale, augmentation de capital, etc.). Autour de cette technologie et de par son intérêt pour les méthodologies de projets agiles, il a mis en place au sein de son équipe une méthode de développement industrialisé.',
    },
    {
        nom: 'François BILLARD-MADRIERES',
        code: 'fbillardmadrieres',
        presentation: 'G&eacute;rant de la soci&eacute;t&eacute; <a href="http://www.ajancia.com/">Ajancia</a>',
        biographie: 'Directeur des Produits de 4D (éditeur SGDBR), DG de Kahiloa (Web Agency), Gérant d\'Ajancia et DSI Externe Air Turquoise.',
    },
    {
        nom: 'William CANDILLON',
        code: 'wcandillon',
        presentation: 'Etudiant à l\'<a href="http://www.phpaspect.org/">ENIC</a>',
        biographie: 'Elève ingénieur à l\'ENIC TELECOM LILLE 1. Passionné par le développement en PHP, William Candillon écrit régulièrement des articles pour les magazines Direction|PHP et Login. Il est également l\'auteur de phpaspect, un projet sur lequel il travaille en collaboration avec Gilles Vanwormhoudt, enseignant/chercheur dont les travaux traitent de la programmation orientée aspects au Laboratoire d\'Informatique Fondamentale de Lille. ',
    },
    {
        nom: 'Michael CARNEY',
        code: 'mcarney',
        presentation: 'Responsable <a href="http://www.mysql.com/">MySQL</a>',
        biographie: 'Responsable commercial de MySQL France, Michael vient du monde des services et du conseil autour des différents SGBD.<br /><br />D\'origine britannique, Michael vit en France depuis 12 ans et a travaillé avec des comptes tels ques Alstom Power, France Télécom, Groupe AS, Bodet, Schneider Electric, La Poste, le CEA et Accor.',
    },
    {
        nom: 'Eric DASPET',
        code: 'edaspet',
        presentation: 'Consultant pour la société <a href="http://www.aston.fr/">Aston</a>',
        biographie: 'Ingénieur consultant dans les NTIC, Eric DASPET a développé une expertise autour de PHP en s\'y impliquant depuis 1996. Il est co auteur du livre <a href="http://www.amazon.fr/exec/obidos/ASIN/2212116691">"PHP 5 avancé"</a> et publie régulièrement des articles sur la conception Web. Il s\'est fait une spécialité des standards du Web.',
    },
    {
        nom: 'Jean-Marc FONTAINE',
        code: 'jmfontaine',
        presentation: 'Trésorier de l\'<a href="https://afup.org">AFUP</a>',
        biographie: 'Jean-Marc Fontaine est un développeur spécialisé dans les technologies Web. Passionné, il s\'implique dans de nombreux développements collaboratifs. Actuellement en charge de l\'architecture logicielle dans la société <a href="http://www.odeyssa.com/">Odeyssa</a>, il a auparavant collaboré à un projet pour le département Web de la chaîne de télévision M6.',
    },
    {
        nom: 'Olivier GRANGE LABAT',
        code: 'ograngelabat',
        presentation: '<a href="http://www.lemonde.fr/">LeMonde.fr</a>',
        biographie: 'Olivier est passionné de l\'internet depuis sa découverte en 1993 durant ses études d\'informatique. Il intègre le Monde interactif (LeMonde.fr) à sa création en 1999 pour mettre en place et gérer l\'infrastructure d\'hébergement du site. <br /><br />En 2002, il occupe un nouveau poste et effectue depuis différentes études et réalisations concernant notamment la migration vers les technologies libres (Linux, PHP, XUL...).',
    },
    {
        nom: 'Michel HOEL',
        code: 'mhoel',
        presentation: 'Responsable technique chez <a href="http://www.urbilog.fr/">Urbilog</a>',
        biographie: 'Responsable technique de la Société <a href="http://www.urbilog.fr/">Urbilog</a> spécialisé en solutions numériques adaptées aux personnes handicapées. Créateur de l\'outil Ocawa, analyseur de flux HTML orienté "accessibilité de page Web". Il encadre un programme de recherche lié à la domotique et le handicap avec le laboratoire LAMIH de l\'Université de Valenciennes.',
    },
    {
        nom: 'Sébastien HORDEAUX',
        code: 'shordeaux',
        presentation: '<a href="http://www.waterproof.fr/">WaterProof</a>',
        biographie: 'Gérant  fondateur  de  la  société  <a href="http://www.waterproof.fr/">WaterProof SARL</a> qui développe et distribue des solutions pour PHP; notamment <a href="http://www.waterproof.fr/">l\'environnement  de  développement  PHPEdit</a>. Son expertise est forte dans le développement PHP/Delphi et dans les applications de gestion de contenus. <br /><br />Il intervient également pour des application de gestion logistique (Supply Chain).',
    },
    {
        nom: 'Arnaud LIMBOURG',
        code: 'alimbourg',
        presentation: 'Consultant chez <a href="http://www.altior.fr">Altior</a>, membre de l\'&eacute;quipe <a href="http://pear.php.net/">PEAR</a>',
        biographie: 'Membre de l\'équipe Assurance-Qualité de PEAR et impliqué dans le développement de paquetages <a href="http://pear.php.net">PEAR</a>. Arnaud est consultant chez <a href="http://www.altior.fr">Altior</a>.',
    },
    {
        nom: 'Perrick PENET',
        code: 'ppenet',
        presentation: 'Président de l\'<a href="https://afup.org">AFUP</a>, g&eacute;rant de <a href="http://www.noparking.net">No Parking</a>',
        biographie: 'Perrick Penet est président de l\'afup. Il est également fondateur de la société <a href="http://www.noparking.net/">No Parking</a> qui développe notamment le <a href="http://www.noparking.net/opentime/index.php">logiciel de gestion du temps OpenTime</a>. Féru d\'Extreme Programming, il est également co-administrateur sur le logiciel libre <a href="http://www.simpletest.org">SimpleTest</a>.',
    },
    {
        nom: 'Cyril PIERRE de GEYER',
        code: 'cpierredegeyer',
        presentation: 'Consultant formateur pour <a href="http://formation.anaska.fr/">Anaska formation</a> et <a href="http://www.kaptive.com/">Kaptive développement</a>',
        biographie: 'Cyril PIERRE de GEYER est responsable technique de la société <a href="http://formation.anaska.fr">Anaska</a>, spécialisée dans les formations relatives aux technologies Open Source (PHP, Java, MySQL, Apache, ...). <br /><br />Co auteur du <a href="http://formation.anaska.fr/livre-php-5-avance.php">livre PHP5 avancé</a> iI fut président de l\'<a href="https://afup.org">Association française des utilisateurs de PHP</a> et participe aux sites <a href="http://www.phpteam.net">PHPteam.net</a> et <a href="http://www.phpfrance.com">PHPfrance</a>. Il a à son actif professionnel des références importantes (France3, Unesco, Cabinet du Premier Ministre, EPITA, Urssaf...).',
    },
    {
        nom: 'Guillaume PON&Ccedil;ON',
        code: 'gponcon',
        presentation: 'Ing&eacute;nieur de d&eacute;veloppement chez <a href="http://www.travelsoft.fr/" target="_blank">Travelsoft</a>',
        biographie: 'Guillaume Ponçon est ingénieur expert PHP chez <a href="http://www.travelsoft.fr" target="_blank">Travelsoft</a>, société de services leader de l\'industrie du voyage en France. <br /><br />Auteur de l\'ouvrage <a href="http://www.amazon.fr/exec/obidos/ASIN/2212116764/" target="_blank">Best Practices PHP</a> (Eyrolles) et membre actif de l\'AFUP, il participe depuis plus de 5 ans à de nombreux projets professionnels et associatifs liés à la plate-forme PHP.',
    },
    {
        nom: 'Damien SEGUY',
        code: 'dseguy',
        presentation: 'Cofondateur de <a href="http://www.nexenservices.com">Nexen services</a> et membre du PHPGroup',
        biographie: 'Damien Seguy est diplômé 1997 de l\'Ecole Centrale de Lille. Il fonde <a href="http://www.nexen.net">Nexen.net</a> en 1999, le premier portail PHP et MySQL en français. Responsable des documentations pour <a href="http://www.php.net">PHP.net</a> et <a href="http://www.mysql.com">MySQL.com</a>, il apporte un avantage décisif à <a href="http://www.nexenservices.com">Nexen Services</a> pour ses gammes d\'hébergement professionnel.<br />Damien Seguy intervient dans les conférences PHP internationales, et organise celle de Montréal. Il est l\'auteur de deux livres et du premier coffret DVD consacrés à PHP.',
    },
    {
        nom: 'Gilles VANWORMHOUDT',
        code: 'gvanwormhoudt',
        presentation: 'Maître de conférences du Groupe des Ecoles de Télécommunications (GET)',
        biographie: 'Gilles Vanwormhoudt est actuellement enseignant-chercheur au département Informatique et Réseaux de l\'ENIC Telecom Lille 1. Il a obtenu un doctorat en informatique de l\'Université de Lille 1 au sein du Laboratoire d\'Informatique Fondamentale où il poursuit ses recherches dans le domaine de l\'ingénierie logicielle. Ses thématiques de recherche couvrent la conception et la programmation orientée aspects de logiciels complexes ainsi que le développement de logiciels à base de modèles et de composants. Il participe au programme de recherche Jacquard de l\'INRIA et au projet Mosaïque de la région Nord-Pas-de-Calais sur les applications ubiquitaires.',
    },
] %}
{% include 'legacy/forumphp2005/entete.html.twig' %}
<div id="cartouche-milieu">
	<img id="cartouchepage" src="/templates/forumphp2005/images/cartouche-page.png" usemap="#m_cartouchepage" />
	<map name="m_cartouchepage">
	<area shape="poly" coords="294,60,424,60,424,86,294,86,294,60" href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}" title="Tarifs et inscriptions" alt="Tarifs et inscriptions" >
	<area shape="poly" coords="221,60,291,60,291,86,221,86,221,60" href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}" title="Accès" alt="Accès" >
	</map>
	<h1>&nbsp;&nbsp;Les conférenciers</h1>
	
  <table width="100%" border="0" cellspacing="0" cellpadding="6">
    {% for conferencier in conferenciers %}
    <tr> 
      <td colspan="2">
        <hr width="100%" noshade align="center" size="1" />
      </td>
    </tr>
    <tr> 
      <td colspan="2"><a name="{{ conferencier.code }}" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td valign="bottom"> 
              <div class="homme"><b>{{ conferencier.nom|raw }}</b></div>
            </td>
            <td align="right" valign="bottom">{{ conferencier.presentation|raw }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td width="59"><img src="/templates/forumphp2005/images/intervenants/{{ conferencier.code }}.jpg" border="0" align="left" /></td>
      <td width="920" align="justify" valign="middle">{{ conferencier.biographie|raw }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% include 'legacy/forumphp2005/pied_de_page.html.twig' %}
