<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="Salon PHP Forum PHP dix ans de PHP" lang="fr" />
        <link rel="stylesheet" href="/templates/forumphp2005/style.css" type="text/css" media="all" />
        <title>Forum PHP Paris 2005 organisé par l'Association Française des Utilisateurs de PHP</title>
    </head>
    <body>
        <div id="conteneur">
            <div id="a-gauche">
                <div id="logo"><br />
                    <a href="https://afup.org/"><img id="logo-afup" src="/templates/forumphp2005/images/logo_afup.png" alt="AFUP" border="0" /></a>
                </div>
                <div id="menu">
                    <a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'index.php'}) }}">Accueil</a>
                    <a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'sessions.php'}) }}">Agenda<br />&amp; Conférences</a>
                    <a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'resumes.php'}) }}">Résumés</a>
					<a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}">Conférenciers</a>
					<a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}">Tarifs / Inscriptions</a> <a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'contact.php'}) }}">Contacts</a>
					<a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'annonce.php'}) }}">Presse</a> <a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}">Accès</a>
					<a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'sponsors.php'}) }}">Sponsors</a> <a class="menu" href="{{ path('legacy_event', {year: 2005, page: 'credits.php'}) }}">Remerciements</a>
					<a class="menu-english" href="{{ path('legacy_event', {year: 2005, page: 'english.php'}) }}"><img src="/templates/forumphp2005/images/anglais.gif" alt="english version" border="0" /></a>
				  </div>


  <div id="dix-ans">
     <a href="{{ path('legacy_event', {year: 2005, page: 'sessions.php'}) }}"><img src="/templates/forumphp2005/images/php-10-ans.gif" alt="PHP a 10 ans" border="0" /></a>
  </div>
            </div>

            <div id="au-milieu">
