{% include 'legacy/forumphp2005/entete.html.twig' %}
<div id="cartouche-gauche">
    <div id="cartouche">
        <img name="cartouchehaut" src="/templates/forumphp2005/images/cartouche-haut.png" alt="" height="92" width="231" />
        <div class="a-interieur">
            <p>84, rue de Grenelle<br />Paris 7ème<br />
        <b>9 et 10 novembre 2005</b></p>
            <p>Venez suivre la cinquième édition du forum PHP organisé par l'Association Française des Utilisateurs de PHP.</p>
        </div>
        <a href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}"><img name="cartoucheacces" src="/templates/forumphp2005/images/cartouche-acces.png" alt="" border="0" height="60" width="88" /></a><a href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}"><img name="cartoucheinscriptions" src="/templates/forumphp2005/images/cartouche-inscriptions.png" alt="" border="0" height="60" width="143" /></a></div>
</div>

<div id="cartouche-droit">
    <img id="seront-presents" src="/templates/forumphp2005/images/entete-seront-presents.png" alt="Ils seront présents" />
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#rlerdorf"><span class="vip">Rasmus LERDORF</span></a><br />
    <i>Inventeur de PHP.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#wfurlong"><span class="vip">Wez FURLONG</span></a><br />
    <i>Membre du PHPGroup et responsable du module PDO.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#ppenet"><span class="vip">Perrick PENET</span></a><br />
    <i>Président de l'AFUP, gérant de la société No Parking et créateur du logiciel OpenTime.</i>
    <br /><br />
    <span class="vip">Damien SEGUY</span><br />
    <i>Rédacteur en chef Direction|PHP et Nexen.net, leader des traductions PHP et MySQL en français.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#cpierredegeyer"><span class="vip">Cyril PIERRE de GEYER</span></a><br />
    <i>Co-auteur du livre PHP 5 avancé, directeur technique d'Anaska formation et responsable des sites phpfrance et phpteam.net.</i>
    <br /><br />
</div>

<div id="cartouche-milieu">
  <h2>Les sessions du Forum PHP</h2>
  <table width="100%" border="0" cellspacing="1" cellpadding="0">
    <tr>
      <td width="50%" valign="top">
		<h2>Le site pour le Forum PHP 2007</h2>
		<p>Le site pour le <a href="https://afup.org/pages/forumphp2007">Forum PHP 2007 est désormais ouvert</a>.</p>

		<hr />

		<p>Les supports des conférences du Forum PHP 2005 sont <a href="{{ path('legacy_event', {year: 2005, page: 'resumes.php'}) }}">disponibles au téléchargement</a>. Ils sont complétés par un résumé des 2 jours de sessions effectué par Henry Cesbron Lavau, rédacteur expert.</p>
		<p align="right"><i><cite>mis à jour le 15/11/2005</cite></i></p>

		<hr />

		<p>Plusieurs temps forts vont éclairer ce forum 2005 :</p>
        <b>Présentations fonctionnelles</b> :<br />
        <ul>
          <li>présentation de PHP 5 par l'inventeur de PHP Rasmus LERDORF</li>
          <li>présentation des différentes solutions PHP OpenSource par Cyril
            PIERRE de GEYER</li>
          <li>présentation des solutions techniques du Crédit Agricole et LeMonde.fr</li>
        </ul>
        <b>Présentations techniques</b> :<br />
        <ul>
          <li>présentation du module d'abstraction de base de données PDO par
            Wez FURLONG</li>
          <li>conférence sur l'amélioration des performances de PHP par Eric DASPET,
            l'un des auteurs du livre "PHP 5 avancé"</li>
          <li>présentation d'Ajax, de la Programmation Orientée Aspect</li>
        </ul>
    <p><a href="{{ path('legacy_event', {year: 2005, page: 'sessions.php'}) }}">[Tout le programme]</a></p>
	<p align="right"><i><cite>mis à jour le 05/10/2005</cite></i></p>
      </td>
      <td valign="top" width="50%">
        <table width="100%" border="0" cellspacing="15" cellpadding="0">
          <tr>
            <td colspan="2" height="18">Notre partenaire <a href="http://www.editions-eyrolles.com/" target="_blank">Eyrolles</a>
              offre <b>dix exemplaires</b> de ces deux ouvrages-cl&eacute;s sur PHP !</td>
          </tr>
          <tr valign="top">
            <td width="100"><a href="http://php.openstates.org"><img src="/templates/forumphp2005/images/livre_phpbp.jpg" width="100" height="121" border="0"></a></td>
            <td><span class="vip"><a href="http://php.openstates.org" target="_blank">Best
              Practices PHP 5</a></span><br>
              <br>
              - <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#gponcon">Guillaume Pon&ccedil;on</a>
				<p>Les bonnes pratiques pour une utilisation professionnelle et
                fiable de PHP. </p>
            </td>
          </tr>
          <tr valign="top">
            <td width="100"><a href="http://www.eyrolles.com/Informatique/Livre/9782212116694/livre-php-5-avance.php"><img src="/templates/forumphp2005/images/livre_php5avance.jpg" width="100" height="124" border="0"></a></td>
            <td> <span class="vip"><a href="http://www.eyrolles.com/Informatique/Livre/9782212116694/livre-php-5-avance.php" target="_blank">PHP
              5 Avanc&eacute;</a></span><br>
              <br>
              - <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#edaspet">Eric Daspet</a><br>
              - <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#cpierredegeyer" target="_parent">Cyril
              Pierre de Geyer</a>
              <p>La r&eacute;f&eacute;rence fran&ccedil;aise pour d&eacute;velopper
                des applications PHP.</p>
            </td>
          </tr>
    <tr>
      <td colspan="2" align="right"><i><cite>mis à jour le 08/10/2005</cite></i></td>
    </tr>
    <tr>
	  <td colspan="2" height="18"><hr /></td>
    </tr>
    <tr>
	  <td colspan="2" height="18">
				<p><a href="http://www.mandriva.com/" target="_blank"><img class="entreprise" src="/templates/forumphp/images/logo_mandriva.gif" alt="Mandriva" /></a></p>
				L'AFUP est heureuse d'annoncer un nouveau sponsor pour l'édition 2005 du Forum PHP à Paris : <a href="http://www.mandriva.com/" target="_blank">Mandriva</a> !</p>
				<p>Des boîtes de cette distribution Linux leader en Europe seront offertes lors du Forum.</p></td>
    </tr>
	<tr>
	  <td colspan="2" align="right"><i><cite>mis à jour le 18/10/2005</cite></i></td>
	</tr>
        </table>
      </td>
    </tr>
  </table>
</div>
{% include 'legacy/forumphp2005/pied_de_page.html.twig' %}
