{% include 'legacy/forumphp2005/entete.html.twig' %}
        <div id="cartouche-milieu">
            <img id="cartouchepage" src="/templates/forumphp2005/images/cartouche-page.png" usemap="#m_cartouchepage" />
            <map name="m_cartouchepage">
            <area shape="poly" coords="294,60,424,60,424,86,294,86,294,60" href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}" title="Tarifs et inscriptions" alt="Tarifs et inscriptions" >
            <area shape="poly" coords="221,60,291,60,291,86,221,86,221,60" href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}" title="Accès" alt="Accès" >
            </map>
            <h1>Le programme des deux jours</h1>

  <ul>
    <li>
      <h2>9 novembre : Journée fonctionnelle </h2>
      <b>Temps fort : 1ère démonstration en France de MySQL 5 par un membre de
      l'équipe MySQL.</b><br />
      <br />
      Orientée fonctionnelle cette première journée convient parfaitement aux
      responsables informatiques et décideurs qui souhaitent découvrir le potentiel
      de la plate-forme PHP. Les intervenants sont à la fois des entreprises utilisatrices
      et des experts. De multiples démonstrations et retours d'expérience auront
      lieu. <br />
    </li>
    <li>
      <h2>10 novembre : Journée technique </h2>
      <b>Temps fort : Présentation de PHP 5 par l'inventeur de PHP, Rasmus Lerdorf.</b><br />
      <br />
      Cette seconde journée est destinée à des profils techniques qui possèdent
      déjà de solides connaissances sur PHP. Placée sous le signe de l'optimisation,
      elle abordera différentes problématiques telles que la sécurité ou la gestion
      des erreurs avec des démonstrations et un parcours approfondi des codes
      sources.<br />
      <br />
    </li>
  </ul>

    <h1>Les horaires</h1>
    <ul>
        <li>ouverture des portes : 8h30</li>
        <li>début des sessions : 9h</li>
        <li>fin des sessions : vers 18h</li>
    </ul>


  <table width="100%" border="0" cellspacing="0" cellpadding="8" bgcolor="#000000">
    <tr>
      <td bgcolor="#E0E2ED" height="32"><b>9 Novembre : Journée Fonctionnelle</b></td>
    </tr>
  </table>
  <br />
  <table width="100%" border="0" cellspacing="0" cellpadding="6">
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/keynote_forumphp2005_1.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			9h - 9h15 : <b>Key Note</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#ppenet">Perrick
              PENET</a>, <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#jmfontaine">Jean-Marc FONTAINE</a> </span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#ppenet"><img src="/templates/forumphp2005/images/intervenants/ppenet.jpg" alt="Perrick PENET" border="0" /></a><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#jmfontaine"><img src="/templates/forumphp2005/images/intervenants/jmfontaine.jpg" alt="Jean-marc Fontaine" border="0" /></a></td>
      <td align="justify" valign="top">
        <p>Cette session d'ouverture a pour objectif de présenter l'AFUP qui est
          organisatrice de ce cinquième forum PHP. Il sera également abordé les
          évolutions de moeurs vis à vis de PHP, son adoption massive sur Internet
          et sa percée sur les Intranet</p>
        <p>Perrick PENET et Jean-Marc FONTAINE respectivement président et trésorier
          de l'AFUP présenteront également le programme des conférences de ces
          deux jours. </p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="http://talks.php.net/show/afup05"><img src="/templates/forumphp2005/images/html.gif" /></a><br />
			9h30 - 10h15 : <b>Présentation de PHP</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#rlerdorf">Rasmus
              LERDORF</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#rlerdorf"><img src="/templates/forumphp2005/images/intervenants/rlerdorf.jpg" alt="Rasmus LERDORF" border="0" /></a></td>
      <td align="justify">
        <p>Première plate-forme web dans le monde, PHP est aussi une plate-forme
          d'entreprise au même titre que J2EE et .NET.<br />
        </p>
        <ul>
          <li> Comment a-t-elle été créée, comment a-t-elle évolué ? </li>
          <li> Quels sont ses points forts et ses faiblesses ? </li>
          <li> Est-elle adaptée à tous les types de projets ?</li>
        </ul>
        <p>La comparaison des trois architectures, la présentation de fonctions
          clés peu connues (PEAR, CLI, GTK, etc.) et de références utilisateurs
          vous permettront de vous faire une idée précise sur le potentiel de
          cette plate-forme.
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/solutionslibres_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			10h15 - 11h15 : <b>Panorama des solutions libres</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#cpierredegeyer">Cyril
              PIERRE de GEYER</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#cpierredegeyer"><img src="/templates/forumphp2005/images/intervenants/cpierredegeyer.jpg" alt="Cyril PIERRE de GEYER" border="0" /></a></td>
      <td align="justify">
        <p>Une des grandes forces du logiciel libre réside dans la diversité des
          solutions existantes. C'est d'autant plus vrai dans le monde web où
          des milliers de projets se côtoient. A tel point qu'il devient difficile
          de choisir quelles briques utiliser pour répondre à sa problématique
          tellement le choix est vaste.</p>
        <p>Cette conférence présentera les différents outils libres existants
          au travers d'exemples et de mise en pratique nous aborderons les différents
          outils de travail collaboratifs, les ERP, CRM, boutiques en ligne, système
          de e-learning, gestion de contenu, etc.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/creditagricole_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			11h30 - 12h15 : <b>Retour d'expérience : Crédit Agricole</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#jbernard">Julien
              BERNARD</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#jbernard"><img src="/templates/forumphp2005/images/intervenants/jbernard.jpg" alt="Julien Bernard" border="0" /></a></td>
      <td align="justify">
        <p>Crédit Agricole Asset Management utilise PHP depuis plus de 4 ans pour
          développer des applications web publiques et/ou sécurisées. </p>
        <p>Plus de dix développeurs travaillent sur un framework dédié avec des
          outils et des normes de développements homogènes et standardisées. Cette
          session apportera un retour d'expérience sur PHP et son utilisation
          dans un contexte de développement industrialisé.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			12h15 - 13h00 : <b>MySQL 5 : les nouveautés</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#mcarney">Michael
              CARNEY</a> &amp; <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#svaroqui">Stéphane
              VAROQUI</a>, MySQL AB</span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#mcarney"><img src="/templates/forumphp2005/images/intervenants/mcarney.jpg" alt="Michael Carney" border="0" /></a>
        <!--<a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#svaroqui"><img src="/templates/forumphp2005/images/intervenants/svaroqui.jpg" alt="Stéphane Varoqui" border="0" /></a>-->
      </td>
      <td align="justify">
        <p>Présentation et démonstration de la version 5.0 de MySQL (procédures
          stockées, curseurs, views, triggers), ainsi qu'une présentation de MySQL
          AB en France (Site, Forums, politique open source, politique commercial,
          historique, chiffres et références).</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            <a href="/templates/forumphp2005/talks/bestpracticesphp_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br>
			14h30 - 15h30 : <b>Bonnes Pratiques PHP</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#gponcon">Guillaume
              PONÇON</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#gponcon"><img src="/templates/forumphp2005/images/intervenants/gponcon.jpg" alt="Guillaume Ponçon" border="0" /></a></td>
      <td align="justify">
        <p>Cette session proposera un panorama de bonnes pratiques pour des développements
          PHP performants à tous niveaux. Nous aborderons comment :</p>
        <ul>
          <li>paramétrer un environnement de développement efficace,</li>
          <li>mettre en oeuvre une méthodologie pour un projet PHP,</li>
          <li>déboguer et la maîtriser des performances à tout moment,</li>
          <li>exploiter les nouveautés de PHP 5.1,</li>
          <li>éviter les régressions, documenter et faciliter la maintenance,</li>
          <li>optimiser une application PHP et son environnement d'exécution.</li>
        </ul>
        <p>A la fin de cette session, de nombreux repères et références seront
          à votre disposition pour exploiter le meilleur de PHP dans vos projets.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/lemonde.fr_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			15h30 - 16h15 : <b>PHP et <a href='http://www.lemonde.fr'>LeMonde.fr</a> : passé, présent (et avenir)</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#ograngelabat">Olivier
              GRANGE LABAT</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#ograngelabat"><img src="/templates/forumphp2005/images/intervenants/ograngelabat.jpg" alt="Olivier Grange Labat" border="0" /></a></td>
      <td align="justify">
        <p>Dans cette présentation, nous reviendrons sur la migration d'une technologie
          propriétaire vers PHP dans le contexte d'un site Internet critique et
          à fort trafic. Nous décrirons de quelle manière PHP est employé au quotidien,
          notamment dans le cadre de l'outil de gestion de contenu du site développé
          avec XUL. </p>
        <p>Nous terminerons par évoquer quelques évolutions prévues à court ou
          moyen terme concernant notre utilisation de PHP.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/airturquoise_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			16h30 - 17h20 : <b>Retour d'expérience : Air Turquoise décolle
              avec PHP</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#fbillardmadrieres">François
              BILLARD MADRIÈRES</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#fbillardmadrieres"><img src="/templates/forumphp2005/images/intervenants/fbillardmadrieres.jpg" alt="Francois Billard Madrieres" border="0" /></a></td>
      <td align="justify">
        <p>Mettre en place un système d'information pour une compagnie aérienne
          en moins de 6 mois : Cette présentation détaille la genèse de ce projet,
          les raisons du choix de PHP, les choix techniques, mes méthodes et les
          outils mis en oeuvre pour parvenir à l'objectif.</p>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <table width="100%" border="0" cellspacing="0" cellpadding="8" bgcolor="#000000">
    <tr>
      <td bgcolor="#E0E2ED"><b>10 Novembre : Journée Technique</b></td>
    </tr>
  </table>
  <br />
  <table width="100%" border="0" cellspacing="0" cellpadding="6">
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/keynote_forumphp2005_2.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			9h - 9h15 : <b>Key Note</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#fbillardmadrieres">François BILLARD-MADRIERES</a>, <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#dseguy">Damien SEGUY</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#fbillardmadrieres"><img src="/templates/forumphp2005/images/intervenants/fbillardmadrieres.jpg" alt="François BILLARD-MADRIERES" border="0" /></a><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#dseguy"><img src="/templates/forumphp2005/images/intervenants/dseguy.jpg" alt="Damien SEGUY" border="0" /></a></td>
      <td align="justify" valign="top">
        <p>François BILLARD-MADRIERES et Damien SEGUY, respectivement secrétaire et vice-président de l'AFUP, présenteront le programme de cette journée technique.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="http://talks.php.net/show/afup05_2"><img src="/templates/forumphp2005/images/html.gif" /></a><br />
			9h30 - 10h15 : <b>Présentation de PHP</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#rlerdorf">Rasmus LERDORF</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#rlerdorf"><img src="/templates/forumphp2005/images/intervenants/rlerdorf.jpg" alt="Rasmus LERDORF" border="0" /></a></td>
      <td align="justify">
        <p>
		En 10 ans, PHP est passé d'un projet personnelle à un langage stable, robuste et puissant. Son créateur nous invite à le suivre dans les arcanes de ce projet Open Source. Acteurs, méthodes et innovations seront abordés avec comme ligne de conduite : comment utiliser PHP au mieux pour faire réussir vos projets ?
		</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/extension_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			10h15 - 11h15 : <b>Création d'une extension PHP</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#mhoel">Michel
              HOEL</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#mhoel"><img src="/templates/forumphp2005/images/intervenants/mhoel.jpg" alt="Michel Hoel" border="0" /></a></td>
      <td align="justify">
        <p>Cette session vous permettra de répondre aux questions "pourquoi faire
          une extension à PHP ?", "Comment s'y prendre et s'assurer de la portabilité
          Win32 et Unix/Linux ?", "Comment faire le choix entre un module externe
          et un module interne ?".</p>
        <p>Puis sera présentée l'étude de la création de l'extension du moteur
          d'inférence CLIPS avec PHP qui révèlera les difficutés de développement
          de ce type de module. En particulier la fonction callback de CLIPS permettant
          à PHP de récupérer toutes les informations 'en direct' du moteur d'inférence.</p>
        <p>Enfin une démonstration de l'utilisation de scripts de CLIPS en collaboration
          avec PHP mettra en évidence l'apport donné à certains types d'application
          demandant l'utilisation de l'inférence.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/pear_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			11h30 - 12h15 : <b>L'assurance qualité dans le projet PEAR</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#alimbourg">Arnaud
              LIMBOURG</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#alimbourg"><img src="/templates/forumphp2005/images/intervenants/alimbourg.jpg" alt="Arnaud Limbourg" border="0" /></a></td>
      <td align="justify">
        <p>Le nombre et la diversité des contributeurs sur un projet de l'envergure
          de PEAR nécessite la mise en place d'outils et de règles afin d'assurer
          aux utilisateurs un bon niveau de qualité. Les nouveautés de PEAR 1.4
          seront également présentées avec un accent sur les apports à l'assurance
          qualité du projet.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
			<a href="/templates/forumphp2005/talks/aspects_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			12h15 - 13h00 : <b>Programmation Orientée Aspects en PHP</b></td>
            <td align="right"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#gvanwormhoudt">Gilles
              VANWORMHOUDT<br />
              </a>&amp; <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#wcandillon">William CANDILLON</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#wcandillon"><img src="/templates/forumphp2005/images/intervenants/wcandillon.jpg" alt="William Candillon" border="0" /></a><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#gvanwormhoudt"><img src="/templates/forumphp2005/images/intervenants/gvanwormhoudt.jpg" alt="Gilles Vanwormhout" border="0" /></a></td>
      <td align="justify">
        <p>L'objectif de cette session est de présenter les les concepts fondamentaux
          de la Programmation Orientée Aspects (POA) et son intérêt dans les développements
          web. </p>
        <p>Seront ensuite abordés les outils de la POA pour PHP et en particulier
          la nouvelle version de phpaspect, un cas d'utilisation dans une application
          web de grande envergure ainsi que l'implantation de patrons de conception
          avec des aspects. </p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="18">
			<a href="/templates/forumphp2005/talks/ajax_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			14h00 - 15h00 : <b>AJAX : Brillez avec vos applications web</b></td>
            <td align="right" height="18"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#shordeaux">Sébastien
              HORDEAUX</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#shordeaux"><img src="/templates/forumphp2005/images/intervenants/shordeaux.jpg" alt="Sébastien Hordeaux" border="0" /></a></td>
      <td align="justify">
        <p>L'ergonomie des applications web est de plus en plus évoluée et riche
          afin de permettre la même productivité que les applications de bureau.
          Les dernières avancées technologiques ont permis de diminuer cet écart:
          JS, DHTML, CSS, XML, etc.</p>
        <p>AJAX est une technologie qui permet de créer des applications plus
          conviviales, plus efficaces et plus pratiques à vos clients. A l'issue
          de cette présentation vous saurez ce qu'est AJAX, ce qu'il permet de
          faire, ses contraintes et limites. </p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="18">
			<a href="/templates/forumphp2005/talks/performances_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			15h00 - 16h00 : <b>PHP et performances</b></td>
            <td align="right" height="18"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#edaspet">Eric
              DASPET</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#edaspet"><img src="/templates/forumphp2005/images/intervenants/edaspet.jpg" alt="Eric Daspet" border="0" /></a></td>
      <td align="justify">
        <p>PHP jouit parfois d'une mauvaise réputation au niveau des performances.
          Nous verrons si cette réputation est méritée, si les performances sont
          réellement un problème pour utiliser PHP. </p>
        <p>PHP a une architecture qui lui permet de monter en charge sans mettre
          en place des solutions complexes. Entre l'installation, la configuration
          et les possibilités au niveau applicatif, cette session vous permettra
          de répondre efficacement à la problématique des performances.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="18">
			<a href="/templates/forumphp2005/talks/pdo_forumphp2005.pdf"><img src="/templates/forumphp2005/images/pdf.gif" /></a><br />
			16h15 - 17h15 : <b>PDO : Abstraction de base de données avec PHP 5.1</b></td>
            <td align="right" height="18"><span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#wfurlong">Wez
              FURLONG</a></span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#wfurlong"><img src="/templates/forumphp2005/images/intervenants/wfurlong.jpg" alt="Wez Furlong" border="0" /></a></td>
      <td align="justify">
        <p>PHP 5.1 propose une nouvelle technique pour accéder aux données, PHP
          Data Objects (PDO) : elle fournit des APIs clairs, simples (mais puissants)
          et unifiés qui permet de travailler avec toutes vos bases de données
          favorites. </p>
        <p>Parmi les fonctionnalités on retrouve les procédures stockées (y compris
          pour les bases de données qui n'ont pas cette fonctionntalité en natif),
          les transactions, les curseurs, les LOBs et une gestion d'erreur souple.
          Seront examinés les problèmes de portabilité entre bases de données
          et comment profiter au mieux de PDO pour en éviter les déboires. </p>
        <p>Une conférence indispensable pour mieux comprendre le future de l'accès
          aux données avec PHP.</p>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top" nowrap colspan="2">
        <hr width="100%" size="1" noshade align="center" />
      </td>
    </tr>
	<tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="18">17h15 - 18h00 : <b>Session Questions & Réponses avec le PHP Core</b></td>
            <td align="right" height="18">
				<span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#rlerdorf">Rasmus LERDORF</a></span><br />
				<span class="conferencier"><a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}?#wfurlong">Wez FURLONG</a></span><br />
				<span class="conferencier"><a>Zeev SURASKI</a></span><br />
				<span class="conferencier"><a>Andrei ZMIEVSKI</a></span><br />
				<span class="conferencier">...</span><br />
			</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" nowrap><img src="/templates/forumphp2005/images/intervenants/poweredbyphp.png" alt="PHP Core" border="0" /></td>
      <td align="justify">
        <p>Le PHP Core est l'équipe qui pilote les développements autour de PHP. Ils seront rassemblés pour une séance de Questions&nbsp;- Réponses avec le public&nbsp;: voici une occasion unique de les rencontrer et d'évoquer avec eux ce que PHP nous réserve pour les 10 ans à venir.</p>
      </td>
    </tr>
  </table>
  <p><br />
  </p>
</div>
{% include 'legacy/forumphp2005/pied_de_page.html.twig' %}
