{% extends 'admin/base.html.twig' %}
{% block body %}
    <div id="header">
        <h1>
            <img src="{{ asset('templates/administration/images/logo_afup.png') }}" />
            {{ title }} − Administration AFUP
        </h1>
    </div>

    {% if app.user %}
        {{ render(controller('AppBundle:Admin:getMenu')) }}
        {% if app.user.hasRole('ROLE_MEMBER_EXPIRED') %}
            <p class="note error">
                Votre cotisation a expiré. Les fonctionnalités réservées aux membres ne vous sont pas accessibles.
            </p>
        {% endif %}
    {% endif %}

    <div class="col1">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{type}}">{{message|raw}}</div>
            {% endfor %}
        {% endfor %}
        {% block content %}
            {{ content|raw }}
        {% endblock %}
    </div>

    <div id="footer">
        &copy; AFUP | Icônes <a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam</a>
    </div>


    <!-- Dropzone -->
    <script type="text/javascript" src="{{ asset('javascript/dropzone/dropzone.min.js') }}"></script>
    <script src="/js_dist/admin.js"></script>
{% endblock %}
