<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <title>{{ title }} - Administration AFUP</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/administration/style.css') }}?v=4" title="AFUP" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('templates/administration/style_print.css') }}" title="AFUP" media="print" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/glyphicons.css') }}" media="screen" />
    {% block stylesheets '' %}

    <!-- JS -->
    <script type="text/javascript" src="{{ asset('javascript/fonctions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('javascript/jquery-1.4.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('javascript/tiny_mce/jquery.tinymce.js') }}"></script>
    <script type="text/javascript" src="{{ asset('javascript/tinymce.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon.png">
</head>

<body id="{{ page|default('') }}" class="{{ class|default('') }}">
{% block body '' %}
</body>
</html>
