{% extends 'admin/base.html.twig' %}
{% block body %}
    <div id="header">
        <h1>
            <img src="{{ asset('templates/administration/images/logo_afup.png') }}" />
            {{ title }} − Administration AFUP
        </h1>
    </div>

    <div class="colmask leftmenu">
        <div class="colleft">
            <div class="col1">
                {{ content|raw }}
            </div>
            <div class="col2">
                {{ render(controller('AppBundle:Admin:getMenu')) }}
            </div>
        </div>
    </div>

    <div id="footer">
        &copy; AFUP | Icônes <a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam</a>
    </div>


    <!-- Dropzone -->
    <script type="text/javascript" src="{{ asset('javascript/dropzone/dropzone.min.js') }}"></script>
{% endblock %}
