{% extends 'admin/base.html.twig' %}

{% block body %}
    <div id="contenu" class="panel">
        <h1>
            <img src="{{ asset('templates/administration/images/logo_afup.png') }}" alt="Association Française des Utilisateurs de PHP">
        </h1>
        <h2>Mot de passe perdu</h2>
        {% for bag in ['notice', 'success', 'error'] %}
            {% for flash_message in app.session.flashBag.get(bag) %}
                <div class="flash flash-{{ bag }}">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}
        {{ form_start(form) }}
        <p class="rangee">
            Indiquez votre email ici. Si un compte correspond à cet email, vous recevrez un nouveau mot de passe.
        </p>
        <fieldset>
            {{ form_widget(form) }}
        </fieldset>
        <p class="rangee">
            <a href="{{ url('admin_login') }}">Retour au formulaire de connexion</a>
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}
