{% extends 'event/cfp/base.html.twig' %}
{% block content %}
    <div class="col-md-8">
        <h2>CFP: {{ event.title }}</h2>
        {% if talk.id %}
            <h3>{{ 'Modifier ma proposition'|trans }}</h3>
        {% else %}
            <h3>{{ 'Nouvelle proposition'|trans }}</h3>
        {% endif %}

        {% include 'event/cfp/form.html.twig' with {'form': form} %}

        <p>* {{ 'code_of_conduct_warning'|trans|raw }}</p>
        <p>{{ "Vous pouvez éditer votre proposition jusqu'à la fin du CFP."|trans }}</p>
        <h3>{{ 'Conférenciers'|trans }}</h3>
        <ul>
            {% for speaker in speakers %}
                <li>{{ speaker.firstname~' '~speaker.lastname }}</li>
            {% endfor %}
        </ul>
        {% if invitations.count > 0 %}
            <h3>{{ 'Invitations en attente'|trans }}</h3>
            <ul>
                {% for invitation in invitations %}
                    <li>{{ invitation['asi'].email }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>{{ 'Faire cette conférence à plusieurs'|trans }}</h3>
        <p>{{ "Si vous présentez ce sujet à plusieurs, vous pouvez inviter d'autres conférenciers via le formulaire ci-dessous."|trans }}</p>
        {{ form(invitationForm) }}
        {{ include('event/cfp/list_votes.html.twig') }}
    </div>
    {{ sidebar|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
		var simplemde = new SimpleMDE({
			spellChecker: false,
			hideIcons: ['side-by-side', 'fullscreen']
		});
    </script>
{% endblock %}
