{% extends 'event/cfp/base.html.twig' %}
{% block content %}
    <div class="col-md-8">
        <h2>CFP: {{ event.title }}</h2>
        {% if talk.id %}
            <h3>{{ 'Modifier ma proposition'|trans }}</h3>
        {% else %}
            <h3>{{ 'Nouvelle proposition'|trans }}</h3>
        {% endif %}
        {{ form(form) }}
        <p>* {{ 'code_of_conduct_warning'|trans }}</p>
        <p>** {{ 'Ces notes facultatives peuvent contenir des informations sur votre conférence que vous ne voudriez pas voir apparaitre sur le système de vote et dans le programme'|trans }}.</p>
    </div>
    {{ sidebar|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
		var simplemde = new SimpleMDE({
			spellChecker: false,
			hideIcons: ['side-by-side', 'fullscreen']
		});
    </script>
{% endblock %}
