{% extends 'event/cfp/base.html.twig' %}
{% block content %}
    <div class="col-md-8">
        <h2>CFP: {{ event.title }}</h2>
        {% if talk.id %}
            <h3>{{ 'Modifier ma proposition'|trans }}</h3>
        {% else %}
            <h3>{{ 'Nouvelle proposition'|trans }}</h3>
        {% endif %}

        <div class="mlm">
            {% if not event.isCfpOpen %}
                <div class="flash flash-error">
                    {{ "Le CFP n'est pas encore ouvert. Il ouvrira le %date%."|trans({'%date%': event.dateStartCallForPapers|localizeddate}) }}
                </div>
            {% endif %}
        </div>

        {% include 'event/cfp/form.html.twig' with {'form': form} %}

        <p>(1) {{ 'code_of_conduct_warning'|trans|raw }}</p>
        <p>(2) {{ 'Ces notes facultatives peuvent contenir des informations sur votre conférence que vous ne voudriez pas voir apparaitre sur le système de vote et dans le programme'|trans }}.</p>
    </div>
    {{ sidebar|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
		var simplemde = new SimpleMDE({
			spellChecker: false,
			hideIcons: ['side-by-side', 'fullscreen']
		});
    </script>
{% endblock %}
