{% extends 'event/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/countdown.min.js') }}"></script>
{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@afup" />
    <meta name="twitter:title" content="AFUP - Votez pour les conférences du {{ event.title }}" />
    <meta name="twitter:description" content="Votez pour les conférence du {{ event.title }} qui aura lieu {% if event.dateStart == event.dateEnd %}le {{ event.dateStart|date('d') }}{% else %}les {{ event.dateStart|date('d') }}-{{ event.dateEnd|date('d') }}{% endif %} {{ event.dateEnd|format_date('none', 'MMMM') }}." />
    {% if event.logoUrl %}
        <meta name="twitter:image" content="{{ event.logoUrl }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Votes: {{ event.title }}</h2>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if app.request.locale == 'fr' %}
            countdown.setLabels(
                ' milliseconde| seconde| minute| heure| jour| semaine| mois| année| décennie| siècle| millénaire',
                ' millisecondes| secondes| minutes| heures| jours| semaines| mois| années| décennies| siècles| millénaires',
                ' et ',
                ', ',
                'maintenant');
            {% endif %}
            var end = new Date({{ event.dateEndVote|date("Y, m-1, d, H, i, s") }});
            var counter = document.querySelector('#end');
            function update() {
                var ts = countdown(end, null, countdown.DAYS | countdown.HOURS);
                counter.innerHTML = ts.toHTML('strong', 'fini');
                requestAnimationFrame(update);
            }
            update();
        })
    </script>
    <p id="endTitle">{{ 'Les votes sont ouverts jusqu\'au %date%.' | trans({ '%date%': event.dateEndVote|format_date('long') }) }}</p>
    <p id="countdown">{{ 'Il vous reste donc <span id="end"></span>.' | trans | raw }}</p>
    <div id="homeButtons">
        <a href="{{ url('vote_index', {eventSlug: event.path}) }}">
            <div class="button">
                {{ 'Voter pour les conférences'|trans }}
                <svg id="octocat" aria-hidden="true" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
            </div>
        </a>
    </div>

    <div class="event--stats">
        <p>{% if votes > 30 %}<span class="event--stats-stat">{{ votes }}</span> {{ 'votes'|trans }}{% endif %}&nbsp;</p>
        <p>{% if talks > 30 %}<span class="event--stats-stat">{{ talks }}</span> {{ 'sujets soumis'|trans }}{% endif %}&nbsp;</p>
    </div>
    <div class="clear"> </div>
    <div id="cfp-body">
        <p>{{ 'Pour pouvoir voter, il vous sera nécessaire de vous authentifier avec Github.'| trans }}</p>
        <p>{{ 'Le CFP est terminé pour cet évènement'| trans }}</p>
    </div>
{% endblock %}
