{% extends 'site/base.html.twig' %}

{% block title %}{{ article.getTitle }} - AFUP{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="AFUP - {{ article.getTitle }}">
    <meta name="twitter:description" content="{{ article.textTeaser }}">
    <meta name="twitter:domain" content="afup.org">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="AFUP - {{ article.getTitle }}" />
    <meta property="og:url" content="{{ url('news_display', {code: article.getSlug }) }}" />
    <meta property="og:description" content="{{ article.textTeaser }}" />
    <meta property="og:site_name" content="AFUP" />
{% endblock %}

{% block body_css %}migrated-page{% endblock %}

{% block content %}

    {% if header_image %}
    <div class="article-header">
        <img src="{{ header_image }}" alt="" />
    </div>
    {% endif %}

    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <div class="container">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">

                    {% if article.state == -1 %}
                        <div class="flash flash-error"><strong>Hors ligne</strong> : article supprimé</div>
                    {% elseif article.state == 0 %}
                        <div class="flash flash-notice"><strong>En attente</strong> : article non publié</div>
                    {% endif %}

                    <h1>{{ article.getTitle }}</h1>

                    <h4>{{ article.publishedAt|format_date('long') }}</h4>

                    <blockquote>
                        {{ article.formatedLeadParagraph|raw }}
                    </blockquote>

                    {{ article.formatedContent|raw }}

                    <hr />

                    <p>
                        {% if article.themeLabel %}
                        Thème : <a href="{{ path('news_list', { news_filters : { theme : [article.theme]} }) }}">{{ article.themeLabel }}</a> /
                        {% endif %}
                        {% if related_event %}
                        Cycle de conférences : <a href="{{ path('news_list', { news_filters : { event : [related_event.id]} }) }}">{{ related_event.title }}</a> /
                        {% endif %}
                        {% set year = article.publishedAt|date('Y') %}
                        Année : <a href="{{ path('news_list', { news_filters : { year : [year]} }) }}">{{ year }}</a>
                    </p>

                    {% if previous or next %}
                    <div class="prev-next-links">
                        {% if previous %}
                        <a class="prev-next-link" href="{{ url('news_display', {code: previous.getSlug }) }}">
                            <span class="prev-next-link__prev"><i class="fa fa-backward"></i>&nbsp;Article précédent</span>
                            <span class="prev-next-link__title">{{ previous.getTitle }}</span>
                        </a>
                        {% endif %}
                        {% if next %}
                        <a class="prev-next-link" href="{{ url('news_display', {code: next.getSlug }) }}">
                            <span class="prev-next-link__next">Article suivant&nbsp;<i class="fa fa-forward"></i></span>
                            <span class="prev-next-link__title">{{ next.getTitle }}</span>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
