{% extends 'site/base.html.twig' %}

{% block title %}Les actualités de l'AFUP, page {{ current_page }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <link rel="stylesheet" href="/css/talk/list.css">
{% endblock %}

{% block canonical %}
    {% if current_page == 1 %}
        <link rel="canonical" href="{{ url('news_list') }}" />
    {% else %}
        <link rel="canonical" href="{{ url('news_list', {page: current_page}) }}" />
    {% endif %}
{% endblock %}

{% block content %}

    <div class="mw1400p center" id="container">
        <div class="line" id="main">
            <h1>Actualités</h1>
            <div class="container">
                <div class="col-md-9 col-sm-12">

                    {% if articles|length %}
                        {% for article in articles %}
                            <a class="article article-teaser" href="{{ path('news_display', { code: article.slug}) }}"
                               title="Lire l'article: {{ article.title }}">
                                <h2>{{ article.title }}</h2>
                                <div class="article-date"><i>{{ article.publishedAt|localizeddate('long', 'none') }}</i></div>
                                <p>{{ article.getTeaser|raw }} <span class="home-read-more">Lire plus <i class="fa fa-arrow-right"></i></span></p>
                            </a>
                        {% endfor %}
                    {% else %}
                        Aucun article trouvé.
                    {% endif %}

                    {{ render(controller(
                        'AppBundle\\Controller\\Website\\PagerController::display',
                        {
                            'total_items': total_items,
                            'current_page': current_page,
                            'extra_parameters': { news_filters: filters },
                            'items_per_page' : articles_per_page,
                        }
                    )) }}

                </div>

                <div class="col-md-3 col-sm-12 tablet-hidden">

                    {{ form_start(form, { attr: { class: "news-filters"}, action: path('news_list') }) }}
                    <div class="ais-root ais-refinement-list">
                        <div class="ais-refinement-list--header ais-header">
                            <h4>Année</h4>
                        </div>

                        <div class="ais-body ais-refinement-list--body">
                            <div class="ais-refinement-list--list">
                                <div class="ais-refinement-list--item">

                                    {% for item in form.year %}
                                        <div>
                                            {{ form_widget(item) }}
                                            {{ form_label(item) }}
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ais-root ais-refinement-list">
                        <div class="ais-refinement-list--header ais-header">
                            <h4>Thème</h4>
                        </div>

                        <div class="ais-body ais-refinement-list--body">
                            <div class="ais-refinement-list--list">
                                <div class="ais-refinement-list--item">
                                    {% for item in form.theme %}
                                        <div>
                                            {{ form_widget(item) }}
                                            {{ form_label(item) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ais-root ais-refinement-list">
                        <div class="ais-refinement-list--header ais-header">
                            <h4>Cycle de conférences</h4>
                        </div>

                        <div class="ais-body ais-refinement-list--body">
                            <div class="ais-refinement-list--list">
                                <div class="ais-refinement-list--item">
                                    {% for item in form.event %}
                                        <div>
                                            {{ form_widget(item) }}
                                            {{ form_label(item) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form.submit, {attr: {style: "display:none "}}) }}

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('form[name=news_filters]').on('change', function() {
            $(this).submit();
        })
    </script>
{% endblock %}
