{% extends ':admin/association/membership:_base.html.twig' %}

{% block submenu %}
    {% include ':admin/association/membership:_company_menu.html.twig' with {
        current: "public_profile"
    } only %}
{% endblock %}

{% block page_title %}Profil public{% endblock %}

{% block page_content %}

    <div class="afup-form">
        {{ form_start(form) }}
        <fieldset>
            <legend>Profil public :  {{ company_member.companyName }}</legend>
            <div class="afup-form-container">
                {{ form_row(form.enabled) }}
                {# a modifier lors de l'ajout de la page publique #}
                {% if company_member.publicProfileEnabled %}
                <div>
                    <label></label>
                    <a href="{{ path('company_public_profile', {id: company_member.id, slug: company_member.slug}) }}">Voir mon profil public</a>
                </div>
                {% endif %}
                {{ form_row(form.description) }}
                {{ form_row(form.logo) }}
                {% if company_member.logoUrl %}
                    <div>
                        <label></label>
                        <img src="{{ path('company_public_profile_logo', {id : company_member.id, slug: company_member.slug }) }}" style="max-width: 200px" alt="" />
                    </div>
                {% endif %}
                {{ form_row(form.website_url) }}
                {{ form_row(form.careers_page_url) }}
                {{ form_row(form.contact_page_url) }}
                {{ form_row(form.twitter_handle) }}
                {{ form_row(form.related_afup_offices) }}
                {{ form_row(form.membership_reason) }}
            </div>
        </fieldset>

        <div class="right">
            {{ form_widget(form.submit, {attr: {class: "button button--call-to-action"}}) }}
        </div>

        {{ form_end(form) }}
    </div>

    * Indique un champ obligatoire

{% endblock %}
