{% extends ':site:base.html.twig' %}

{% block content %}

    <style>
        .square {
            border: 1px solid #ccc;
            padding: 45px;
        }

        .square .fa {
            font-size: 3em;
            margin:  0 20px 0 0;
            display: inline-block;
            vertical-align: middle;
        }

        .container {
            margin-bottom: 10px;
        }

        .square a {
            text-align: right;
            font-size: 1.1em;
            font-weight: bold;
         /*   color: #ed0678;*/
        }

        /*.square__evidence {
            background-color: #ed0678;
            color: white;
        }
        .square__evidence a {
            color: white;
        }
        */

        .square__evidence {
            border: 1px solid #ed0678;
        }

        .square--link {
            text-align: right;
        }

        @media (max-width: 460px) {
            .square {
                margin: 10px 0;
            }

            .square .fa {
                display: block;
                width: 100%;
                text-align: center;
                margin: 0 0 20px 0;
            }

            .square .square--link {
                margin: 20px 0 0 0;
            }
        }


    </style>

    <div class="mw1400p center" id="container">

        <div class="line" id="main">

            <h1>Espace membre</h1>

            <h2>Mon compte</h2>

            <div class="container">
                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-user"></i> Mes coordonnées : {{ user.label }}
                        <div class="square--link">
                            <a class="" href="{{ path('member_contact') }}">Modifer</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="square square__evidence">
                        <i class="fa fa-dollar"></i> Cotisations
                        <div class="square--link">
                            <a href="/pages/administration/index.php?page=membre_cotisation">Voir</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-bullhorn"></i> Veille de l'AFUP : {% if has_member_subscribed_to_techletter %}inscrit(e){% else %}non inscrit{% endif %}
                        <div class="square--link">
                            <a href="{{ path('techletter') }}">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-envelope"></i> Listes de difusion
                        <div class="square--link">
                            <a href="{{ path('my_groups') }}">Consulter</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-comments"></i> Présence prochaine AG
                        <div class="square--link">
                            <a href="/pages/administration/index.php?page=membre_assemblee_generale">Indiquer sa présence</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-map-marker"></i> Antenne la plus proche : Lyon
                        <div class="square--link">
                            <a href="/pages/administration/index.php?page=membre_coordonnees">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-book"></i> Comptes-rendus d'AG
                        <div class="square--link">
                            <a href="">Voir</a>
                        </div>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_COMPANY_MANAGER') %}
            <h2>
                Ma société
            </h2>

            <div class="container">
                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-building"></i> Coordonnées
                        <div class="square--link">
                            <a href="{{ path('admin_company') }}">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="square">
                        <i class="fa fa-users"></i> Personnes rattachées
                        <div class="square--link">
                            <a href="{{ path('admin_company_members') }}">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            {% if badges %}
            <h2>
                Badges
            </h2>

            <style>
                .badges img {
                    max-height: 150px;
                }
                .badges .col-md-6 {
                    text-align: center;
                }
            </style>

            <div class="badges">
                <div class="container">
            {% for badge in badges %}
                    <div class="col-md-6 col-sm-12">
                        <img src="/images/badges/{{ badge }}.png" alt="Badge {{ badge }}">
                    </div>
            {% endfor %}
                </div>
            </div>
            {% endif %}
<!--
            <div class="badges">
                <div class="container">
                    <div class="col-md-6">
                        <img src="/images/badges/4ans.png">
                    </div>
                    <div class="col-md-6">
                        <img src="/images/badges/3ans.png">
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-6">
                        <img src="/images/badges/2ans.png">
                    </div>
                    <div class="col-md-6">
                        <img src="/images/badges/1ans.png">
                    </div>
                </div>
            </div>
-->

        </div>
    </div>
{% endblock %}
