{% extends ':admin/association/membership:_base.html.twig' %}

{% block submenu %}
    {% include ':site:secondary_menu.html.twig' with {
        menu: [
            {
                "nom" : "Accueil",
                "lien": path('member_index'),
                'is_active': true,
            },
        ]
    } only %}
{% endblock %}

{% block page_title %}Espace membre{% endblock %}

{% block page_content %}

    <style>
        .square {
            padding: 20px 0;
        }

        .square .fa {
            margin:  0 20px 0 0;
            display: inline-block;
            vertical-align: middle;
            float: left;
            min-width: 60px;
            font-size: 5em;
            text-align: center;
        }

        .container {
            margin-bottom: 10px;
        }

        .square--title {
            font-weight: bold;
        }

        .square--link {
            text-align: left;
            margin-top: 10px;
            font-size: 14px;
        }

        .square .square--link a {
            font-size: 1.1em;
            font-weight: bold;
            min-width: 200px;
            text-align: center;
            padding: 8px 20px;
        }

        @media (max-width: 460px) {
            .square {
                margin: 10px 0;
            }

            .square .fa {
                display: block;
                width: 100%;
                text-align: center;
                margin: 0 0 20px 0;
            }

            .square .square--link {
                margin: 20px 0 0 0;
            }
        }
    </style>

    <h2>Mon compte</h2>

    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-user"></i> <span class="square--title">Mes coordonnées</span> : {{ user.label }}
                <div class="square--link">
                    <a class="button-inverted button__medium" href="{{ path('member_contact') }}">Modifier</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-dollar"></i> <span class="square--title">Cotisations</span>
                <div class="square--link">
                    <a class="button-inverted button__medium {% if not has_up_to_date_membership_fee %} button--call-to-action{% endif %}" href="{{ path('member_membership_fee') }}">
                        {% if has_up_to_date_membership_fee %}Consulter{% else %}Se mettre à jour{% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-bullhorn"></i> <span class="square--title"> Veille de l'AFUP</span> : {% if has_member_subscribed_to_techletter %}inscrit(e){% else %}non inscrit{% endif %}
                <div class="square--link">
                    <a class="button-inverted button__medium {% if not has_member_subscribed_to_techletter %}button--call-to-action{% endif %}" href="{{ path('techletter') }}">
                        {% if has_member_subscribed_to_techletter %}Se désincrire{% else %}S'inscrire{% endif %}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-envelope"></i> <span class="square--title">Listes de diffusion</span>
                <div class="square--link">
                    <a class="button-inverted button__medium" href="{{ path('my_groups') }}">Modifier</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-comments"></i> <span class="square--title">Présence prochaine AG</span>
                <div class="square--link">
                    {%  if has_general_meeting_planned %}
                        <a class="button-inverted button__medium {% if not has_user_rspved_to_next_general_meeting %}button--call-to-action{% endif %}" href="{{ path('member_general_meeting') }}">Indiquer sa présence</a>
                    {% else %}
                        <a class="button-inverted button__medium" href="{{ path('member_general_meeting') }}">Voir</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-map-marker"></i> <span class="square--title">Antenne la plus proche</span> :
                {% if office_label %}
                    {{ office_label }}
                {% else %}
                    Aucune
                {% endif %}
                <div class="square--link">
                    <a class="button-inverted button__medium {% if not office_label %}button--call-to-action{% endif %}" href="{{ path('member_contact') }}">{% if office_label %}Modifier{% else %}Définir{% endif %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-book"></i> <span class="square--title">Comptes-rendus d'AG</span>
                <div class="square--link">
                    <a class="button-inverted button__medium" href="{{ path('member_general_meeting_reports') }}">Voir</a>
                </div>
            </div>
        </div>

        {% if user.canRequestSlackInvite or user.slackInviteRequested %}
        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-slack"></i> <span class="square--title">Slack membres AFUP</span>
                <div class="square--link">
                    {% if user.canRequestSlackInvite %}
                        <a class="button-inverted button__medium button--call-to-action" href="{{ path('member_slack_invite') }}">Recevoir l'invitation</a>
                    {% elseif user.slackInviteRequested %}
                        <a class="button-inverted button__medium" href="http://afup-membres.slack.com/" target="afup-slack">Accéder</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>



    {% if is_granted('ROLE_COMPANY_MANAGER') %}
    <h2>
        Mon compte société
    </h2>

    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-building"></i> Coordonnées
                <div class="square--link">
                    <a class="button-inverted button__medium" href="{{ path('admin_company') }}">Modifier</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="square">
                <i class="fa fa-users"></i> Personnes rattachées
                <div class="square--link">
                    <a class="button-inverted button__medium" href="{{ path('admin_company_members') }}">Modifier</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if badges %}
    <h2>
        Badges
    </h2>

    <style>
        .badges img {
            max-height: 150px;
        }
        .badges .col-md-6 {
            text-align: center;
        }
    </style>

    <div class="badges">
        <div class="container">
    {% for badge in badges %}
            <div class="col-md-6 col-sm-12">
                <img src="/images/badges/{{ badge }}.png" alt="Badge {{ badge }}">
            </div>
    {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}
