{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Historique</h2>

    <table class="ui table striped compact celled afup-tab-filterable">
        <thead>
            <tr>
                <th data-tf-filter-type="input">Date d'envoi</th>
                <th data-tf-filter-type="select">Type</th>
                <th>URL</th>
                <th data-tf-filter-type="input">Titre</th>
            </tr>
        </thead>
        <tbody>
            {% for history_item in history %}
                <tr>
                    <td>{{ history_item.date|date('d/m/Y') }}</td>
                    <td>{{ history_item.type }}</td>
                    <td><a href="{{ history_item.url }}">{{ history_item.url }}</a></td>
                    <td>{{ history_item.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
