{% extends ':admin/association/membership:_base.html.twig' %}

{% block submenu %}
    {% include ':admin/association/membership:_member_menu.html.twig' with {
        current: "generalmeeting"
    } only %}
{% endblock %}

{% block page_title %}Assemblée générale{% endblock %}

{% block page_content %}
    {% if general_meeting_planned %}
        {% if question %}
        <h2>Mon vote lors de l'assemblée générale</h2>

        <div class="afup-form">
            <form>
                <fieldset>
                    <legend>{{ question.label }}</legend>
                    <div class="afup-form-container">
                        {% if not vote_for_current_question %}
                        <div class="container">
                            {% for value, label in vote_labels_by_values %}
                                <div class="col-md-4 txtcenter general-meeeting-vote-action__button-container">
                                    <a href="{{ url('member_general_meeting_vote', {questionId: question.id, vote: value}) }}" class="button button--call-to-action general-meeeting-vote-action__button">{{ label }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <div class="txtcenter">
                                Votre vote : <span style="font-weight: bold">{{ vote_for_current_question.getValueLabel }}</span>
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
            </form>
        </div>
        {% endif %}

        {% if question_results|length > 0 %}
        <h2>Résultats des votes de l'Assemblée Générale du {{ latest_date|date('d/m/Y') }}</h2>

        <table class="afup-table">
            <thead>
                <tr>
                    <th class="general-meeeting-vote-results__column--question">Vote</th>
                    <th class="general-meeeting-vote-results__column--result" >Oui</th>
                    <th class="general-meeeting-vote-results__column--result" >Non</th>
                    <th class="general-meeeting-vote-results__column--result" >Abstention</th>
                </tr>
            </thead>

            <tbody>
            {% for question_result in question_results %}
                <tr>
                    <td class="general-meeeting-vote-results__column--question">
                        {{ question_result.question.label }}
                    </td>
                    <td class="general-meeeting-vote-results__column--result">
                        <span class="general-meeeting-vote-results__responsive-label">Oui</span>
                        {{ question_result.count_oui }}
                    </td>
                    <td class="general-meeeting-vote-results__column--result">
                        <span class="general-meeeting-vote-results__responsive-label">Non</span>
                        {{ question_result.count_non }}
                    </td>
                    <td class="general-meeeting-vote-results__column--result">
                        <span class="general-meeeting-vote-results__responsive-label">Abstention</span>
                        {{ question_result.count_abstention }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <h2>Ma participation à l'Assemblée Générale du {{ latest_date|date('d/m/Y') }}</h2>
        <div class="afup-form">
            {{ form_start(form) }}

            <fieldset>
                <legend>Je serai présent(e)</legend>
                <div class="afup-form-container">
                    {{ form_errors(form.presence) }}

                    {% for key, presenceItem in form.presence.children %}
                        <div class="rangee">
                            {{ form_label(presenceItem, null, {"label_attr": {"class": "libelle"}}) }}
                            <span class="element">
                                    {{ form_widget(presenceItem) }}
                                </span>
                        </div>

                    {% endfor %}
                </div>
            </fieldset>

            <fieldset class="f2">
                <legend>Je donne mon pouvoir à</legend>
                <div class="afup-form-container">
                    <div>
                        {{ form_errors(form.id_personne_avec_pouvoir) }}
                        {{ form_label(form.id_personne_avec_pouvoir) }}
                        {{ form_widget(form.id_personne_avec_pouvoir) }}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <p>
                    <span class="obligatoire">*</span>&nbsp; Indique un champ obligatoire
                </p>
            </fieldset>

            <fieldset>
                <div class="right">
                    {{ form_widget(form.save, {"attr": {"class": "button button--call-to-action"}}) }}
                </div>
            </fieldset>

            {{ form_end(form) }}
        </div>

        {% if personnes_avec_pouvoir %}
            <h2>Vos pouvoirs</h2>
            Ces personnes vous ont donné leur pouvoir :
            <ul>
            {% for personne_avec_pouvoir in personnes_avec_pouvoir %}
                <li>{{ personne_avec_pouvoir.lastname }} {{ personne_avec_pouvoir.firstname }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if last_general_meeting_description %}
            {{ last_general_meeting_description|markdown }}
        {% endif %}

    {% endif %}

    <h2>Comptes rendus des assemblées générales</h2>

    {% if app.user.hasRole('ROLE_MEMBER_EXPIRED') %}
        Les comptes rendus ne sont accessibles qu'aux membres à jour de cotisation.
    {% else %}
        <table class="afup-table">
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            {% for report in reports %}
                <tr>
                    <td>
                        {{ report.date|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ report.label }}
                    </td>
                    <td>
                        <a class="button button-inverted button__medium" href="{{ path('member_general_meeting_reports_download', {filename: report.filename}) }}">
                            <i class="fa fa-file"></i>
                            Télécharger
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
