{% extends ':admin:base_with_header.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block content %}
    <article id="company-membership">
        <h2>Mes coordonnées</h2>
        {{ form_start(form) }}
        <fieldset class="f1">
            <legend>Informations</legend>
            <div class="rangee">
                {{ form_label(form.email) }}
                <span class="obligatoire">&nbsp;*</span>
                <span class="element">
                    {{ form_widget(form.email) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.address) }}
                <span class="obligatoire">&nbsp;*</span>
                <span class="element">
                {{ form_widget(form.address) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.zipcode) }}
                <span class="obligatoire">&nbsp;*</span>
                <span class="element">
                {{ form_widget(form.zipcode) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.city) }}
                <span class="obligatoire">&nbsp;*</span>
                <span class="element">
                {{ form_widget(form.city) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.country) }}
                <span class="element">
                {{ form_widget(form.country) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.phone) }}
                <span class="element">
                {{ form_widget(form.phone) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.mobilephone) }}
                <span class="element">
                {{ form_widget(form.mobilephone) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.nearest_office) }}
                <span class="element">
                {{ form_widget(form.nearest_office) }}
                </span>
            </div>
        </fieldset>

        <fieldset class="f2">
            <legend>Paramètres</legend>
            <div class="rangee">
                {{ form_label(form.username) }}
                <span class="obligatoire">&nbsp;*</span>
                <span class="element">
                {{ form_widget(form.username) }}
                </span>
            </div>
            <div class="rangee">
                <p class="note">
                    Ne renseignez le mot de passe et sa confirmation que si vous souhaitez le changer
                </p>
            </div>
            <div class="rangee">
                {{ form_label(form.password.first) }}
                <span class="element">
                    {{ form_widget(form.password.first) }}
                </span>
            </div>
            <div class="rangee">
                {{ form_label(form.password.second) }}
                <span class="element">
                    {{ form_widget(form.password.second) }}
                </span>
            </div>
        </fieldset>
        <fieldset class="f3 boutons">
            <div class="rangee">
                {{ form_widget(form.save) }}
            </div>
        </fieldset>
        <p>
            <span class="obligatoire">*</span>&nbsp; indique un champ obligatoire
        </p>
        {{ form_end(form) }}
    </article>
{% endblock %}