{% extends ':admin/association/membership:_base.html.twig' %}

{% block submenu %}
    {% include ':admin/association/membership:_member_menu.html.twig' with {
        current: "membershipfee"
    } only %}
{% endblock %}

{% block page_title %}Cotisations{% endblock %}

{% block page_content %}
    {# Ici ce message restera environ 6 mois, on se permet donc d'appliquer le style de cette façon #}
    <div style="background-color: #ed0678; color: #fff; padding: 15px 20px; font-weight: bold">
        Les cotisations évoluent, mais pour vous rien ne change. Retrouvez toutes les informations à propos de ce changement dans <a style="color: #fff" target="article-cotisations" href="https://afup.org/news/1204-passage-a-la-TVA-cotisations">notre article dédié</a>.
    </div>

    <h2>Payer ma cotisation</h2>

    {% if message %}
        <p>{{ message|raw }}</p>
    {% endif %}

    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="form-reset txtcenter">
                <strong>{{ libelle|raw }}{% if isSubjectedToVat %} TTC{% endif %}</strong><br />
                <p>{{ paybox|raw }}</p>
            </div>
        </div>
    </div>


    <h2>Historique des cotisations</h2>

    <table class="afup-table">
        <tr>
            <th>Debut</th>
            <th>Fin</th>
            <th class="txtright">Montant</th>
            <th colspan="1">Actions</th>
        </tr>
        {% if cotisations %}
            {% for cotisation in cotisations %}
                <tr>
                    <td>
                        {{ cotisation.date_debut|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ cotisation.date_fin|date('d/m/Y') }}
                        {% if cotisation.date_debut < time and cotisation.date_fin > time %}
                            (toujours valide)
                        {% endif %}
                    </td>
                    <td class="txtright">{{ cotisation.montant|number_format(2, ',') }} &euro;</td>
                    <td style="text-align: right; white-space: nowrap">
                        {% if cotisation.telecharger_facture %}
                        <a class="button button-inverted button__medium" href="{{ path('member_membership_fee_download', {id: cotisation.id}) }}" title="Télécharger la facture pour la cotisation {{ cotisation.numero_facture }}">
                            <i class="fa fa-file"></i>
                            Télécharger la facture
                        </a>
                        <a class="button button-inverted button__medium" href="{{ path('member_membership_fee_send_mail', {id: cotisation.id}) }}" title="Envoyer la cotisation">
                            <i class="fa fa-envelope"></i>
                            Recevoir par mail
                        </a>
                        {% else %}
                            <div title="Contactez la personne qui à le droit de gérer le compte de l'entreprise">
                                Facture non accessible <i class="fa fa-question-circle"></i>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td><em>Aucune cotisation enregistrée</em></td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
