{% extends 'admin/base_with_header.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all"/>
{% endblock %}
{% block content %}
    <article id="members-stats">
        <h2>Statistiques concernant les membres</h2>

        <div class="ui segment grid">
            <div class="sixteen wide column center aligned">
                <div class="ui statistic">
                    <div class="value">
                        <i class="user icon"></i>
                        {{ usersCount }}
                    </div>
                    <div class="label">
                        Personnes physiques totales*
                    </div>
                </div>
            </div>

            <div class="eight wide column center aligned">
                <div class="ui mini statistic">
                    <div class="value">
                        {{ usersCountWithoutCompanies }}
                    </div>
                    <div class="label">
                        Personnes physiques non rattachées à une personne morale*
                    </div>
                </div>
            </div>

            <div class="eight wide column center aligned">
                <div class="ui mini statistic">
                    <div class="value">
                        {{ usersCountWithCompanies }}
                    </div>
                    <div class="label">
                        Personnes physiques rattachées à une personne morale*
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment grid">
            <div class="sixteen wide column center aligned">
                <div class="ui statistic">
                    <div class="value">
                        <i class="building icon"></i>
                        {{ companiesCount }}
                    </div>
                    <div class="label">
                        Personnes morales*
                    </div>
                </div>
            </div>

            <div class="sixteen wide column center aligned">
                <div class="ui mini statistic">
                    <div class="value">
                        {{ companiesCountWithLinkedUsers }}
                    </div>
                    <div class="label">
                        Personnes morales avec membre lié*
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <p><em>* Membres avec des cotisations en cours de validité uniquement</em></p>
        </div>
    </article>
{% endblock %}
