{% extends ':admin:base_with_header.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all"/>
{% endblock %}
{% block content %}
    <article id="members-stats">
        <h2>Statistiques concernant les membres</h2>
        <table class="ui table striped compact celled">
            <thead>
                <tr>
                    <th class="center aligned">Personnes physiques totales*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center aligned">
                        {{ usersCount }}
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="ui table striped compact celled">
            <thead>
                <tr>
                    <th class="center aligned">Personnes physiques non rattachées à une personne morale*</th>
                    <th class="center aligned">Personnes physiques rattachées à une personne morale*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center aligned">
                        <b>{{ usersCountWithoutCompanies }}</b>
                    </td>
                    <td class="center aligned">
                        {{ usersCountWithCompanies }}
                    </td>
                </tr>
            </tbody>
        </table>

        <br />

        <table class="ui table striped compact celled">
            <thead>
                <tr>
                    <th class="center aligned">Personnes morales avec membre lié*</th>
                    <th class="center aligned">Personnes morales*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center aligned">
                        {{ companiesCountWithLinkedUsers }}
                    </td>
                    <td class="center aligned">
                        <b>{{ companiesCount }}</b>
                    </td>
                </tr>
            </tbody>
        </table>


        <p><em>* Membres avec des cotisations en cours de validité uniquement</em></p>
    </article>
{% endblock %}
