{% extends ':admin:base_with_header.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all"/>
{% endblock %}
{% block content %}
    <article id="members-stats">
        <h2>Statistiques concernant les membres</h2>
        <table class="afup_tab">
            <thead>
                <tr>
                    <th>Personnes physiques totales*</th>
                    <th>Personnes physiques rattachées à une personne morale*</th>
                    <th>Personnes physiques non rattachées à une personne morale*</th>
                    <th>Personnes morales*</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ usersCount }}
                </td>
                <td>
                    {{ usersCountWithCompanies }}
                </td>
                <td>
                    {{ usersCountWithoutCompanies }}
                </td>
                <td>
                    {{ companiesCount }}
                </td>
            </tr>
            </tbody>
        </table>
        <p><em>* Membres avec des cotisations en cours de validité uniquement</em></p>
    </article>
{% endblock %}
