{% extends 'legacy/rendezvous/layout.html.twig' %}

{% block content %}
    <h1>Archives rendez-vous</h1>

    <ul>
        {% for rendezvous in listerendezvous %}
            {% if rendezvous.est_futur %}
                <li class="a-venir">
            {% else %}
                <li class="archive">
            {% endif %}
            <a href="{{ path('legacy_rendezvous', {id: rendezvous.id}) }}">{{ rendezvous.titre }}</a> (le {{ rendezvous.date }})
            </li>
        {% endfor %}
    </ul>

    {% if resultat is defined and message is defined %}
        <div class="message {{ resultat }}">
            {{ message }}
        </div>
    {% endif %}
{% endblock %}
