<em>Prochain rendez-vous :</em>
<h1>{{ rendezVous.title }}</h1>

<blockquote>{{ rendezVous.pitch }}</blockquote>

<div id="infos">
    <div>Date : {{ rendezVous.start|date('d/m/Y') }}</div>
    <div>Horaire : {{ rendezVous.start|date('H:i') }} - {{ rendezVous.end|date('H:i') }}</div>
    <div>Capacité : {{ rendezVous.capacity }} places</div>
    <div>Lieu : {{ rendezVous.place }}</div>
</div>
