<div class="sessions">
    {% for talk in talks %}
        <div class="session boss geek">
            <a name="{{ talk.talk.id }}"></a>
            <h4>{{ talk.talk.title|raw }}</h4>
            {% if talk.planning is not null %}
                <span class="salle">{{ talk.room.name }}</span>
                {{ talk.planning.start|date('d/m/Y') }}
                <strong>
                    {{ talk.planning.start|date('H:i') }}-{{ talk.planning.end|date('H:i') }}
                </strong>
            {% endif %}

            <div class="details">
                <div class="abstract"><p>{{ talk.talk.abstract|raw }}</p></div>
                <div>
                    {% for speaker in talk[".aggregation"].speaker %}
                        <div class="conferencier">
                            <a href="/{{ event.path }}/speakers/#{{ speaker.id }}">
                                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ photo_storage.getUrl(speaker) }}" alt="{{ speaker.label }}">
                            </a><br>
                            <a href="/{{ event.path }}/speakers/#{{ speaker.id }}">{{ speaker.label }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
