<script type="application/ld+json">
    {{ jsonld|json_encode|raw }}
</script>

{% if speakers|length > 0 %}
    {% for row in speakers %}
    <article class="first conferenciers">
        <h3>
            {{ row.speaker.label }}
            {% if row.speaker.company %}<span class="societe">{{ row.speaker.company }}</span>{% endif %}
        </h3>
        {% if row.speaker.twitter %}
            <a class="follow-button"
               href="https://twitter.com/{{ row.speaker.getCleanedTwitter }}"
               target="_blank">
                <svg height="12" viewBox="0 0 271 300" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"/>
                </svg>
                <span>Suivre @{{ row.speaker.getCleanedTwitter }}</span>
            </a>
        {% endif %}
        {% if row.speaker.getCleanedMastodon %}
            <a class="follow-button"
               href="{{ row.speaker.mastodon }}"
               target="_blank">
                <svg width="12" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="m21.327 8.566c0-4.339-2.843-5.61-2.843-5.61-1.433-.658-3.894-.935-6.451-.956h-.063c-2.557.021-5.016.298-6.45.956 0 0-2.843 1.272-2.843 5.61 0 .993-.019 2.181.012 3.441.103 4.243.778 8.425 4.701 9.463 1.809.479 3.362.579 4.612.51 2.268-.126 3.541-.809 3.541-.809l-.075-1.646s-1.621.511-3.441.449c-1.804-.062-3.707-.194-3.999-2.409a4.523 4.523 0 0 1 -.04-.621s1.77.433 4.014.536c1.372.063 2.658-.08 3.965-.236 2.506-.299 4.688-1.843 4.962-3.254.434-2.223.398-5.424.398-5.424zm-3.353 5.59h-2.081v-5.099c0-1.075-.452-1.62-1.357-1.62-1 0-1.501.647-1.501 1.927v2.791h-2.069v-2.791c0-1.28-.501-1.927-1.502-1.927-.905 0-1.357.546-1.357 1.62v5.099h-2.081v-5.253c0-1.074.273-1.927.823-2.558.566-.631 1.307-.955 2.228-.955 1.065 0 1.872.409 2.405 1.228l.518.869.519-.869c.533-.819 1.34-1.228 2.405-1.228.92 0 1.662.324 2.228.955.549.631.822 1.484.822 2.558z"/>
                </svg>
                <span>Suivre @{{ row.speaker.getCleanedMastodon }}</span>
            </a>
        {% endif %}
        <div class="article-body conferencier">
            <div class="photo">
                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ photo_storage.getUrl(row.speaker) }}" alt="{{ row.speaker.label }}">
            </div>
            <p>
                <a name="{{ row.speaker.id }}" ></a>
                {{ row.speaker.biography }}
            </p>
            <ul>
                {% for talk in row[".aggregation"].talk %}
                <li class="conferencier_session">
                    <a href="{{ programPagePrefix }}#{{ talk.id }}">{{ talk.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </article>
    {% endfor %}
{% else %}
    Le programme n'est pas encore dévoilé, il le sera sous peu. Revenez bientôt.
{% endif %}
