{% if widget_type == 'talk' or widget_type == 'all' %}
    <h3>{% if talks_infos|length > 1 %}Les conférences{% else %}La conférence{% endif %}</h3>
    {% for talks_info in talks_infos %}
    <table class="talk-widget">
        <tr>
            <td width="80%" style="text-align: left;padding: 10px;vertical-align: top">
                <h5>{{ talks_info.talk.getTitle }}</h5>
                {% if talks_info.talk.useMarkdown %}
                    {{ talks_info.talk.getAbstract|raw|markdown }}
                {% else %}
                    {{ talks_info.talk.getAbstract|raw }}
                {% endif %}
            </td>
            {% if talks_info.event.datePlanningAnnouncement is not defined or "now"|date < talks_info.event.datePlanningAnnouncement|date %}
                <td width="20%" style="vertical-align: middle; text-align: center">
                {{ talks_info.room.name }}<br />
                {{ talks_info.planning.start|date('d/m/Y') }}<br />
                {{ talks_info.planning.start|date('H:i') }}-{{ talks_info.planning.end|date('H:i') }}
            </td>
            {% endif %}
        </tr>
    </table>
    {% endfor %}
{% endif %}

{% if widget_type == 'speaker' or widget_type == 'all' %}
    <h3>{% if talks_infos|length > 1 %}Des conférences présentées par{% else %}Une conférence présentée par{% endif %}</h3>
    {% for speaker in speakers %}
    <table class="speaker-widget">
        <tr>
            <td width="20%" style="vertical-align: top">
                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ photo_storage.getUrl(speaker) }}" alt="{{ speaker.label }}"><br />
                <a href="">{{ speaker.label }}</a>
            </td>
            <td width="80%" style="text-align: left;padding: 10px;vertical-align: top">
                {{ speaker.biography }}
            </td>
        </tr>
    </table>
    {% endfor %}
{% endif %}
