{% extends 'admin/association/membership/_base.html.twig' %}

{% block page_title %}{% endblock %}

{% block page_container_extra_classes %}remove-min-height-from-container-id{% endblock %}

{% block page_content %}

    <div class="afup-form afup-form--miniform">
        <form method="post">
            <fieldset>
                <h1>Connexion</h1>
                {% if error is not null %}<div class="flash flash-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>{% endif %}

                <div class="afup-form-container">
                    <div>
                        <label for="utilisateur">Email ou nom d'utilisateur</label>
                        <input type="text" id="utilisateur" name="utilisateur" autofocus value="{{ last_username }}"/>
                    </div>
                    <div>
                        <label for="mot_de_passe">Mot de passe</label>
                        <input type="password" name="mot_de_passe" id="mot_de_passe" />
                    </div>
                    <div>
                        <input class="button button--call-to-action" type="submit" name="soumettre" value="Se connecter"/>
                    </div>
                    <div>
                        <p><a href="{{ url('admin_password') }}">Mot de passe perdu</a></p>
                        <p><a href="{{ url('become_member') }}">Adhésion à l'AFUP</a></p>
                    </div>
                </div>
                <input  type="hidden" name="connexion" value="1" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </fieldset>

            {% if target_path is not null %}
                <input type="hidden" name="_target_path" value="{{ target_path }}" />
            {% endif %}
        </form>
    </div>
{% endblock %}
