{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Logs</h2>

    {% include 'admin/pagination.html.twig' %}

    <table class="ui table striped compact celled">
        <thead>
        <tr>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Route</th>
            <th>Texte</th>
        </tr>
        </thead>
        <tbody>
        {% if logs|length > 0 %}
            {% for log in logs %}
                <tr>
                    <td>{{ log.date|date('d/m/Y H:i:s') }}</td>
                    <td>
                        {% if log.idPersonnePhysique == 0 %}
                            <div class="ui horizontal label">bot</div>
                        {% else %}
                            <a href="{{ path('admin_members_user_edit', {id: log.idPersonnePhysique}) }}">
                                {{ log.prenom|escape }} {{ log.nom|escape }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if log.route %}
                            {{ log.route|escape }}
                        {% else %}
                            <div class="ui horizontal label">inconnue</div>
                        {% endif %}
                    </td>
                    <td>{{ log.texte|escape|nl2br }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4"><em>Aucun log</em></td>
            </tr>
        {% endif %}

        </tbody>
    </table>
{% endblock %}
