{% extends 'admin/association/membership/_base.html.twig' %}

{% block page_title %}{% endblock %}

{% block page_container_extra_classes %}remove-min-height-from-container-id{% endblock %}

{% block page_content %}

    <div class="afup-form afup-form--miniform">
        {{ form_start(form) }}
        <fieldset>
            <legend>Mot de passe perdu</legend>
            <div class="afup-form-container">
                <div>
                    <p>
                        Indiquez votre email ici. Si un compte correspond à cet email, vous recevrez un nouveau mot de passe.
                    </p>
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div>
                    {{ form_widget(form.submit, {attr: {"class": "button button--call-to-action"}}) }}
                </div>
                <div>
                    <p>
                        <a href="{{ url('admin_login') }}">Retour au formulaire de connexion</a>
                    </p>
                </div>
            </div>

        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}
