{% extends 'event/ticket/base.html.twig' %}

{% set menu = {'main': {'route' : 'ticket', 'title': 'Become a sponsor'}} %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/tickets.css') }}" />
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h2>{{ 'Devenir sponsor'|trans }}</h2>
        <div class="sponsor--become-talk">
            <h3>{{ 'Merci'|trans }}</h3>
            <p>
                {{ "Vous allez recevoir le dossier par mail dans quelques minutes."|trans }}
            </p>
        </div>

    </div>
{% endblock %}
