{% set conferenciers = [
    {
        nom: '<span class="red">Rasmus LERDORF</span>',
        code: 'rlerdorf',
        presentation: 'Créateur de <a href="http://www.php.net">PHP</a> et architecte chez <a href="http://www.yahoo.com/">Yahoo!</a>',
        biographie: 'Né à Godhavn/Qeqertarsuaq sur l\'île de Disko non loin des côtes du Groenland en 1968. Il commence à barboter avec des produits estampillés UNIX dès 1985. <br /><br />Connu pour avoir initié le projet PHP en 1995 et le module mod_info au sein d\'Apache, il peut aussi être poursuivi pour l\'insertion de la clause LIMIT dans mSQL 1.x. Un apport défiant la norme ANSI92 SQL que l\'on retrouve, au moins conceptuellement, dans MySQL et PostgreSQL.',
    },
    {
        code: 'rbourdon',
        nom: 'Romain BOURDON',
        presentation: 'Teamleader du projet <a href="http://www.wampserver.com">WampServer</a>, Responsable technique <a href="http://www.anaska.com">Anaska</a>',
        biographie: 'Romain BOURDON est responsable technique d\'<a href="http://www.anaska.com">Anaska</a>, l\'organisme de formation dédié aux technologies OpenSource. Depuis 2004 il est Teamleader du projet <a href="http://www.wampserver.com">Wampserver</a> permettant d\'installer facilement PHP5 sous Windows.',
    },
    {
        code: 'jfbustarret',
        nom: 'Jean-François BUSTARRET',
        presentation: 'responsable technique de WAT.tv',
        biographie: 'Après avoir occupé le poste de responsable infrastructure et systèmes de eTF1, où il a été un des architectes de la migration du site tf1.fr de Vignette/Windows vers PHP/Linux, Jean-François BUSTARRET est maintenant le responsable technique de WAT, gérant le site wat.tv de partage de médias audio/vidéo/photo du groupe TF1.',
    },
    {
        code: 'mchaize',
        nom: 'Michaël CHAIZE',
        presentation: 'Consultant chez Adobe',
        biographie: "Michaël Chaize fait partie de l'équipe avant-vente d'Adobe France. Il est spécialisé sur l'offre entreprise LiveCycle ES et anime la communauté de développeurs Flex. Michaël a commencé le développement PHP en 2000 avec Cyril Pierre de Geyer. Il a ensuite développé plusieurs sites au sein de webAgencies pour Nrj, la BNP, le groupe Accor et des portails communautaires autour des technologies Adobe.",
    },
    {
        code: 'ncollignon',
        nom: 'Nicolas COLLIGNON',
        presentation: 'Hervé Schauer Consultants',
        biographie: "Ingénieur diplômé de l'ECE, Nicolas Collignon s'est orienté vers la sécurité après avoir participé au développement de solutions de sécurité comme SecureStack ou SSLTunnel. Avec une expertise dans la sécurité du protocole IPv6 et le fonctionnement des systèmes d'exploitations, il rejoint l'équipe de consultants HSC en 2006. Il est certifié Lead Auditor ISO 27001 par LSTI depuis août 2006 et réalise tout types de prestations en relation avec la sécurité des systèmes d'informations : audits techniques et fonctionnels, tests d'intrusion et formations.",
    },
    {
        code: 'odasini',
        nom: 'Olivier DASINI',
        presentation: 'Consultant MySQL - <a href="http://www.anaska.com">Anaska</a>',
        biographie: 'Olivier DASINI est responsable du pôle SGBD et <a href="http://www.anaska.com/formation-mysql.php">formateur certifié MySQL</a> pour la société <a href="http://www.anaska.com">ANASKA</a>. Il est l\'auteur de nombreux articles et participe à la vie de la communauté MySQL au travers de nombreux forums et sites.',
    },
    {
        code: 'edaspet',
        nom: 'Eric DASPET',
        presentation: 'Web developer chez Yahoo',
        biographie: 'Eric DASPET est à l\'origine avec Cyril PIERRE DE GEYER du livre <a href=\'http://www.amazon.fr/PHP-5-avance/dp/2212121679/\'>« PHP 5 avancé »</a> aux éditions Eyrolles dont la quatrième édition sort cette année. Il poursuit en parallèle une activité personnelle autour la qualité Web et en particulier de la standardisation et de l\'accessibilité des contenus. Il organise annuellement deux jours de conférences avec des experts francophones au travers de l\'association <a href="http://www.paris-web.fr">Paris Web</a>.',
    },
    {
        code: 'sdeschamps',
        nom: 'Stéphane DESCHAMPS',
        presentation: 'expert accessibilité Orange-France Télécom Groupe',
        biographie: '<a href="http://www.nota-bene.org/">Stéphane DESCHAMPS</a> est expert accessibilité au sein du SI du groupe <a href="http://www.francetelecom.com/">Orange-France Télécom</a>. Il a accompagné de nombreux projets pour les rendre accessibles, en s\'intéressant aussi bien au côté client qu\'au côté serveur. Auparavant il était superviseur technique d\'un serveur intranet hébergeant de nombreux services en PHP développés en interne ainsi que de nombreux sites sous Spip. Par ailleurs il est président cofondateur de <a href="http://www.paris-web.fr/">Paris Web</a>, conférence consacrée au design, à la qualité qualité et à l\'accessibilité web.',
    },
    {
        code: 'vdupont',
        nom: 'Vincent DUPONT',
        presentation: '"principal consultant" Ausy Belux',
        biographie: 'Fort de son expérience PHP professionnelle de plus de 5 ans, il occupe le rôle de chef de projet au sein d\'une équipe de plus de 10 personnes. Ses activités quotidiennes couvrent tant les analyses fonctionnelles et techniques en développement et architecture applicative, que la gestion de l\'équipe et le suivi des projets.',
    },
    {
        code: 'diachetta',
        nom: 'David IACHETTA',
        presentation: '"principal consultant" Ausy Belux',
        biographie: 'Fort de son expérience PHP professionnelle de plus de 5 ans, il occupe le rôle d\'architecte au sein d\'une équipe de plus de 10 personnes. Ses activités quotidiennes couvrent tant les analyses fonctionnelles et techniques en développement et architecture applicative, que la gestion de l\'équipe et le suivi des projets.',
    },
    {
        code: 'timbert',
        nom: 'Thibault Imbert',
        presentation: 'expert ActionScript 3',
        biographie: 'Auteur du livre Pratique d\'ActionScript.',
    },
    {
        code: 'lnyffenegger',
        nom: 'Louis NYFFENEGGER',
        presentation: 'Hervé Schauer Consultants',
        biographie: "Ingénieur diplomé de l'INSA de Rouen, Louis Nyffenegger suit une spécialisation en sécurité informatique dans le master Sécurité des Systèmes d'Informations de l'Université de Rouen. Après un stage sur la sécurité des systèmes Windows et en particulier sur le fonctionnement du noyau Windows, il rejoint l'équipe du cabinet Hervé Schauer Consultants en 2006.",
    },
    {
        code: 'cpierredegeyer',
        nom: 'Cyril PIERRE de GEYER',
        presentation: 'Responsable <a href="http://www.anaska.com/formation-php.php">PHP</a> pour Anaska, co auteur de <a href="http://www.anaska.com/livre-php-5-avance.php">PHP 5 avancé</a> et <a href="http://www.eyrolles.com/Informatique/Livre/9782212117851/livre-memento-php-et-sql.php">PHP et SQL</a>',
        biographie: 'Cyril PIERRE de GEYER est expert PHP pour Anaska, l\'<a href="http://www.anaska.com">organisme de formation pour l\'OpenSource</a>. Co auteur du <a href="http://www.anaska.com/livre-php-5-avance.php">livre PHP5 avancé</a> il est l\'un des fondateurs et ancien président de l\'Association française des utilisateurs de PHP et participe aux sites <a href="http://www.phpteam.net">PHPteam.net</a> et <a href="http://www.phpfrance.com">PHPfrance</a>.',
    },
    {
        code: 'ppenet',
        nom: 'Perrick PENET',
        presentation: 'G&eacute;rant de <a href="http://www.noparking.net">No Parking</a>, contributeur à <a href="http://simpletest.org">SimpleTest</a>',
        biographie: 'Perrick Penet est également fondateur de la société <a href="http://www.noparking.net/">No Parking</a> qui développe notamment le <a href="http://www.noparking.net/opentime/index.php">logiciel de gestion du temps OpenTime</a>. Féru d\'Extreme Programming, il est également co-administrateur sur le logiciel libre <a href="http://www.simpletest.org">SimpleTest</a>. Par ailleurs il a été le président de l\'Afup.',
    },
    {
        code: 'gponcon',
        nom: 'Guillaume PON&Ccedil;ON',
        presentation: 'Architecte et consultant <a href="http://www.anaska.com/">Anaska</a>',
        biographie: 'Guillaume Ponçon est ingénieur expert PHP chez <a href="http://www.anaska.com">Anaska</a>.<br /><br />Auteur de l\'ouvrage <a href="http://www.amazon.fr/exec/obidos/ASIN/2212116764/">Best Practices PHP</a> (Eyrolles) et membre actif de l\'AFUP, il participe depuis plus de 5 ans à de nombreux projets professionnels et associatifs liés à la plate-forme PHP.',
    },
    {
        code: 'fpotencier',
        nom: 'Fabien POTENCIER',
        presentation: 'créateur Sensio et Symfony',
        biographie: 'Dès la fin de ces études, Fabien a créé Sensio, une agence Web spécialisée dans le développement d\'applications Web en environnement Open-Source. Promoteur du language PHP chez les grands comptes depuis 1999, Fabien est également le créateur de symfony, l\'un des frameworks PHP5 reconnus aujourd\'hui comme l\'un des framework professionnels adapté aux environnements et aux contraintes des entreprises.',
    },
    {
        code: 'drethans',
        nom: '<span class="red">Derick RETHANS</span>',
        presentation: 'Membre du PHP Group, créateur de Xdebug et architecte chez <a href="http://ez.no/">eZ Systems</a>.',
        biographie: 'Derick Rethans trouve des solutions aux problèmes du web. Il contribue régulièrement au projet PHP : l\'extension mcrypt, des corrections de bug, des nouveautés (<samp>date</samp> récemment) et le leadership de l\'équipe de QA. Il travaille désormais pour eZ systems A.S. en Norvège. Dans son temps libre, on le trouve à améliorer SRM: Script Running Machine et Xdebug.',
    },
    {
        code: 'rrougeron',
        nom: 'Raphaël ROUGERON',
        presentation: 'Chambre de Commerce et d\'Industrie de Paris',
        biographie: 'Développeur web à la Chambre de Commerce et d\'Industrie de Paris. Il développe en PHP depuis 8 ans dont un projet important pour la CCIP : une version électronique du Test d\'Evaluation de Français. Ce TEF comprend un client Flash et un serveur d\'examens en PHP -- gestion de la banque de questions du test, analyse psychométrique, résultats et attestations des candidats, etc... Il a aussi été formateur à Gobelins sur Flash, XML et RubyOnRails, et est l\'auteur d\'articles dans PHP Solutions (ORM et MVC.',
    },
    {
        code: 'gbertrand',
        nom: 'Gilles BERTRAND',
        presentation: 'B-services sprl',
        biographie: '',
    },
    {
        code: 'dseguy',
        nom: 'Damien SEGUY',
        presentation: 'Cofondateur de <a href="http://www.nexenservices.com">Nexen services</a> et membre du PHPGroup',
        biographie: 'Damien Seguy est diplômé 1997 de l\'Ecole Centrale de Lille. Il fonde <a href="http://www.nexen.net">Nexen.net</a> en 1999, le premier portail PHP et MySQL en français. Responsable des documentations pour <a href="http://www.php.net">PHP.net</a> et <a href="http://www.mysql.com">MySQL.com</a>, il apporte un avantage décisif à <a href="http://www.nexenservices.com">Nexen Services</a> pour ses gammes d\'hébergement professionnel.<br />Damien Seguy intervient dans les conférences PHP internationales, et organise celle de Montréal. Il est l\'auteur de deux livres et du premier coffret DVD consacrés à PHP.',
    },
    {
        code: 'bshire',
        nom: '<span class="red">Brian SHIRE</a>',
        presentation: 'leader technique Facebook',
        biographie: 'Brian Shire est responsable technique chez Facebook -- en particulier pour les questions relatives à PHP -- et contribue au développement du Alternative PHP Cache (APC). Facebook est un réseau social incroyablement populaire : Brian y est acteur depuis un an et demi, il s\'occupe en particulier des questions de performances et de scalabilité. Logiciels embarqués, japonais et voie figurent parmi ses autres activités.',
    },

    {
        code: 'azmievski',
        nom: '<span class="red">Andrei ZMIEVSKI</span>',
        presentation: 'Membre du PHP Group et architecte logiciel chez <a href="http://www.outspark.com/">Outspark Inc.</a>',
        biographie: 'Membre de l\'équipe "Core Software Infrastructure" chez Outspark Inc., il est responsable de l\'intégration d\'Unicode dans PHP6. On retrouve ses contributions entre autres dans Smarty, PHP-GTK et Apache.',
    },
] %}

{% include 'legacy/forumphp2007/entete.html.twig' %}
<div id="cartouche-milieu">
	<img id="cartouchepage" src="/templates/forumphp2007/images/cartouche-page.png" usemap="#m_cartouchepage" />
	<map name="m_cartouchepage">
	<area shape="poly" coords="294,60,424,60,424,86,294,86,294,60" href="{{ path('legacy_event', {year: 2007, page: 'inscriptions.php'}) }}" title="Tarifs et inscriptions" alt="Tarifs et inscriptions" >
	<area shape="poly" coords="221,60,291,60,291,86,221,86,221,60" href="{{ path('legacy_event', {year: 2007, page: 'acces.php'}) }}" title="Accès" alt="Accès" >
	</map>
	<h1>&nbsp;&nbsp;Les conférenciers</h1>
	
  <table width="100%" border="0" cellspacing="0" cellpadding="6">
    {% for conferencier in conferenciers %}
    <tr> 
      <td colspan="2">
        <hr width="100%" noshade align="center" size="1" />
      </td>
    </tr>
    <tr> 
      <td colspan="2"><a name="{{ conferencier.code }}" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td valign="bottom"> 
              <div class="homme"><b>{{ conferencier.nom|raw }}</b></div>
            </td>
            <td align="right" valign="bottom">{{ conferencier.presentation|raw }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td width="59"><img src="/templates/forumphp2007/images/intervenants/{{ conferencier.code }}.jpg" border="0" align="left" /></td>
      <td width="920" align="justify" valign="middle">{{ conferencier.biographie|raw }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% include 'legacy/forumphp2007/pied_de_page.html.twig' %}
