{% extends 'admin/association/membership/_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/glyphicons.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/techletter.css') }}" media="screen" />
{% endblock %}


{% block submenu %}
    {% include 'admin/association/membership/_member_menu.html.twig' with {
        current: "techletter"
    } only %}
{% endblock %}

{% block page_title %}Veille de l'AFUP{% endblock %}


{% block page_content %}

    <p>Pour plus d'informations sur la veille de l'AFUP, consultez <a href="{{ path('techletter') }}">cette page</a>.</p>

    {% if not feeUpToDate %}
        <div class="txtcenter">
            <p class="erreur">
                Vous n'êtes pas à jour de votre cotisation.<br>
                <br>
                Vous ne pourrez donc pas recevoir, vous inscrire ni consulter l'historique des veilles de l'AFUP.<br>
                <br>Vous pouvez dès à présent régler votre cotisation via <a href="{{ path('member_membership_fee') }}">"Cotisations".</a>
            </p>
        </div>
    {% else %}
        <div class="txtcenter">
            {% if subscribed %}
                <p>Vous recevez actuellement la veille de l'AFUP deux fois par mois sur l'adresse {{ app.user.email }}.</p>
                <br />
                <a href="{{ path('member_techletter_unsubscribe') }}" class="button button-inverted">Me désabonner</a>
            {% else %}
                <p>Vous ne recevez actuellement pas la veille de l'AFUP.</p>
                <br />

                <form class="techletter-subscription--form" method="post" action="{{ path('member_techletter_subscribe') }}">
                    <input type="hidden" name="_csrf_token" value="{{ token }}" />
                    <button class="button button--call-to-action">M'abonner</button>
                </form>

            {% endif %}
        </div>

        <h2>Historique des veilles</h2>

        <table class="afup-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for techletter in techletter_history %}
                <tr>
                    <td>
                        Veille du {{ techletter.sendingDate|date('d/m/Y') }}
                    </td>
                    <td>
                        <a class="button button-inverted button__medium" target="afup-veille" href="{{ techletter.archiveUrl }}">
                            Consulter
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
