<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="Salon PHP, Forum PHP, les meilleurs experts PHP en France" lang="fr" />
        <link rel="stylesheet" href="/templates/forumphp2009/style.css" type="text/css" media="all" />
        <title>Forum PHP Paris 2009 organisé par l'AFUP avec les meilleurs experts PHP français et internationaux</title>
    </head>
    <body>
        <div id="conteneur">
            <div id="a-gauche">
                <div id="logo" class="center"><br />
                    <a href="https://afup.org/"><img id="logo-afup" src="/templates/forumphp2009/images/logo_afup.png" alt="AFUP" border="0" /></a>
                </div>
                <div id="menu"><br />
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'index.php'}) }}">Accueil</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'agenda.php'}) }}">Programme</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'inscription.php'}) }}">Tarifs / Inscriptions</a>
<br/>
<br/>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'conferenciers.php'}) }}">Conférenciers</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'sessions.php'}) }}">Sessions</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'resumes.php'}) }}">Résumés</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'buzz.php'}) }}">Buzz</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'projets-php.php'}) }}">Projets PHP</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'sponsors.php'}) }}">Sponsors</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'acces.php'}) }}">Accès</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2009, page: 'contact.php'}) }}">Contacts</a>
				  </div>
                          <div id="logo" class="center">
                          <br /><br />
                          En partenariat avec <br /><br />
                    <a href="http://www.lemug.fr/" target="_blank"><img id="logo-mug" src="/templates/forumphp2009/images/logo-lemug.png" alt="LeMug" border="0" /></a>
                </div>
                          <div id="twitter" class="center">
                          <br /><br />
                          <a href="http://twitter.com/afup" target="_blank">Suivez-nous sur twitter</a> 
                    <a href="http://twitter.com/afup" target="_blank"><img id="logo-mug" src="/templates/forumphp2009/images/folow_twitter_logo.png" alt="LeMug" border="0" /></a>
                </div>
            </div>

            <div id="au-milieu">
