{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Listes de diffusion</h2>

    <form method="post">
        {{ dump(subscriptions) }}
        {% for list in lists %}
            {% if loop.first %}
                <h3>{{ list.categoryLabel }}</h3>
            {% endif %}
            <h4>{{ list.name }} ({{ list.email }})</h4>
            <p>{{ list.description }}</p>
            {% if subscriptions[list.email] %}
                <button name="unsubscribe" value="{{ list.id }}">Me désabonner</button>
            {% else %}
                <button name="subscribe" value="{{ list.id }}">M'abonner</button>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="token" value="{{ csrf_token }}" />
    </form>
{% endblock %}
