{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Assemblée générale - votes</h2>

    <div class="ui segment">
        <form method="GET" name="filtre">
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <label>Date</label>
                        <select name="date">
                            {% for date in dates %}
                                <option value="{{ date|date('U') }}"
                                        {% if date == selectedDate %}selected="selected"{% endif %}>
                                    {{ date|date('d/m/Y') }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <input type="submit" value="OK" class="ui button" name="submit_date"/>
                    </div>
                </div>
            </div>
        </form>

        {% if questions|length > 0 %}
            <table class="ui table striped compact celled">
                <thead>
                    <tr>
                        <th>Vote</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.label }}</td>
                        <td>
                            {% if question.hasStatusWaiting %}
                                <a
                                    href="{{ url('admin_members_general_vote_open', {id: question.id}) }}"
                                    class="ui button confirmable"
                                    data-confirmable-label="Etes-vous sûr de vouloir ouvrir la question '{{ question.label }}' ?"
                                >Ouvrir</a>
                            {% elseif question.hasStatusOpened %}
                                <a
                                    href="{{ url('admin_members_general_vote_close', {id: question.id}) }}"
                                    class="ui button confirmable"
                                    data-confirmable-label="Etes-vous sûr de vouloir fermer la question '{{ question.label }}' ?"
                                >Fermer</a>
                            {% elseif question.hasStatusClosed %}
                                <span class="ui disabled button ">Clos</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="meh outline icon"></i>
                    Aucun vote pour cette assemblée générale.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
