<script type="application/ld+json">
    {{ jsonld|json_encode|raw }}
</script>

{% if talks|length %}
<div class="sessions">
    {% for talk in talks %}
        <div class="session boss geek">
            <a name="{{ talk.talk.id }}"></a>
            <h4>{{ talk.talk.title|raw }}</h4>
            {% if talk.planning is not null and event.isPlanningDisplayable %}
                <span class="salle">{{ talk.room.name }}</span>
                {{ talk.planning.start|date('d/m/Y') }}
                <strong>
                    {{ talk.planning.start|date('H:i') }}-{{ talk.planning.end|date('H:i') }}
                </strong>
                - Niveau : {{ talk.talk.skillTranslationKey|trans }}
                {% if talk.talk.languageCode %}- {{ talk.talk.languageLabel }}{% endif %}
            {% endif %}

            <div class="details">
                <div class="abstract">
                    {% if talk.talk.useMarkdown %}
                        <p>{{ talk.talk.abstract|raw|markdown }}</p>
                    {% else %}
                        <p>{{ talk.talk.abstract|raw }}</p>
                    {% endif %}
                </div>
                <div>
                    {% for speaker in talk.speakers %}
                        {% if speaker is not null %}
                            <div class="conferencier">
                                <div class="photo">
                                    <a href="{{ speakersPagePrefix }}#{{ speaker.id }}">
                                        <img src="{{ app.request.getSchemeAndHttpHost() }}{{ photo_storage.getUrl(speaker) }}" alt="{{ speaker.label }}">
                                    </a><br>
                                </div>
                                <a href="{{ speakersPagePrefix }}#{{ speaker.id }}">{{ speaker.label }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if display_joindin_links and talk.talk.getJoindinUrl %}
                <div>
                    <div class="banner-button-container">
                        <a href="https://afup.org{{ talk.talk.getJoindinUrl }}" class="banner-button basis-primary-background">Commenter sur joind.in</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    Le programme n'est pas encore dévoilé, il le sera sous peu. Revenez bientôt.
{% endif %}
