{% extends ':site:base.html.twig' %}

{% block title %}{{ article.titre }} - AFUP{% endblock %}

{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}" media="all" />
{% endblock %}

{% block content %}
{{ render(controller(
    'AppBundle\\Controller\\Website\\SecondaryMenuController::display',
    { 'feuille_id': rubrique.feuille_associee }
)) }}
<div class="mw1400p center" id="container">
    <div class="line" id="main">
        <h1>{{ rubrique.nom }}</h1>
        <h2>{{ article.titre }}</h2>

        {% if article.type_contenu == constant('\\Afup\\Site\\Corporate\\Article::TYPE_CONTENU_MARKDOWN') %}
            {{ article.contenu|markdown|raw }}
        {% else %}
            {{ article.contenu|raw }}
        {% endif %}
    </div>
</div>
{% endblock %}
