<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="Salon PHP, Forum PHP, les meilleurs experts PHP en France" lang="fr" />
        <link rel="stylesheet" href="/templates/forumphp2006/style.css" type="text/css" media="all" />
        <title>Forum PHP Paris 2006 organisé par l'AFUP avec les meilleurs experts PHP français et internationaux</title>
    </head>
    <body>
        <div id="conteneur">
            <div id="a-gauche">
                <div id="logo"><br />
                    <a href="https://afup.org/"><img id="logo-afup" src="/templates/forumphp2006/images/logo_afup.png" alt="AFUP" border="0" /></a>
                </div>
                <div id="menu"><br />
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'index.php'}) }}">Accueil</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'acces.php'}) }}">Accès</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'inscription.php'}) }}">Tarifs / Inscriptions</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'sessions.php'}) }}">Agenda &amp; Sessions</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}">Conférenciers</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'contact.php'}) }}">Contacts</a>
				<a class="menu" href="{{ path('legacy_event', {year: 2006, page: 'resumes.php'}) }}">Résumés</a>
				  </div>
            </div>

            <div id="au-milieu">
