{% include 'legacy/forumphp2006/entete.html.twig' %}
<div id="cartouche-gauche">
    <div id="cartouche">
        <img name="cartouchehaut" src="/templates/forumphp2006/images/cartouche-haut.png" alt="" height="92" width="231" />
        <div class="a-interieur">
            <p>84, rue de Grenelle<br />Paris 7ème<br />
        <b>9 et 10 novembre 2006</b></p>
            <p>Venez suivre la sixième édition du forum PHP organisé par l'Association Française des Utilisateurs de PHP.</p>
        </div>
        <a href="{{ path('legacy_event', {year: 2006, page: 'acces.php'}) }}"><img name="cartoucheacces" src="/templates/forumphp2006/images/cartouche-acces.png" alt="" border="0" height="60" width="88" /></a><a href="{{ path('legacy_event', {year: 2006, page: 'inscription.php'}) }}"><img name="cartoucheinscriptions" src="/templates/forumphp2006/images/cartouche-inscriptions.png" alt="" border="0" height="60" width="143" /></a></div>
</div>

<div id="cartouche-droit">
    <img id="seront-presents" src="/templates/forumphp2006/images/entete-seront-presents.png" alt="Ils seront présents" />
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#rlerdorf"><span class="vip">Rasmus LERDORF</span></a> -
    <i>Inventeur de PHP</i>
    <br />
    <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#drethans"><span class="vip">Derick RETHANS</span></a> -
    <i>Membre du PHPGroup, XDebug</i>
    <br />
    <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#zsuraski"><span class="vip">Zeev SURASKI</span></a> -
    <i>Membre du PHPGroup</i>
    <br />
    <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#azmievski"><span class="vip">Andrei ZMIEVSKI</span></a> -
    <i>Membre du PHPGroup</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#afup"><span class="vip">De nombreux acteurs français importants :</span></a><br />
    <i>Romain BOURDON (wampserver)<br />Arnaud LIMBOURG (PEAR)<br />Perrick PENET (AFUP)<br />Cyril PIERRE de GEYER ("PHP 5 avancé")<br />Guillaume PON&Ccedil;ON ("Best Practices PHP5")<br />Damien SEGUY (NeXen.net)</i>
    <br /><br />
</div>

<div class="spacer"></div>

<div id="cartouche-milieu">
  <table width="100%" border="0" cellspacing="0" cellpadding="8">
    <tr>
      <td width="231" valign="top">
	  <h2>Le site pour le Forum PHP 2007</h2>
		<p>Le site pour le <a href="https://afup.org/pages/forumphp2007">Forum PHP 2007 est désormais ouvert</a>.</p>

	  <h2>Les résumés<br />de chaque session</h2>
		<p>Henry Cesbron Lavau, rédacteur expert, a réalisé un résumé de chaque session du Forum PHP 2006.</p>
        <p>Ils sont désormais <a href="{{ path('legacy_event', {year: 2006, page: 'resumes.php'}) }}">disponibles avec les supports de chaque conférencier</a>.</p>
		<p><i><cite>mis à jour le 22/11/2006</cite></i></p>

	  <h2>Les sessions<br />du Forum PHP 2006</h2>
		<p>Plusieurs temps forts vont éclairer ce Forum 2006 :</p>
        <b>Présentations fonctionnelles</b> :<br />
        <ul>
          <li>Tour d'horizon de l'univers de PHP (dont PHP6) par l'inventeur de PHP Rasmus LERDORF</li>
          <li>Ajax et Web Services en PHP avec les API Google AdWords</li>
          <li>PHP au sein du Service Public Fédéral Finances de Belgique</li>
        </ul>
        <b>Présentations techniques</b> :<br />
        <ul>
          <li>Unicode : une révolution en marche pour PHP6</li>
          <li>Design Patterns & PHP</li>
          <li>Sécurité des applications PHP</li>
        </ul>
        <p>Le <a href="{{ path('legacy_event', {year: 2006, page: 'sessions.php'}) }}">programme complet est désormais disponible</a>.</p>
		<p><i><cite>mis à jour le 15/09/2006</cite></i></p>
      </td>
      <td valign="top">
	  <h2>Des ouvrages à gagner...</h2>
		<p>Notre partenaire <a href="http://www.editions-eyrolles.com/">Eyrolles</a> offre <b>dix exemplaires</b> de ces deux ouvrages-cl&eacute;s sur PHP !</p>
		<p><a href="http://www.eyrolles.com/Informatique/Livre/9782212116762/"><img src="/templates/forumphp2006/images/livre_phpbp.jpg" style="border : 1px solid #bbbbbb;"></a></p>
		<p><a href="http://www.eyrolles.com/Informatique/Livre/9782212116762/">Best Practices PHP 5</a> de <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#gponcon">Guillaume Pon&ccedil;on</a><br />
		<blockquote>Les bonnes pratiques pour une utilisation professionnelle et fiable de PHP.</blockquote>
		</p>
		<br />		
		<p><a href="http://www.eyrolles.com/Informatique/Livre/9782212120042/"><img src="/templates/forumphp2006/images/livre_php5avance.jpg" style="border : 1px solid #bbbbbb;"></a></p>
		<p><a href="http://www.eyrolles.com/Informatique/Livre/9782212120042/">PHP 5 Avanc&eacute;</a> de <a href="http://eric.daspet.name/" target="_blank">Eric Daspet</a> et <a href="{{ path('legacy_event', {year: 2006, page: 'conferenciers.php'}) }}#cpierredegeyer">Cyril Pierre de Geyer</a><br />
        <blockquote>La r&eacute;f&eacute;rence fran&ccedil;aise pour d&eacute;velopper des applications PHP.</blockquote>
        </p>
      </td>
    </tr>
  </table>
</div>
{% include 'legacy/forumphp2006/pied_de_page.html.twig' %}
