
<div class="col-md-4">
    <h2>{{ 'Proposer une conférence'|trans }}</h2>
    <ul class="list-group">
        <li class="list-group-item first"><a href="{{ url('cfp', {eventSlug: event.path }) }}">{{ 'Accueil CFP'|trans }}
            </a>
        </li>
        <li class="list-group-item"><a href="{{ url('cfp_speaker', {eventSlug: event.path }) }}">{{ 'Mon profil conférencier'|trans }}
            </a>
        </li>
        <li class="list-group-item"><a href="{{ url('cfp_propose', {eventSlug: event.path}) }}">{{ 'Nouvelle conférence'|trans }}
            </a>
        </li>
    </ul>
</div>