{% extends 'event/cfp/base.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <h2>CFP: {{ event.title }}</h2>
        <h3>{{ 'Mon profil conférencier'|trans }}</h3>
        {% if form.isFromPreviousEvent is defined %}
            <p>{{ 'speaker_from_previous_event'|trans }}</p>
        {% endif %}
        {{ form(form) }}

        {% if photo != null %}
            <h3>{{ 'Ma photo de profil'|trans }}</h3>
            <div class="photo-container">
                <img src="{{ asset(photo) }}" alt="Photo"/>
            </div>
        {% endif %}
    </div>
    {{ sidebar|raw }}
{% endblock %}
