{% extends ':event:base.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <h2>CFP: {{ event.title }}</h2>
        <h3>{{ 'Mon espace conférencier'|trans }}</h3>
        {% if photo != null %}
            <div class="photo-container">
                <img src="{{ asset(photo) }}" />
            </div>
        {% endif %}
        {{ form(form) }}
    </div>
    {{ render(controller('AppBundle:CFP:sidebar', {eventSlug: event.path})) }}
{% endblock %}