<div class="ui clearing divider"></div>
<div class="inline fields ui grid">
    <div class="three wide column"></div>
    <div class="field nine wide column">Ligne __reference__</div>
    <div class="four wide column action_container"></div>
</div>
{{ form_row(form.details.vars.prototype.reference) }}
<div class="inline fields ui grid">
    <div class="three wide column"> </div>
    <div class="field seven wide column rigth aligned">Rappel : sponsoring 20%, place supplémentaire 10%.</div>
</div>
{{ form_row(form.details.vars.prototype.tva) }}
{{ form_row(form.details.vars.prototype.designation) }}
{{ form_row(form.details.vars.prototype.quantity) }}
{{ form_row(form.details.vars.prototype.unitPrice) }}
