{% if user_badges|length %}
<div class="ui segment">
    <h2 class="ui header">Badges</h2>
    <div class="ui clearing divider"></div>
    <table class="ui table striped compact celled">
        <thead>
            <th>Nom</th>
            <th>Date</th>
            <th></th>
        </thead>
        <tbody>
        {% for user_badge in user_badges %}
            <tr>
                <td>{{ user_badge.badge.label }}</td>
                <td>{{ user_badge.issuedAt|date('d/m/Y') }}</td>
                <td class="right aligned">
                    <a href="{{ path('admin_members_user_badge_delete', {userId: user_badge.userId, badgeId: user_badge.badgeId}) }}"
                       data-position="left center"
                       data-tooltip="Supprimer l'association avec le badge {{ user_badge.badge.label }}"
                       class="compact ui red icon button confirmable"
                       data-confirmable-label="Etes-vous sûr de vouloir supprimer l'association avec le badge {{ user_badge.badge.label }} ?"
                    >
                        <i class="trash icon"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<div class="ui segment">
    {{ form_start(user_badge_form) }}
    <h2 class="ui header">Associer un nouveau badge</h2>
    <div class="ui clearing divider"></div>

    <div class="ui form">
        <div class="inline fields ui grid">
            {{ form_label(user_badge_form.badge, null, {label_attr: {class: "three wide column"}}) }}
            <div class="field seven wide column">
                {{ form_errors(user_badge_form.badge) }}
                {{ form_widget(user_badge_form.badge) }}
            </div>
        </div>
    </div>

    <div class="ui form">
        <div class="inline fields ui grid">
            {{ form_label(user_badge_form.date, null, {label_attr: {class: "three wide column"}}) }}
            <div class="field seven wide column">
                {{ form_errors(user_badge_form.date) }}
                {{ form_widget(user_badge_form.date, {"attr": { "class": "inline fields"} }) }}
            </div>
        </div>
    </div>

    <div class="ui form">
        <div class="inline fields ui grid">
            <div class="three wide column"></div>
            <div class="field seven wide column">
                {{ form_widget(user_badge_form.save, {attr: {class: "ui primary button"}}) }}
            </div>
        </div>
    </div>

    {{ form_end(user_badge_form) }}
</div>


