{% extends ':event/sponsor:base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'QR Codes'|trans }} : {{ event.title }} - {{ sponsorTicket.company }}</h1>
            <h2 class="h3-like">{% trans %}SCANNEUR DE QR CODES{% endtrans %}</h2>
            <a class="button sponsor_scan" href="{{ url('sponsor_scan_new', {eventSlug: event.path}) }}">{% trans %}Scanner un QR Code{% endtrans %}</a>

            <h2 class="h3-like">{% trans %}QR CODES SCANNÉS{% endtrans %}</h2>
            <a class="button button__medium" href="{{ url('sponsor_scan_export', {eventSlug: event.path}) }}">{% trans %}Télécharger en CSV{% endtrans %}</a>

            <dl>
                {% for scan in scans %}
                    <dt><strong>{{ scan.prenom }} {{ scan.nom }}</strong></dt>
                    <dd class="mbs">
                        {{ scan.email }}<br />
                        {{ scan.created_on|date('d/m/y H:i')}} - <a href="#" onclick="confirmDelete(
                            '{{ url('sponsor_scan_delete', {eventSlug: event.path, scanId: scan.id}) }}',
                            '{{ scan.prenom|replace({"'": " "}) }}',
                            '{{ scan.nom|replace({"'": " "}) }}'
                        )">{% trans %}Supprimer{% endtrans %}</a>
                    </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        function confirmDelete(url, prenom, nom) {
            let text = "{% trans %}Confirmez-vous la suppression du QR Code de #prenom# #nom# ?{% endtrans %}";
            text = text.replace("#prenom#", prenom).replace("#nom#", nom);
            if (confirm(text) === true) {
                window.location = url;
            }
        }
    </script>
{% endblock %}
