{% extends ':event:base.html.twig' %}

{% block header %}
    {% set menu = {'main': {'route' : 'event', 'title': 'Ma page speaker : %title%'|trans({'%title%': event.title}) }, 'items': []} %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/glyphicons.css') }}" media="screen" />
{% endblock %}

{% form_theme speakers_diner_form 'bootstrap_3_layout.html.twig' %}
{% form_theme hotel_reservation_form 'bootstrap_3_layout.html.twig' %}

{% block content %}

    <style>
        .speakers-infos-form {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .speakers-infos-form label {
            font-size: 1.1em;
            margin: 20px 0;
        }

        .speakers-infos-form .radio label,
        .speakers-infos-form .checkbox label {
            border: none;
            font-weight: normal;
            margin: 0;
        }

        .speakers-infos-form .list-unstyled,
        .speakers-infos-form .error {
            color: red;
        }
        .speakers-infos-form .submit-container {
            text-align: right;
            padding: 0 15px 0 0;
        }
    </style>

    {% if talks_infos|length %}
    <div class="container">
        <div class="col-md-6">
            <h2>
                {% if talks_infos|length > 1 %}
                    {% trans %}Vos conférences{% endtrans %}
                {% else %}
                    {% trans %}Votre conférence{% endtrans %}
                {% endif %}
            </h2>

            <ul>
            {% for talk_info in talks_infos %}
                <li>
                    {{ talk_info.talk.title }}
                    <i>
                        {% if talk_info.planning %}
                            {% if talk_info.room %}({{ talk_info.room.name }}){% endif %}
                            ({{ talk_info.planning.start|localizeddate('full', 'short', app.request.locale) }})
                        {% else %}
                            (salle et dates de passage à venir)
                        {% endif %}
                    </i>
                </li>
            {% endfor %}
            </ul>

            {% if speaker.referentPerson %}
            <h2><a id="referent-person" href="#referent-person">🧭 {% trans %}Personne référente{% endtrans %}</a></h2>

            <b>{{ speaker.referentPerson }}</b>, {% trans %}sera votre personne de contact privilégiée dans les semaines menant à l’évènement tout comme durant l’évènement. N’hésitez pas à prendre contact pour toutes questions relatives à votre venue.{% endtrans %}
                {% if speaker.referentPersonEmail %}Son adresse email est <a href="mailto:{{ speaker.referentPersonEmail }}">{{ speaker.referentPersonEmail }}</a>.{% endif %}
            {% endif %}

            <h2><a id="contact" href="#contact">📞 {% trans %}Moyen de contact{% endtrans %}</a></h2>
            <p>{{ 'speakers_contact_help'|trans }}</p>

            {{ form_start(speakers_contact_form, { attr: { class: "speakers-infos-form" }, action: '#contact'}) }}
            <div class="container">
                <div class="col-md-6">
                    {{ form_label(speakers_contact_form.phone_number) }}
                    {{ form_errors(speakers_contact_form.phone_number) }}
                    {{ form_widget(speakers_contact_form.phone_number) }}
                </div>
            </div>

            <div class="submit-container">
                {{ form_widget(speakers_contact_form.submit) }}
            </div>

            {{ form_end(speakers_contact_form) }}

            {% if event.speakersDinerEnabled %}
            <h2><a id="diner" href="#diner">🍽️ {% trans %}Nous vous invitons au restaurant{% endtrans %}</a></h2>

            <p>{{ "Le repas des conférenciers, réunissant l'équipe d'organisation, les bénévoles, les sponsors et les speakers, se tiendra le soir du %date%." | trans({"%date%": day_before_event|date('d/m/Y')}) }}</p>

            {% if should_display_speakers_diner_form %}
                <p>{% trans %}Si vous avez un régime alimentaire spécifique, n'hésitez pas à nous en faire part pour prévenir le chef.{% endtrans %}</p>

                {{ form_start(speakers_diner_form, { attr: { class: "speakers-infos-form" }, action: '#diner'}) }}

                <div class="container">
                    <div class="col-md-6">
                        {{ form_label(speakers_diner_form.will_attend) }}
                        {{ form_errors(speakers_diner_form.will_attend) }}
                        {{ form_widget(speakers_diner_form.will_attend) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_label(speakers_diner_form.has_special_diet) }}
                        {{ form_errors(speakers_diner_form.has_special_diet) }}
                        {{ form_widget(speakers_diner_form.has_special_diet) }}

                        {{ form_label(speakers_diner_form.special_diet_description) }}
                        {{ form_errors(speakers_diner_form.special_diet_description) }}
                        {{ form_widget(speakers_diner_form.special_diet_description) }}
                    </div>
                </div>

                <div class="submit-container">
                    {{ form_widget(speakers_diner_form.submit) }}
                </div>

                {{ form_end(speakers_diner_form) }}
            {% else %}
                {% if speaker.willAttendSpeakersDiner is null %}
                    <p>{% trans %}Vous ne nous avez pas indiqué d'informations à propos de votre venue au repas des speakers.{% endtrans %}</p>
                {% else %}
                    {% if speaker.willAttendSpeakersDiner %}
                        <p>{% trans %}Vous nous avez indiqué être présent au repas.{% endtrans %}</p>

                        {% if speaker.hasSpecialDiet and speaker.specialDietDescription%}
                            <p>{% trans %}Vous nous avez indiqué avoir un régime alimentaire particulier, avec ces précisions :{% endtrans %}</p>

                            <pre>
                        {{ speaker.specialDietDescription }}
                    </pre>
                        {% else %}
                            <p>{% trans %}Vous nous avez indiqué ne pas avoir de régime alimentaire particulier.{% endtrans %}</p>
                        {% endif %}
                    {% else %}
                        <p>Vous nous avez indiqué ne pas être présent au repas.</p>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endif %}

            {% if event.accomodationEnabled %}
            <h2><a id="hotel" href="#hotel">🛎️ {% trans %}Nous vous hébergeons{% endtrans %}</a></h2>

            {% if should_display_hotel_reservation_form %}
                {{ form_start(hotel_reservation_form, { attr: { class: 'speakers-infos-form'}, action: '#hotel'}) }}

                <div class="container">
                    <div class="col-md-6">
                        {{ form_label(hotel_reservation_form.nights) }}
                        {{ form_errors(hotel_reservation_form.nights) }}
                        {{ form_widget(hotel_reservation_form.nights) }}
                    </div>
                    <div class="col-md-6">
                        <i>{% trans %}Vous disposez de deux nuits d'hôtel maximum. Donnez-nous les dates qui vous conviennent, nous nous chargeons de la réservation ! (les speakers intercontinentaux peuvent bénéficier de plus de nuités, si vous êtes dans ce cas, le pôle conférence vous aura contacté).{% endtrans %}</i>

                    </div>
                </div>

                <div class="submit-container">
                    {{ form_widget(hotel_reservation_form.submit) }}
                </div>

                {{ form_end(hotel_reservation_form) }}
            {% else %}
                {% if speaker.hasNoHotelNight %}
                    {% trans %}Vous nous avez indiqué que n'avez pas besoin de nuit d'hotel.{% endtrans %}
                {% else %}
                    {% trans %}Des nuits d'hôtel vous seront réservées ces nuits :{% endtrans %}
                    <ul>
                    {% if speaker.hasHotelNightBefore %}
                        <li>{% trans %}La nuit entre la veille de l'évènement et le premier jour.{% endtrans %}</li>
                    {% endif %}
                    {% if speaker.hasHotelNightBetween %}
                        <li>{% trans %}La nuit entre le premier jour et le second jour.{% endtrans %}</li>
                    {% endif %}
                    {% if speaker.hasHotelNightAfter %}
                        <li>{% trans %}La nuit entre le deuxième jour de l'évènement et le lendemain de l'évènement.{% endtrans %}</li>
                    {% endif %}
                    </ul>
                {% endif %}
            {% endif %}
            {% endif %}

            <h2><a id="expenses" href="#expenses">💶 {% trans %}Nous vous défrayons{% endtrans %}</a></h2>

            <div class="container">
                <p>
                    {% trans %}venue_speaker.expenses.intro{% endtrans %}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>{% trans %}Liste des fichiers envoyés{% endtrans %}</strong>
                        </p>
                        {% if speakers_expenses_files|length %}
                            <ul>
                                {% for file in speakers_expenses_files %}
                                    {% set queryParams = app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'delete_file': file.basename}) %}
                                    {% set queryParams = app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'delete_file': file.basename}) %}
                                    <li>
                                        <a href="{{ path('speaker-infos-files', {speakerId: speaker.id, eventSlug: event.path, filename: file.basename}) }}" target="_blank" title="Télécharger le fichier {{ file.basename }}">
                                            {{ file.basename }}
                                        </a>
                                        <a href="{{ path(app.request.attributes.get('_route'), queryParams) }}#expenses"
                                           onclick="window.confirm('{% trans %}Êtes-vous sûr(e) de vouloir supprimer ce fichier ?{% endtrans %}')"
                                           title="{% trans with {'%filename%': file.basename} %}Supprimer le fichier %filename%{% endtrans %}">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{% trans %}Aucun fichier de défraiement{% endtrans %}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">

                        {{ form_start(speakers_expenses_form, { attr: { class: 'speakers-infos-form'}, action: '#expenses' }) }}
                        <div class="error">
                            {{ form_errors(speakers_expenses_form.files) }}
                        </div>
                        <div style="margin-bottom: 2rem;">
                            {{ form_widget(speakers_expenses_form.files) }}
                        </div>
                        <div class="submit-container">
                            {{ form_row(speakers_expenses_form.submit) }}
                        </div>
                        {{ form_end(speakers_expenses_form) }}

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            {{ description|markdown }}
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="col-md-12">
                Aucune conférence programmée trouvée.
            </div>
        </div>
    {% endif %}
{% endblock %}
