{% include 'legacy/forumphp2005/entete.html.twig' %}
<div id="cartouche-gauche">
    <div id="cartouche">
        <img name="cartouchehaut" src="/templates/forumphp2005/images/cartouche-haut.png" alt="" height="92" width="231" />
        <div class="a-interieur">
            <p>84, rue de Grenelle<br />Paris 7ème<br />9th and 10th, November 2005</p>
            <p>Join us for the PHP Forum's 5th edition in Paris. An event brought to you by the AFUP (PHP French User Group).</p>
        </div>
        <a href="{{ path('legacy_event', {year: 2005, page: 'acces.php'}) }}"><img name="cartoucheacces" src="/templates/forumphp2005/images/cartouche-access.png" alt="" border="0" height="60" width="88" /></a><a href="{{ path('legacy_event', {year: 2005, page: 'inscription.php'}) }}"><img name="cartoucheinscriptions" src="/templates/forumphp2005/images/cartouche-bookings.png" alt="" border="0" height="60" width="143" /></a></div>
</div>

<div id="cartouche-droit">
    <img id="seront-presents" src="/templates/forumphp2005/images/entete-will-be-there.png" alt="They'll be there" />
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#rl"><span class="vip">Rasmus LERDORF</span></a><br />
    <i>PHP Creator.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#wf"><span class="vip">Wez FURLONG</span></a><br />
    <i>Member of the PHPGroup and leader on the PDO extension.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#pp"><span class="vip">Perrick PENET</span></a><br />
    <i>AFUP President, owner of No Parking and creator of the timesheet software OpenTime.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#ds"><span class="vip">Damien SEGUY</span></a><br />
    <i>Editor for Direction|PHP and Nexen.net, leader on the french translations for PHP and MySQL.</i>
    <br /><br />
    <a href="{{ path('legacy_event', {year: 2005, page: 'conferenciers.php'}) }}#cpdg"><span class="vip">Cyril PIERRE de GEYER</span></a><br />
    <i>Co-author on the book "PHP 5 advanced", technical manager for Anaska formation and responsible for the websites phpfrance &amp; phpteam.net.</i>
    <br /><br />
</div>

<div class="spacer">&nbsp;</div>

<div id="cartouche-milieu">
    <h2>Sessions for the Forum PHP 2005 in Paris</h2>
    <cite>Updated 19th Sept. 2005</cite>
    <p>A few sessions to look out for during this year's conference :</p>
    Functionnal sessions :<br />
    <ul>
    <li>PHP 5 by its creator, Rasmus LERDORF</li>
    <li>Oveview of PHP Open Source solutions by Cyril PIERRE de GEYER</li>
    <li>Case studies from Crédit Agricole and LeMonde.fr</li>
    </ul>
    Technical sessions :<br />
    <ul>
    <li>PDO, a new database abstraction layer for PHP by Wez FURLONG</li>
    <li>XML and WebServices by Eric DASPET, one of the author of the book "PHP 5 advanced"</li>
    <li>Ajax tips &amp; techniques and Aspect Oriented Developpement amongst others</li>
    </ul>
    <a href="{{ path('legacy_event', {year: 2005, page: 'sessions.php'}) }}">[The full sessions' list -- in french]</a>
</div>
{% include 'legacy/forumphp2005/pied_de_page_english.html.twig' %}
