{% extends ':admin:base_with_header.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all"/>
{% endblock %}
{% block content %}
    <h2>Badges</h2>

    <a href="{{ path('admin_members_badges_new') }}">Nouveau badge</a><br />
    <br />

    <table class="afup_tab">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Logo</th>
                <th>Membres</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.badge.label }}</td>
                <td>
                    <img src="{{ path('badge_image', {id: info.badge.id })}}" style="max-height: 150px">
                </td>
                <td>
                    {% for user in info.users %}
                        {{ user.getLabel }}
                        <a href="/pages/administration/index.php?page=personnes_physiques&action=modifier&id={{ user.id }}">
                            <img src="/templates/administration/images/famfamfam/application_form_edit.png" />
                        </a>
                        <br />
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
