{% extends ':admin:base_with_header.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms_company.css') }}" media="all"/>
{% endblock %}
{% block content %}
    <h2>Badges</h2>

    <div class="ui menu">
        <a href="{{ path('admin_members_badges_new') }}" class="item">
            <div data-tooltip="Ajouter un badge" data-position="bottom left">
                <i class="icon plus square"></i>
                Ajouter
            </div>
        </a>
    </div>

    <table class="ui table striped compact celled">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Logo</th>
                <th>Membres</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.badge.label }}</td>
                <td>
                    <img src="{{ path('badge_image', {id: info.badge.id })}}" style="max-height: 150px">
                </td>
                <td class="top aligned content">
                    <div class="ui list">
                    {% for user in info.users %}
                        <div class="item">
                            {{ user.getLabel }}
                            <a href="/pages/administration/index.php?page=personnes_physiques&action=modifier&id={{ user.id }}"
                               class="compact ui icon button"
                            >
                                <i class="pencil alernate icon"></i>
                            </a>
                        </div>
                        <br />
                    {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
