{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Inscriptions {{ event.title~' '~event.dateStart|date('Y') }}</h2>

    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    <div class="ui menu">
        <a href="/pages/administration/index.php?page=forum_inscriptions&amp;action=ajouter&amp;id_forum={{ event.id }}" class="item">
            <div data-tooltip="Ajouter une inscription" data-position="bottom left">
                <i class="icon plus square"></i>
                Ajouter
            </div>
        </a>
        <div class="ui simple dropdown item" tabindex="0">
            <i class="icon download"></i>
            <span class="text">Exports</span>
            <i class="dropdown icon"></i>
            <div class="menu hidden" tabindex="-1">
                <a class="item" href="/admin/event/badges?id={{ event.id }}" title="Exporter les inscriptions pour les badges">Exporter les inscriptions pour les badges <i>(prends environ une minute)</a></i>
                <a class="item" href="/admin/event/previous_registrations?event_count=4">Exporter les inscrits aux 4 derniers évènements <i>(ayant acceptés d'être contactés, et pour les évènements passés)</i></a>
            </div>
        </div>

    </div>

    <div class="ui segment">
        <table class="ui table striped very compact celled">
            <thead>
            <tr>
                <th>Type</th>
                <th class="right aligned">Tarif</th>
                <th class="right aligned">Nb inscrits</th>
                <th class="right aligned">Nb Confirme</th>
                <th class="right aligned">Nb payants</th>
                <th class="right aligned">Montant</th>
                <th class="right aligned">Places restantes</th>
            </tr>
            </thead>
            <tbody>
            {% set inscritsTotal = 0 %}
            {% set confirmesTotal = 0 %}
            {% set payantsTotal = 0 %}
            {% set montantTotal = 0 %}

            {% for forumTarifKey, forumTarif in forumTarifs %}
                {% set inscrits = statistiques.types_inscriptions.inscrits[forumTarifKey]|default(0) %}
                {% set confirmes = statistiques.types_inscriptions.confirmes[forumTarifKey]|default(0) %}
                {% set payants = statistiques.types_inscriptions.payants[forumTarifKey]|default(0) %}
                {% set montant = (statistiques.types_inscriptions.payants[forumTarifKey]|default(0)) * forumTarif %}
                {% set inscritsTotal = inscritsTotal + inscrits %}
                {% set confirmesTotal = confirmesTotal + confirmes %}
                {% set payantsTotal = payantsTotal + payants %}
                {% set montantTotal = montantTotal + montant %}

                {% if inscrits != 0 %}
                    <tr>
                        <td>
                            {{ forumTarifsLib[forumTarifKey] }}
                        </td>
                        <td class="right aligned">{{ forumTarif}} €</td>
                        <td class="right aligned">{{ inscrits }}</td>
                        <td class="right aligned">{{ confirmes }}</td>
                        <td class="right aligned">{{ payants }}</td>
                        <td class="right aligned"> {{ montant }}</td>
                        <td class="right aligned"> {{ restantes[forumTarifKey]|default('') }}</td>

                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
            </tbody>
            <tfoot>
            <th></th>
            <th></th>
            <th class="right aligned">{{ inscritsTotal }}</th>
            <th class="right aligned">{{ confirmesTotal }}</th>
            <th class="right aligned">{{ payantsTotal }}</th>
            <th class="right aligned">{{ montantTotal }}</th>
            <th></th>
            </tfoot>
            </tr>

        </table>

        <table class="ui table striped very compact celled">
            <thead>
            <tr>
                <th></th>
                <th class="right aligned">Inscrits</th>
                <th class="right aligned">Confirmés</th>
                <th class="right aligned">En attente de règlement</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Jour 1</td>
                <td class="right aligned">{{ statistiques.premier_jour.inscrits }}</td>
                <td class="right aligned">{{ statistiques.premier_jour.confirmes }}</td>
                <td class="right aligned">
                    {% if statistiques.premier_jour.en_attente_de_reglement == '' %}
                        0
                    {% else %}
                        {{ statistiques.premier_jour.en_attente_de_reglement }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Jour 2</td>
                <td class="right aligned">{{ statistiques.second_jour.inscrits }}</td>
                <td class="right aligned">{{ statistiques.second_jour.confirmes }}</td>
                <td class="right aligned">
                    {% if statistiques.second_jour.en_attente_de_reglement == '' %}
                        0
                    {% else %}
                        {{ statistiques.second_jour.en_attente_de_reglement }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ui segment">
        <form method="GET" name="filter">
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <label>Recherche</label>
                        <input type="text" name="filter" value="{{ filter }}">
                        <input type="hidden" name="id" value="{{ event.id }}">
                    </div>
                    <div class="field">
                        <input type="submit" value="Filtrer" name="submit_filtre" class="ui button">
                    </div>
                </div>
            </div>
        </form>

        {% if inscriptions|length > 0 %}
            <table class="ui table striped compact celled">
                <thead>
                <tr>
                    <th align="left"><a href="{{ path('admin_event_inscription_list', app.request.query.all|merge({
                            sort: 'date',
                            direction: direction == 'asc' and sort == 'name' ? 'desc' : 'asc'
                        })) }}">Date</a></th>
                    <th align="left"><a href="{{ path('admin_event_inscription_list', app.request.query.all|merge({
                            sort: 'name',
                            direction: direction == 'asc' and sort == 'name' ? 'desc' : 'asc'
                        })) }}">Nom Prénom</a></th>
                    <th align="left"><a href="{{ path('admin_event_inscription_list', app.request.query.all|merge({
                            sort: 'societe',
                            direction: direction == 'asc' and sort == 'name' ? 'desc' : 'asc'
                        })) }}">Société (facturation)</a></th>
                    <th align="left"><a href="{{ path('admin_event_inscription_list', app.request.query.all|merge({
                            sort: 'type',
                            direction: direction == 'asc' and sort == 'name' ? 'desc' : 'asc'
                        })) }}">Type</a></th>
                    <th><a href="{{ path('admin_event_inscription_list', app.request.query.all|merge({
                            sort: 'etat',
                            direction: direction == 'asc' and sort == 'name' ? 'desc' : 'asc'
                        })) }}">Etat</a></th>
                    <th align="left">Règ.</th>
                    <th title="Applicable uniquement aux tarifs afup">Statut cotisation</th>
                <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for key, inscription in inscriptions %}
                    <tr class="{% if key is odd %}odd{% else %}even{% endif %}" {% if inscription.etat == 1 %} style="color:#999;font-style:italic"{% endif %}>
                    <td nowrap="nowrap">{% if inscription.date.timestamp is defined %}{{ inscription.date|date("d/m/Y H:m:s")}}{% endif %}</td>
                    <td>
                        <strong>{{ inscription.prenom }} {{ inscription.nom }}</strong>
                        <a href="/admin/members/users?filter={{ inscription.nom }} {{ inscription.email }}"
                           data-position="right center"
                           data-tooltip="Rechercher dans les membres"
                           class="compact ui icon mini button"
                        >
                            <i class="search icon"></i>
                        </a>
                    </td>
                    <td>
                        {{ inscription.societe }}
                        {% if inscription.societe %}
                            <a href="/admin/members/companies?filter={{ inscription.societe }}"
                               data-position="right center"
                               data-tooltip="Rechercher dans les personnes morales"
                               class="compact ui icon mini button"
                            >
                                <i class="search icon"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ forumTarifsLib[inscription.type_inscription] }}</td>
                    <td class="center aligned">
                        {% if inscription.etat == 0 %}
                            <span class="ui orange label">Créé</span>
                        {% elseif inscription.etat == 1 %}
                            <span class="ui label">Annulé</span>
                        {% elseif inscription.etat == 2 %}
                            <span class="ui red label">Erreur</span>
                        {% elseif inscription.etat == 3 %}
                            <span class="ui red label">Refusé</span>
                        {% elseif inscription.etat == 4 %}
                            <span class="ui green label">Reglé</span>
                        {% elseif inscription.etat == 5 %}
                            <span class="ui green label">Invité</span>
                        {% elseif inscription.etat == 6 %}
                            <span class="ui orange label">Attente règlement</span>
                        {% elseif inscription.etat == 7 %}
                            Facturé
                        {% endif %}
                    </td>
                    <td>{% if inscription.type_reglement == 0 %}CB{% elseif inscription.type_reglement == 1 %}CHQ{% elseif inscription.type_reglement == 2 %}VIR{% endif %}</td>
                    {% if inscription.type_inscription in forumTarifsMembers %}
                        {% if inscription.lastsubscription == null %}
                            <td>
                                                <span class="ui blue label">
                                                    Non trouvée
                                                </span>
                            </td>
                        {% elseif inscription.lastsubscription < now %}
                            <td class="single line">
                                <span class="ui red label">
                                    A expiré le {{ inscription.lastsubscription|date('%d/%m/%Y') }}
                                </span>
                                <a class="compact ui tiny icon button" href="/pages/event-payment/?ref=ins-{{ inscription.id }}&forum={{ event.id }}">
                                    URL Paiement
                                </a>
                            </td>
                        {% elseif inscription.lastsubscription < event.dateEnd %}
                            <td class="single line">
                                <span class="ui {% if inscription.etat != 1 %}orange{% endif %} label">
                                    Expire le {{ inscription.lastsubscription|date('%d/%m/%Y') }}
                                </span>
                                <a class="compact ui tiny icon button" href="/pages/event-payment/?ref=ins-{{ inscription.id }}&forum={{ id_forum }}">
                                    URL Paiement
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <span class="ui green label">OK</span>
                            </td>
                        {% endif %}
                    {% else %}
                        <td>
                            <span class="ui label">n/a</span>
                        </td>
                    {% endif %}
                    <td style="text-align: right" nowrap="nowrap">
                        {% if inscription.type_inscription == constant('AFUP_FORUM_2_JOURNEES_PREVENTE_ADHESION') and inscription.etat != 1%}
                            {# TODO RAPH "cheminTemplate" #}
                            <a href="/pages/administration/index.php?page=forum_inscriptions&amp;action=generer_mail_inscription_afup&amp;id={{ inscription.id }}"><img src="{$chemin_template}images/famfamfam/email_edit.png" alt="Générer un mail pour demander la confirmation d'adhésion à l'AFUP" /></a>
                            <a href="/pages/administration/index.php?page=forum_inscriptions&amp;action=generer_inscription_afup&amp;id={{ inscription.id }}"><img src="{$chemin_template}images/famfamfam/group_add.png" alt="Transformer en adhésion AFUP" /></a>
                        {% endif %}
                        <a href="/pages/administration/index.php?page=forum_inscriptions&amp;action=modifier&amp;id={{ inscription.id }}"
                           data-position="left center"
                           data-tooltip="Modifier la fiche de {{ inscription.nom }} {{ inscription.prenom }}"
                           class="compact ui icon button"
                        >
                            <i class="pencil alernate icon"></i>
                        </a>

                        <a href="/pages/administration/index.php?page=forum_inscriptions&amp;action=supprimer&amp;id={{ inscription.id }}"
                           data-position="left center"
                           data-tooltip="Supprimer la fiche de {{ inscription.nom }} {{ inscription.prenom }}"
                           class="compact ui red icon button confirmable"
                           data-confirmable-label="Etes-vous sûr de vouloir supprimer la fiche de {{ inscription.nom }} {{ inscription.prenom }} ?"
                        >
                            <i class="trash icon"></i>
                        </a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui placeholder segment">
                <div class="ui icon header">
                    <i class="meh outline icon"></i>
                    Aucune inscription
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
