{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Générer une veille de l'AFUP</h2>

	<link rel="stylesheet" href="{{ asset('assets/techletter/notyf.min.css') }}" />
	<script src="{{ asset('assets/techletter/notyf.min.js') }}"></script>

	<div class="ui menu asd borderless">
		<div class="right menu">
			<div class="item">
				<form class="afup--form" action="{{ path('admin_techletter_send_test') }}" method="get">
					<input type="hidden" name="techletterId" value="{{ sending.id }}" />
					<input type="submit" class="ui button" value="Envoyer une newsletter de test au Pôle" />
				</form>
			</div>
			<div class="item">
				<form method="post" class="afup--form">
					<input
							class="ui button primary"
							type="submit"
							name="sendToMailchimp"
							value="Verrouiller et envoyer à Mailchimp"
							onclick="return confirm('Etes-vous sur que cette NL est prete ?');"
					/>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('sendToMailchimp') }}" />
				</form>
			</div>
		</div>
	</div>

    <iframe src="" id="preview-techletter" name="preview-techletter" frameborder="0"></iframe>

	<form id="link-editor" class="hidden" data-refresh="{{ url('admin_techletter_retrieve') }}">
		<a href="#" id="close">X</a>
		<fieldset id="update-link">

		</fieldset>
		<button id="refresh" title="Écraser la saisie actuelle par les informations récupérées depuis l'url indiquée">
			Actualiser depuis l'url saisie
		</button>
		<button id="up" title="Remonter ce lien">Remonter ce lien</button>
		<button id="down" title="Descendre ce lien">Descendre ce lien</button>
		<button id="delete">Supprimer ce lien</button>
		<input type="reset" value="Fermer" />
		<input type="submit" value="Sauvegarder et mettre à jour" />
	</form>

	<form method="post" action="{{ url('admin_techletter_preview') }}" target="preview-techletter" id="form-update">
		<input type="hidden" name="techletterId" value="{{ sending.id }}" />
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('techletterPreview') }}" />
		<input name="techletter" id="textarea" type="hidden" value="" />
	</form>

    <script>
		(function (w) {
			w.techletter = {{ tech_letter|json_encode|raw }};
		})(window);
    </script>
	<script src="{{ asset('js_dist/techletter.js') }}"></script>

{% endblock %}
