{% extends ':admin:base_with_header.html.twig' %}

{% block content %}

    <div class="ui segment">
        <h2 class="ui header">Nouvelle campagne</h2>
        <div class="ui clearing divider"></div>
        {{ form_start(form) }}
        <div class="ui form">
            <div class="inline fields">
                <div class="field">
                    {{ form_label(form.sendingDate) }}
                    {{ form_widget(form.sendingDate, {"attr": { "class": "inline fields"} }) }}
                    {{ form_errors(form.sendingDate) }}

                    {{ form_row(form.save, { attr: { class : "ui blue button" }}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <h2>Campagnes</h2>

    <table class="ui table striped compact celled">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date d'envoi planifiée</th>
                <th class="center aligned">Envoyée à mailchimp ?</th>
            </tr>
        </thead>
        <tbody>
            {% for techletter in techletters %}
                <tr>
                    <td>{{ techletter.id }}</td>
                    <td>
                        {% if techletter.sentToMailchimp %}
                            {{ techletter.sendingDate|date('d/m/Y') }}
                        {% else %}
                            <a href="{{ url('admin_techletter_generate', {techletterId: techletter.id}) }}">
                                {{ techletter.sendingDate|date('d/m/Y') }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="center aligned">
                        {% if techletter.sentToMailchimp %}
                            <span class="ui green label">oui</span>
                        {% else %}
                            <span class="ui red label">non</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">Aucune donnée</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
