{% form_theme form 'form_theme_admin.html.twig' %}

{{ form_start(form) }}

<div class="ui segment">
    <h2 class="ui header">Sélectionner un Journal</h2>
    <div class="ui clearing divider"></div>
    <div class="ui form">
    {{ form_row(form.operationId) }}
    {{ form_row(form.accountId) }}
    {{ form_row(form.eventId) }}
    </div>
</div>

<div class="ui segment">
    <h2 class="ui header">Détail Facture</h2>
    <div class="ui clearing divider"></div>
    <div class="ui form">
    {{ form_row(form.accountingDate) }}
    {{ form_row(form.categoryId) }}
    {{ form_row(form.vendorName) }}
    {{ form_row(form.tvaIntra) }}
    {{ form_row(form.number) }}
    {{ form_row(form.description) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.comment) }}
    </div>
</div>

<div class="ui segment">
    <h2 class="ui header">TVA</h2>
    <div class="ui clearing divider"></div>
    <div class="ui form">
    {{ form_row(form.amountTva5_5) }}
    <div class="inline fields ui grid">
        <label class="three wide column">
        </label>
        <div class="field seven wide column">
            <a href="#" id="apply-vat-5-5">Calculer le montant HT soumis à TVA 5,5% sur la base de l'intégralité du montant TTC</a>
        </div>
    </div>
    {{ form_row(form.amountTva10) }}
    <div class="inline fields ui grid">
        <label class="three wide column">
        </label>
        <div class="field seven wide column">
            <a href="#" id="apply-vat-10">Calculer le montant HT soumis à TVA 10% sur la base de l'intégralité du montant TTC</a>
        </div>
    </div>
    {{ form_row(form.amountTva20) }}
    <div class="inline fields ui grid">
        <label class="three wide column">
        </label>
        <div class="field seven wide column">
            <a href="#" id="apply-vat-20">Calculer le montant HT soumis à TVA 20% sur la base de l'intégralité du montant TTC</a>
        </div>
    </div>
    {{ form_row(form.amountTva0) }}
        <div class="inline fields ui grid">
            <label class="three wide column">
            </label>
            <div class="field seven wide column">
                <a href="#" id="apply-vat-0">Calculer le montant non soumis à TVA sur la base de l'intégralité du montant TTC</a>
            </div>
        </div>
    {{ form_row(form.tvaZone) }}
    </div>
</div>

<div class="ui segment">
    <h2 class="ui header">Réglement</h2>
    <div class="ui clearing divider"></div>
    <div class="ui form">
        {{ form_row(form.paymentTypeId) }}
        {{ form_row(form.paymentDate) }}
        {{ form_row(form.paymentComment) }}
    </div>
</div>

<div class="ui segment">
    <div>
        <div class="ui form">
            {{ form_errors(form) }}

            <div class="inline fields ui grid">
                <div class="three wide column">
                </div>
                <div class="three wide column">
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {% if operation == 'edit' and nextTransaction is defined and nextTransaction is not null %}
            <div class="inline fields ui grid">
                <div class="three wide column">
                </div>
                <div class="three wide column">
                    {{ form_row(form.submitAndPass) }}
                </div>
            </div>
            <div class="inline fields ui grid">
                <div class="three wide column">
                </div>
                <div class="three wide column">
                    {{ form_row(form.pass) }}
                </div>
            </div>
            {% endif %}
            {{ form_rest(form) }}
        </div>
    </div>
</div>
<div class="ui segment">
    <p>
        <span class="obligatoire">*</span> indique un champ obligatoire
    </p>
</div>

{{ form_end(form) }}
