{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Virements en attente de réception</h2>
    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    {% if pendingBankwires|length > 0 %}
    <form method="post" style="width:auto;">
        <table class="ui table striped compact celled">
            <thead>
                <tr>
                    <th>Facture</th>
                    <th>Société</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Places</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in pendingBankwires %}
                <tr>
                    <td>
                        {{ invoice['invoices'].reference }}
                    </td>
                    <td>
                        {{ invoice['invoices'].company }}
                    </td>
                    <td>
                        {{ invoice['invoices'].amount }}
                    </td>
                    <td>
                        {% if invoice['invoices'].invoiceDate %}
                            {{ invoice['invoices'].invoiceDate|date('d/m/Y') }}
                        {% else %}
                            n/a
                        {% endif %}
                    </td>
                    <td>
                    {% for ticket in invoice['.aggregation']['inscriptions'] %}
                        {{ ticket.label }}<br />
                    {% endfor %}
                    </td>
                    <td class="right aligned">
                        <button class="ui button" type="submit" name="bankwireReceived" value="{{ invoice['invoices'].reference }}">Virement reçu</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="token" value="{{ token }}" />
    </form>
    {% else %}
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="meh outline icon"></i>
            Aucune virement en attente. {% if event == null %} Essayez de changer d'évènement{% endif %}
        </div>
    </div>
    {% endif  %}
{% endblock %}
