{% extends ':mail:_base_mail.html.twig' %}

{% block content %}

{{ content|markdown_email }}

{% if logo_url %}
    <div style="text-align: center">
        <img src="{{ logo_url }}" alt="AFUP" width="300" height="156" style="-ms-interpolation-mode: bicubic; border: none; outline: none; text-decoration: none;">
    </div>
{% endif %}

<div>
    <div itemtype="https://schema.org/EventReservation" itemscope>
        <div itemprop="underName" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ recipient.name }}" />
        </div>
        <div itemprop="reservationFor" itemtype="https://schema.org/Event" itemscope>
            <div itemprop="location" itemtype="https://schema.org/Place" itemscope>
                <meta itemprop="name" content="{{ event.placeName }}" />
                <div itemtype="https://schema.org/PostalAddress" itemscope>
                    <meta itemprop="streetAddress" content="{{ event.placeAddress }}" />
                </div>
            </div>
            <meta itemprop="name" content="{{ event.title }}" />
            <meta itemprop="startDate" content="{{ event.dateStart|date("Y-m-d\\TH:i:sP") }}" />
            <meta itemprop="endDate" content="{{ event.dateEnd|date("Y-m-d\\TH:i:sP") }}" />
        </div>
    </div>
</div>
{% endblock %}
