{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Gestion documentaire des speakers du {{ event.title }}</h2>

    {{ render(controller('AppBundle:AdminEvent:changeEvent', {selectedEvent: event})) }}

    <table class="ui table striped compact celled tab--filterable TF">
        <thead>
            <tr>
                <th>Speaker</th>
                <th class="center aligned">Venue au restaurant ?</th>
                <th class="center aligned">A un régime spécifique ?</th>
                <th class="center aligned">Précisions régime</th>
                <th class="center aligned">Nuit d'hotel la veille ?</th>
                <th class="center aligned">Nuit d'hotel entre les deux jours ?</th>
                <th class="center aligned">Nuit d'hotel après l'événement ?</th>
                <th class="center aligned">Pas de nuit d'hotel ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.speaker.label }}</td>
                <td class="center aligned">
                    <span class="ui {% if speaker.speaker.willAttendSpeakersDiner is null %}red{% endif %} label">
                    {% if speaker.speaker.willAttendSpeakersDiner is null %}
                        N/A
                    {% elseif speaker.speaker.willAttendSpeakersDiner  %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td class="center aligned">
                    <span class="ui {% if speaker.speaker.hasSpecialDiet is null %}red{% endif %} label">
                    {% if speaker.speaker.hasSpecialDiet is null %}
                        N/A
                    {% elseif speaker.speaker.hasSpecialDiet %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td class="center aligned">
                    {% if speaker.speaker.hasSpecialDiet and speaker.speaker.specialDietDescription is null %}
                        <span class="ui red label">N/A</span>
                    {% else %}
                        {% if speaker.speaker.specialDietDescription %}
                            {{ speaker.speaker.specialDietDescription }}
                        {% else %}
                            <span class="ui label">N/A</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="center aligned">
                    <span {% if speaker.speaker.hasHotelNightBefore is null %}class="ui red label" {% endif %}>
                    {% if speaker.speaker.hasHotelNightBefore is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightBefore %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui {% if speaker.speaker.hasHotelNightBetween is null %}red{% endif %} label">
                    {% if speaker.speaker.hasHotelNightBetween is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightBetween %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui {% if speaker.speaker.hasHotelNightAfter is null %}red{% endif %} label">
                    {% if speaker.speaker.hasHotelNightAfter is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightAfter %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td  class="center aligned">
                    <span class="ui {% if speaker.speaker.hasNoHotelNight is null %}red{% endif %} label">
                    {% if speaker.speaker.hasNoHotelNight is null %}
                        N/A
                    {% elseif speaker.speaker.hasNoHotelNight %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                    </span>
                </td>
                <td>
                    <a href="{{ path('admin_event_speaker_infos', {speaker_id: speaker.speaker.id, id: event.id }) }}">Voir sa page</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
