{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Gestion documentaire des speakers du {{ event.title }}</h2>

    {{ render(controller('AppBundle:AdminEvent:changeEvent', {selectedEvent: event})) }}

    <table class="ui table striped compact celled tab--filterable TF">
        <thead>
            <tr>
                <th>Speaker</th>
                <th>Venue au restaurant ?</th>
                <th>A un régime spécifique ?</th>
                <th>Précisions régime</th>
                <th>Nuit d'hotel la veille ?</th>
                <th>Nuit d'hotel entre les deux jours ?</th>
                <th>Nuit d'hotel après l'événement ?</th>
                <th>Pas de nuit d'hotel ?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.speaker.label }}</td>
                <td class="{% if speaker.speaker.willAttendSpeakersDiner is null %}error{% endif %}">
                    {% if speaker.speaker.willAttendSpeakersDiner is null %}
                        N/A
                    {% elseif speaker.speaker.willAttendSpeakersDiner  %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td class="{% if speaker.speaker.hasSpecialDiet is null %}error{% endif %}">
                    {% if speaker.speaker.hasSpecialDiet is null %}
                        N/A
                    {% elseif speaker.speaker.hasSpecialDiet %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td class="{% if speaker.speaker.hasSpecialDiet and speaker.speaker.specialDietDescription is null %}error{% endif %}">
                    {% if speaker.speaker.specialDietDescription %}
                        {{ speaker.speaker.specialDietDescription }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="{% if speaker.speaker.hasHotelNightBefore is null %}error{% endif %}">
                    {% if speaker.speaker.hasHotelNightBefore is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightBefore %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td class="{% if speaker.speaker.hasHotelNightBetween is null %}error{% endif %}">
                    {% if speaker.speaker.hasHotelNightBetween is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightBetween %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td class="{% if speaker.speaker.hasHotelNightAfter is null %}error{% endif %}">
                    {% if speaker.speaker.hasHotelNightAfter is null %}
                        N/A
                    {% elseif speaker.speaker.hasHotelNightAfter %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td class="{% if speaker.speaker.hasNoHotelNight is null %}error{% endif %}">
                    {% if speaker.speaker.hasNoHotelNight is null %}
                        N/A
                    {% elseif speaker.speaker.hasNoHotelNight %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_event_speaker_infos', {speaker_id: speaker.speaker.id, id: event.id }) }}">Voir sa page</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
