{% extends 'admin/base_with_header.html.twig' %}

{% block content %}
    <h2>Tokens visiteurs</h2>
    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    {% if special_prices|length > 0 %}
    <table class="ui table striped compact celled">
        <thead>
            <th>Description</th>
            <th>Date de création</th>
            <th>Créateur</th>
            <th>Token</th>
            <th>Price</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Utilisé ?</th>
            <th>Lien</th>
        </thead>
        <tbody>
        {% for row in special_prices %}
            <tr>
                <td>{{ row.special_price.description }}</td>
                <td>{{ row.special_price.createdOn|date('d/m/Y') }}</td>
                <td>{% if row.creator %}{{ row.creator.firstName }} {{ row.creator.lastName }}{% endif %}</td>
                <td>{{ row.special_price.token }}</td>
                <td>{{ row.special_price.price }}</td>
                <td>{{ row.special_price.dateStart|date('d/m/Y') }}</td>
                <td>{{ row.special_price.dateEnd|date('d/m/Y') }}</td>
                <td>
                    {% if row['.aggregation']['inscription']|length > 0 %}
                        <span class="ui green label">oui</span>
                    {% else %}
                        <span class="ui red label">non</span>
                    {% endif %}
                </td>
                <td><a href="{{ path('ticket', {'eventSlug' : event.path, 'token': row.special_price.token  }) }}">Lien</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="meh outline icon"></i>
                Aucun token trouvé.{% if event == null %} Essayez de changer d'évènement{% endif %}
            </div>
        </div>
    {% endif %}

    <div class="ui segment">
        <h2 class="ui header">Nouveau token</h2>

        <div class="ui clearing divider"></div>
    {% if form == null %}
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="meh outline icon"></i>
                Changer d'évènement pour pouvoir ajouter un token.
            </div>
        </div>
        {% else %}
        {{ form_start(form) }}

            <table class="ui table striped compact celled">
                <thead>
                    <th>{{ form_label(form.price) }}</th>
                    <th>{{ form_label(form.dateStart) }}</th>
                    <th>{{ form_label(form.dateEnd) }}</th>
                    <th>{{ form_label(form.token) }}</th>
                    <th>{{ form_label(form.description) }}</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="ui form">
                                {{ form_errors(form.price) }}
                                {{ form_widget(form.price) }}
                            </div>
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_errors(form.dateStart) }}
                                {{ form_widget(form.dateStart, {attr:{"class": "inline fields"}}) }}
                            </div>
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_errors(form.dateEnd) }}
                                {{ form_widget(form.dateEnd, {attr:{"class": "inline fields"}}) }}
                            </div>
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_errors(form.token) }}
                                {{ form_widget(form.token) }}
                            </div>
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_errors(form.description) }}
                                {{ form_widget(form.description) }}
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="ui primary button">Enregistrer</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        {{ form_errors(form) }}

        {{ form_end(form) }}
    {% endif %}
    </div>
{% endblock %}
