{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Liste des inscriptions sponsors pour {{ event.title }}</h2>
    {{ render(controller('AppBundle:AdminEvent:changeEvent', {selectedEvent: event})) }}
    <table class="afup_tab">
        <tr>
            <th>Société</th>
            <th>Token</th>
            <th>Invitations totales</th>
            <th>Invitations utilisées</th>
        </tr>
        {% for token in tokens %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td>{{ token.company }}</td>
                <td>{{ token.token }}</td>
                <td>{{ token.maxInvitations }}</td>
                <td>{{ token.usedInvitations }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}