{% extends 'admin/base_with_header.html.twig' %}


{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="ui form">
        <div class="inline fields ui grid">
            {{- form_label(form, null, {label_attr: {class: "three wide column"}}) -}}
            <div class="field seven wide column">
                {{- form_errors(form) -}}
                {{- form_widget(form, widget_attr) -}}
            </div>
        </div>
    </div>
{%- endblock form_row -%}

{% block content %}
    <h2>Liste des tokens sponsors pour {{ event == null ? '' : event.title }}</h2>
    {% include 'admin/event/change_event.html.twig' with {form: event_select_form} only %}

    <div class="ui menu">
        {% if event == null %}
            <div class="item">Changez d'évènement dans le menu ci dessus</div>
        {% else %}
        <a href="{{ url('admin_event_sponsor_lastcall_mail', {id: event.id}) }}"
           class="item confirmable"
           data-confirmable-label="Souhaitez-vous vraiment envoyer des mails relance à tous les sponsors ayant encore des places ?"
        >
            <div data-position="bottom left"
                 data-tooltip="Lorsque la fermeture de la billetterie approche, ce bouton permet d'envoyer des mails de rappel pour inciter les sponsors à enregistrer leurs places"
             >
                <i class="icon mail"></i>
                Envoyer le mail de rappel
            </div>
        </a>
        {% endif %}
    </div>

    {% if tokens|length > 0 %}
    <table class="ui table striped compact celled">
        <thead>
            <tr>
                <th>Société</th>
                <th>Token</th>
                <th class="right aligned">Invitations totales</th>
                <th class="right aligned">Invitations utilisées</th>
                <th class="right aligned">Peut scanner QR Codes</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
        {% set totalInvitations = 0 %}
        {% set totalUsedInvitations = 0 %}
        {% for token in tokens %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                {% set totalInvitations = totalInvitations + token.maxInvitations %}
                {% set totalUsedInvitations = totalUsedInvitations + token.usedInvitations %}
                <td>{{ token.company }}</td>
                <td>{{ token.token }}</td>
                <td class="right aligned">{{ token.maxInvitations }}</td>
                <td class="right aligned">{{ token.usedInvitations }}</td>
                <td class="right aligned">{% if token.qrCodesScannerAvailable %}OUI{% else %}-{% endif %}</td>
                <td class="right aligned">
                    <form class="sponsor--token-admin-view" method="post" action="{{ url('sponsor_ticket_home', {eventSlug: event.path}) }}">
                        <input type="hidden" name="sponsor_token" value="{{ token.token }}" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('sponsor_ticket') }}" />
                        <input type="submit"
                               name="see"
                               value="Voir les invitations"
                               class="compact ui icon button"
                        />
                    </form>
                </td>
                <td class="right aligned">
                    <form class="sponsor--token-admin-view" method="post" action="{{ url('admin_event_sponsor_mail', {id: event.id}) }}">
                        <input type="hidden" name="sponsor_token_id" value="{{ token.id }}" />
                        <input type="submit"
                               name="resend"
                               value="Renvoyer le mail"
                               class="compact ui icon button"
                        />
                    </form>
                </td>
                <td class="single line right aligned">
                    <a class="button sponsor--token-admin-edit compact ui icon button"
                       href="{{ url('admin_event_sponsor_ticket', {id: event.id, ticket: token.id}) }}"
                       data-position="left center"
                       data-tooltip="Editer"
                    >
                        <i class="pencil alernate icon"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2"><strong>Total</strong></th>
                <th class="right aligned">{{ totalInvitations }}</th>
                <th class="right aligned">{{ totalUsedInvitations }}</th>
                <th colspan="4"></th>
            </tr>
        </tfoot>
    </table>
    {% else %}
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="meh outline icon"></i>
                Aucune invitation trouvée. {% if event == null %} Essayez de changer d'évènement{% endif %}
            </div>
        </div>
    {% endif %}

    <div class="ui segment">
        {% if edit == true %}
            <h2 class="ui header">Modifier le token de {{ form.vars.value.company}}</h2>
        {% else %}
            <h2 class="ui header">Nouveau token</h2>
        {% endif %}

        <div class="ui clearing divider"></div>

        <div>
            {% if form == null %}
                <div class="ui placeholder segment">
                    <div class="ui icon header">
                        <i class="meh outline icon"></i>
                        Changer d'évènement pour pouvoir ajouter un token.
                    </div>
                </div>
            {% else %}
                {% form_theme form _self %}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="ui form">
            <div class="inline fields ui grid">
                <div class="three wide column"></div>
                <div class="field seven wide column">
                    <button type="submit" class="ui primary button">Enregistrer</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
