{% for conferencier in conferenciers %}
    <article class="first conferenciers">
        <h3>
            {{ conferencier.prenom }} {{ conferencier.nom }}
            {% if conferencier.societe %}- <span class="societe">{{ conferencier.societe }}</span>{% endif %}
        </h3>
        {% if conferencier.twitter %}
            <a class="twitter" href="https://twitter.com/{{ conferencier.twitter }}">
                <img src="//g.twimg.com/about/feature-corporate/image/followbutton.png" width="89" height="33" alt="Suivre @{{ conferencier.twitter }}"/>
            </a>
        {% endif %}
        <div class="article-body conferencier">
            <div class="photo">
                <img src="/templates/forumphp2016/images/intervenants/{{ conferencier.conferencier_id }}.jpg" border="0"/>
            </div>
            <p>
                <a name="{{ conferencier.conferencier_id }}"></a>
                {{ conferencier.biographie }}
            </p>
            <ul>
                {% for session in conferencier.sessions %}
                    <li class="conferencier_session">
                        <a href="/forum-php-2016/programme/#{{ session.id }}">{{ session.titre }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endfor %}
