{% extends 'site/base.html.twig' %}
{% block inner_content %}
    <article id="company-membership-invitation">
        <h1>Adhésion professionnelle à l'AFUP</h1>
        <p>
            Votre entreprise {{ company.companyName }} est devenue membre de l’AFUP.
            Elle vous invite à profiter des avantages liés à cette adhésion.
            Pour cela, créez votre compte personnel affilié au compte de votre entreprise.
        </p>
        {{ form_start(form) }}
            <fieldset>
                <legend>Compte personnel</legend>
                <div>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.zipcode) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.phone) }}
                </div>
            </fieldset>

        {{ form_widget(form) }}
        {{ form_end(form) }}

        <p>Si vous rencontrez le moindre problème, n'hésitez pas à contacter l'AFUP par email: bonjour (at) afup.org.</p>
    </article>
{% endblock %}