<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ feed.title }}</title>
    <link rel="self" href="{{ feed.link }}"/>
    <updated>{{ feed.date }}</updated>
    <author>
        <name>{{ feed.author }}</name>
        <email>{{ feed.email }}</email>
        <uri>{{ feed.url|escape }}</uri>
    </author>
    <id>{{ feed.url }}</id>
    {% for article in articles %}
        <entry>
            <title>{{ article.title|escape }}</title>
            <link href="{{ article.url|escape }}"/>
            <id>{{ article.url|escape }}</id>
            <updated>{{ article.update }}</updated>
            <summary type="html">{{ article.content }}</summary>
        </entry>
    {% endfor %}
</feed>
