<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Planete PHP FR : tous les blogs PHP francophones" lang="fr"/>
    <link rel="stylesheet" href="/styles.css" type="text/css" media="all"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="https://feeds.feedburner.com/planetephpfr"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url('planete_rss') }}"/>
    <title>Planete PHP FR : tous les blogs PHP francophones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ constant('AFUP_GLOBAL_MENU_PREFIX') }}/templates/site/css/global-menu.css" media="all"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67701567-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-67701567-2');
    </script>
</head>

<body>

<div id="afup-global-menu">
    <a href="https://afup.org" class="lien-entete">AFUP</a>
    <a href="https://event.afup.org" class="lien-entete">AFUP Day 2024</a>
    <a href="https://barometre.afup.org" class="lien-entete">Baromètre</a>
    <a href="http://www.planete-php.fr" class="lien-entete lien-entete__active">Planète PHP</a>
    <a href="https://pufa.afup.org" class="lien-entete">PUFA</a>
</div>

<div id="en-tete">
    <div class="container">
        <span class="en-tete-title">planete-php.fr</span>
        <span class="en-tete-links">
				<a href="#articles" class="en-tete-link">Articles</a>
				<a href="#blogs" class="en-tete-link">Blogs</a>
				<a href="#infos" class="en-tete-link">Infos</a>
				<a href="{{ url('planete_rss') }}" class="en-tete-link">
					<i class="fa fa-rss" aria-hidden="true"></i>
					RSS Feed
				</a>
				<a href="http://feeds.feedburner.com/planetephpfr" class="en-tete-link">
					<i class="fa fa-rss-square" aria-hidden="true"></i>
					Atom Feed
				</a>
				<a href="http://twitter.com/planetephp" class="en-tete-link">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					Twitter
				</a>
			</span>
    </div>
</div>

<div id="le-contenu">
    <div class="container">
        <a name="articles"></a>
        <h2>Articles</h2>
        <div id="les-billets">
            {% for article in articles %}
                <div class="un-billet">
                    <h3 class="titre"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                    <span class="flux"><a href="{{ article.feedUrl }}">{{ article.feedName }}</a></span>
                    {% if article.feedName != article.author %}
                        <span class="auteur">{{ article.author }}</span>
                    {% endif %}
                    <span class="date">{{ article.update|date('d/m/Y') }}</span>
                    <div class="contenu">{{ article.content|raw|nl2br }}</a></div>
                </div>
            {% endfor %}
            <div id="les-pages-suivantes">
                {% if next >= 0 %}
                    <a href="?page={{ next }}" class="btn">Articles précédents</a>
                {% endif %}
                {% if previous >= 0 %}
                    <a href="?page={{ previous }}" class="btn">Articles suivants</a>
                {% endif %}
            </div>
        </div>

        <a name="blogs"></a>
        <h2>Blogs</h2>
        <ul>
            {% for feed in feeds %}
                <li class="un-flux"><a href="{{ feed.url }}">{{ feed.nom }}</a></li>
            {% endfor %}
        </ul>

        <a name="infos"></a>
        <h2>Infos</h2>
        <b>Ajouter une source ?</b><br/>
        <p>Envoyez un email avec l'URL du site et du flux à planetephpfr AT afup POINT org</p>
        <b>Gestion</b>
        <p><a href="https://afup.org/">AFUP</a></p>
    </div>
</div>

</body>
</html>
