<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ feed.title }}</title>
        <description>{{ feed.title }}</description>
        <link>{{ feed.link }}</link>
        <language>fr-fr</language>
        <pubDate>{{ feed.date }}</pubDate>
        <lastBuildDate>Tue, 10 Jun 2003 09:41:01 GMT</lastBuildDate>
        <generator>AFUP - à la mano</generator>
        <managingEditor>{{ feed.email }} ({{ feed.author }})</managingEditor>

        {% for article in articles %}
            <item>
                <title>{{ article.title|escape }}</title>
                <link>{{ article.url|escape }}</link>
                <description>{{ article.content|escape }}</description>
                <pubDate>{{ article.update }}</pubDate>
                <guid>{{ article.url|escape }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
