{% extends ':event/ticket:base.html.twig' %}

{% set menu = {'main': {'route' : 'ticket', 'title': 'Billetterie'}} %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/tickets.css') }}" />
{% endblock %}

{% block google_analytics %}
    {% include 'google_analytics.html.twig' %}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% if not invoice.isFree %}
        <h1>Paiement de vos billets</h1>
        <div>
            <p>
                Nous avons bien re&ccedil;u votre inscription et nous vous en remercions !
            </p>
            {% if invoice.paymentType == constant('AppBundle\\Event\\Model\\Ticket::PAYMENT_CREDIT_CARD') %}
                <p>Pour finaliser le paiement de votre facture, merci de cliquer sur le bouton suivant :</p>
                {{ paybox|raw }}
                <p>Vous serez redirigé vers notre partenaire paybox afin de procéder au paiement d'un montant de {{ amount }}€</p>
            {% else %}
                <p>
                    Pour les paiements par virement, merci d'envoyer le virement d'un montant de {{ amount }}€ aux coordonnées suivantes :
                </p>
                <table>
                    <tr>
                        <th>IBAN</th><th>BIC/SWIFT</th>
                    </tr>
                    <tr>
                        <td>{{ bankAccount.getIban }}</td><td>{{ bankAccount.getBic }}</td>
                    </tr>
                </table>
                <p>Pensez à indiquer dans le libellé du virement la référence suivante: {{ invoice.reference }}</p>
                <p>
                    Si vous avez la moindre question, n'hésitez pas à contacter <a href="mailto:bonjour@afup.org">bonjour@afup.org</a>.
                </p>
                <p>Vous allez recevoir dans quelques instants la facture à l'adresse email de facturation.</p>
            {% endif %}
        </div>
        {% else %}
        <h2>Votre inscription</h2>
        <div>
            <p>
                Nous avons bien re&ccedil;u votre inscription et nous vous en remercions !
            </p>
            <p>
                Si vous avez la moindre question, n'hésitez pas à contacter <a href="mailto:bonjour@afup.org">bonjour@afup.org</a>.
            </p>
            <p>Vous allez recevoir dans quelques instants la facture à l'adresse email de facturation.</p>
        </div>
        {% endif %}
    </div>

    {% autoescape 'js' %}
        <!-- Google Code for Inscription evenement Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 878368884;
            var google_conversion_language = "fr";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "HBjSCKivn2oQ9LDrogM";
            var google_conversion_value = {{ invoice.amount }};
            var google_conversion_currency = "EUR";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/878368884/?value={{ invoice.amount }}&amp;currency_code=EUR&amp;label=HBjSCKivn2oQ9LDrogM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>

        <script>
            // This purchase event uses a different transaction ID
            // from the previous purchase event so Analytics
            // doesn't deduplicate the events.
            // Learn more: https://support.google.com/analytics/answer/12313109
            gtag("event", "purchase", {
                transaction_id: "{{ invoice.reference }}",
                value: {{ invoice.amount }},
                tax: 0,
                shipping: 0,
                currency: "EUR",
                items: [
                    {% for ticket in tickets %}
                    {
                        item_id: "{{ invoice.reference }}",
                        item_name: "{{ ticket.ticketEventType.ticketType.prettyName }}",
                        index: {{ loop.index }},
                        price: {{ ticket.amount }},
                        quantity: 1
                    },
                    {% endfor %}
                ]
            });
        </script>
    {% endautoescape %}
{% endblock %}
