{% extends ':event/ticket:base.html.twig' %}

{% set menu = {'main': {'route' : 'ticket', 'title': 'Billetterie'}} %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/tickets.css') }}" />
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h2>Paiement de vos billets</h2>
        <div>
            <p>
                Nous avons bien re&ccedil;u votre inscription et nous vous en remercions !
            </p>
            {% if invoice.paymentType == constant('AppBundle\\Event\\Model\\Ticket::PAYMENT_CREDIT_CARD') %}
                <p>Pour finaliser le paiement de votre facture, merci de cliquer sur le bouton suivant :</p>
                {{ paybox|raw }}
                <p>Vous serez redirigé vers notre partenaire paybox afin de procéder au paiement d'un montant de {{ invoice.amount }}€</p>
            {% else %}
                <p>
                    Pour les paiements par virement, merci d'envoyer le virement d'un montant de {{ invoice.amount }}€ aux coordonnées suivantes :
                </p>
                <table>
                    <tr>
                        <th>IBAN</th><th>BIC/SWIFT</th>
                    </tr>
                    <tr>
                        <td>{{ rib.iban }}</td><td>{{ rib.bic }}</td>
                    </tr>
                </table>
                <p>Pensez à indiquer dans le libellé du virement la référence suivante: {{ invoice.reference }}</p>
                <p>
                    Si vous avez la moindre question, n'hésitez pas à contacter <a href="mailto:bonjour@afup.org">bonjour@afup.org</a>.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
