{% extends ':event/ticket:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/sponsor_tickets.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{ 'Billetterie sponsor'|trans }}: {{ event.title }} - {{ sponsorTicket.company }}</h1>

            {% if sponsorTicket.canScanQrCodes|default %}
                <h2 class="h3-like">{% trans %}SCANNEUR DE QR CODES{% endtrans %}</h2>
                <a class="button button__medium" href="{{ url('sponsor_scan', {eventSlug: event.path}) }}">
                    {% trans %}Lancer l'outil de scan de QR Codes{% endtrans %}
                </a>
            {% endif %}

            <h2 class="h3-like">{% trans %}VOS PLACES GRATUITES{% endtrans %}</h2>

            {% if sold_out %}
                <p>Désolé, la billetterie n'est plus disponible pour cet évènement.</p>

            {% else %}
                <p>
                    {% trans with { '%date%': "<b>" ~ event.dateEndSalesSponsorToken|localizeddate('full', 'none') ~ "</b>" } %}
                        Enregistrez vous-même vos invités avant le %date% dernier délai. Vos invités recevront leur convocation quelques jours avant l’évènement.
                    {% endtrans %}
                </p>

                <p>{% trans %}Pour rappel, les personnes en charge de l’animation de votre stand doivent bénéficier en priorité de ces places (pour le Forum PHP).{% endtrans %}</p>

                <h4>Tickets déjà enregistrés</h4>
                <table>
                    <tr>
                        <th>
                            Prénom
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            ¤
                        </th>
                    </tr>
                {% for ticket in registeredTickets %}
                    <tr>
                        <td>
                            {{ ticket.firstName }}
                        </td>
                        <td>
                            {{ ticket.lastName }}
                        </td>
                        <td>
                            {{ ticket.email }}
                        </td>
                        <td>
                            <form method="post" class="sponsor--ticket">
                                <a href="{{ url('sponsor_ticket_form', {ticket: ticket.id, eventSlug: event.path}) }}" class="button">Modifier</a>
                                <button type="submit" value="{{ ticket.id }}" name="delete">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4"><em>Aucun ticket enregistré pour le moment.</em></td>
                    </tr>

                {% endfor %}
                </table>

                {% if edit %}
                    <h4>Modifier le ticket</h4>
                {% else %}
                    <h4>Nouveau ticket</h4>
                {% endif %}
                <p>{{ 'Places disponibles'|trans }}: {{ sponsorTicket.pendingInvitations }} / {{ sponsorTicket.maxInvitations }} </p>
                {% if sponsorTicket.pendingInvitations == 0 and edit == false %}
                    <p>Vous avez utilisé toutes vos invitations. Nous avons hâte de vous retrouver lors de cet évènement !</p>
                {% else %}
                    {{ form_start(ticketForm, {attr: {class: 'sponsor--ticket-edit'}}) }}
                    {{ form_errors(ticketForm) }}
                    {{ form_widget(ticketForm) }}
                    <input type="submit" value="Enregistrer" />
                    {{ form_end(ticketForm) }}
                {% endif %}

            {% endif %}
        </div>
        <div class="col-md-6">
            {{ sponsors_infos|markdown }}
        </div>
    </div>
{% endblock %}
