{% extends ':event/ticket:base.html.twig' %}

{% set menu = {'main': {'route' : 'ticket', 'title': 'Billetterie'}} %}

{% form_theme ticketForm _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="tickets--errors">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block metas %}
    {{ parent() }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@afup" />
    <meta name="twitter:title" content="Prenez votre place pour le {{ event.title }}" />
    <meta name="twitter:description" content="Ne manquez pas le grand rendez-vous de la communauté PHP, {% if event.dateStart == event.dateEnd %}{{ event.dateStart|date('d') }}{% else %}{{ event.dateStart|date('d') }}-{{ event.dateEnd|date('d') }}{% endif %} {{ event.dateEnd|localizeddate('none', 'none', 'fr', 'Europe/Paris', 'MMMM') }}." />
    {% if event.logoUrl %}
        <meta name="twitter:image" content="{{ event.logoUrl }}" />
    {% endif %}
{% endblock %}

{% block form_row %}
    <div class="form_row">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/tickets.css') }}" />
{% endblock %}

{% block content %}
    <script src="{{ asset('templates/site/js/vendor/jquery-1.8.0.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/formdata-polyfill@3.0.11/formdata.min.js"></script>
    <script src="{{ asset('js/inscription.js') }}?2"></script>

    <script type="text/javascript">
		var nbInscriptions = {{ nbPersonnes }};
    </script>


    {% set allTicketsSold = true %}
    {% for key,ticket in ticketForm.tickets %}
        {% for type in ticket.ticketEventType %}
            {% if type.vars.attr['data-stock'] > 0 %}
                {% set allTicketsSold = false %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="col-md-8">
        <h1>{{ 'Billetterie'|trans }}: {{ event.title }}</h1>

        {% if allTicketsSold and event.getWaitingListUrl %}
            Tous les billets ont été vendus. Nous vous invitons à vous inscrire sur  <a href="{{ event.getWaitingListUrl }}">liste d'attente</a> pour le cas où des places viendraient à se libérer.
        {% else %}

        {% if hasMembersTickets %}
        <div class="tickets--members-detail">
            {% if app.user %}
                {% if app.user.companyId > 0 %}
                    <p>{{ 'Vous êtes connecté avec le compte AFUP de l\'entreprise %company%. Votre cotisation est valable pour %maxMembers% salarié·e·s. Vous pouvez donc acheter %maxMembers% tickets au tarif AFUP pour cet évènement - pour qui vous voulez !'|trans({ '%maxMembers%': app.user.company.maxMembers, '%company%': app.user.company.companyName}) }}</p>
                    <p>{{ 'Vous avez déjà acheté %soldTickets% ticket(s) au tarif AFUP pour cet évènement.'|trans({'%soldTickets%': soldTicketsForMember}) }}</p>
                {% else %}
                    <p>{{ 'Vous êtes connecté avec un compte AFUP personnel. Vous pouvez acheter une place au tarif membre pour vous seul. Pour être valable, cette place doit être enregistrée avec l\'adresse %mail%.'|trans({'%mail%': app.user.email}) }}</p>
                {% endif %}

                {% if app.user.lastSubscription < date() %}
                    <p><strong>{{ "Attention votre cotisation est expirée. Pour souscrire des places au tarif afup, renouvelez votre cotisation dans le <a href='%url%'>back-office</a>."|trans({'%url%': url('admin_login' ) })|raw }}</strong></p>
                {% elseif app.user.lastSubscription < event.dateEnd %}
                    <p><strong>{{ "Attention votre cotisation ne sera plus valable le jour de l'évènement. Vous pouvez commander des billets au tarif AFUP mais vous devrez renouveler votre cotisation pour pouvoir accéder à l'évènement."|trans }}</strong></p>
                {% endif %}
            {% else %}
                <p>Pour acheter des places au tarif AFUP, vous devez vous <a href="{{ url('admin_login') }}">connecter</a>.</p>
            {% endif %}
        </div>
        {% endif %}

        {% if not ticketForm.vars.valid %}
            <div class="tickets--errors">
                {{ 'Une ou plusieurs erreurs sont survenues. Merci de vérifier le formulaire' }}
                {{ form_errors(ticketForm) }}
            </div>
        {% endif %}

        {{ form_start(ticketForm, {attr: {id: 'formulaire'}}) }}

            <div id="divPersonne" data-nb-max-personnes="{{ maxNbPersonnes }}">
                <fieldset>
                    <legend>
                        <a name="inscription1">Nombre de personnes</a>
                    </legend>
                    <p>Je souhaite inscrire
                        {{ form_widget(ticketForm.nbPersonnes) }}
                        personne(s)</p>
                </fieldset>
            </div>

            {% set currentDate = 'now'|date('Y-m-d') %}
            {{ form_errors(ticketForm.tickets) }}

            {% for key,ticket in ticketForm.tickets %}
                <fieldset class="f{{ key+1 }} tickets--fieldset">
                    <legend><a name="inscription{{ key+1 }}">Personne</a> {{ key+1 }} <span class="fieldset--legend--title"></span><span class="fieldset--legend--price"></span></legend>
                    <div id="fieldset--{{ key+1 }}" class="fieldset--inner">
                        {{ form_row(ticket.civility) }}
                        {{ form_row(ticket.firstname) }}
                        {{ form_row(ticket.lastname) }}
                        {{ form_row(ticket.email) }}
                        {{ form_row(ticket.phoneNumber) }}
                        {{ form_row(ticket.nearestOffice) }}

                        {{ form_label(ticket.ticketEventType) }}
                        {{ form_errors(ticket.ticketEventType) }}
                        <ul class="tickets--type-list">
                            {% set endDate = null %}
                            {% for type in ticket.ticketEventType %}
                                <li {% if endDate != type.vars.attr['data-date-end-raw'] and endDate != null %}class="tickets--type-list-emphasis" {% endif %}>
                                    {% if endDate != type.vars.attr['data-date-end-raw'] and endDate != null and endDate > currentDate %}
                                        Vous souhaitez soutenir l'AFUP ? Vous pouvez prendre ces billets dès aujourd’hui.
                                    {% endif %}
                                    {% set endDate=type.vars.attr['data-date-end-raw'] %}
                                    <div>
                                        {{ form_widget(type) }}
                                        {{ form_label(type) }}
                                        <span class="tickets--type-price">
                                            {% if type.vars.attr['data-price'] == 0 %}
                                                OFFERT
                                            {% else %}
                                                {{ type.vars.attr['data-price'] }}€
                                            {% endif %}
                                        </span>
                                        <br />
                                        <span class="tickets--type-details">
                                            <span class="tickets--type-dateEnd">
                                                Disponible jusqu'au {{ type.vars.attr['data-date-end'] }}
                                                {% if type.vars.attr['data-max-tickets'] > 0 %}
                                                    (ou jusqu’à écoulement des {{ type.vars.attr['data-max-tickets'] }} billets à ce tarif).
                                                {% endif %}
                                            </span>
                                            {% if type.vars.attr['data-members-only'] %} - <span class="tickets--type-members">Réservé aux membres AFUP</span>{% endif %}<br />
                                            {% if type.vars.attr['data-stock'] <= 0 %}
                                                <span class="tickets--type-stock">Plus aucun billet disponible</span><br />
                                            {% elseif type.vars.attr['data-stock'] < 10 %}
                                                <span class="tickets--type-stock tickets--type-stock-close-to-sold-out">Peu de billets disponibles</span><br />
                                            {% else %}
                                            {% endif %}
                                        </span>
                                        {% if type.vars.attr['data-description'] %}
                                            <div class="tickets--type-description">
                                                {{ type.vars.attr['data-description']|markdown }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <p class="tickets--type-stock-limit"><em>{{ 'Dans la limite des stocks disponibles.'|trans }}</em></p>

                        <p>{{ 'Merci de renseigner 3 tags (et/ou votre id Twitter) vous caractérisant, ces tags seront imprimés sur votre badge afin de faciliter le networking pendant l\'évènement'|trans }}</p>

                        {{ form_widget(ticket.specialPriceToken) }}

                        {{ form_widget(ticket.tag1) }}
                        {{ form_widget(ticket.tag2) }}
                        {{ form_widget(ticket.tag3) }}
                        <p class="raccourci"><i>Ex : framework, hosting,  gestion de projet, Symfony, Zend Framework, Test unitaire...</i></p>

                        <div><a href="#inscription{{ key+2 }}" data-registration="{{ key+1 }}" class="btn primary add_inscription">Inscription suivante</a> ou <a href="#facturation" class="btn primary fieldset--link-facturation">passer à la facturation</a></div>

                    </div>
                </fieldset>
            {% endfor %}

        <fieldset class="f{{ ticketForm.tickets|length +1 }} fieldset-facturation">
            <legend>
                <a name="facturation">Facturation</a>
                <span class="fieldset--legend--title"></span><span class="fieldset--legend--price"></span>
            </legend>
            <div class="fieldset--inner">
                {# On ne souhaite pas mettre en avant le VB, on affiche donc avant tout la CB #}
                {{ form_label(ticketForm.paymentType) }}
                {{ form_widget(ticketForm.paymentType[0]) }}
                {{ form_label(ticketForm.paymentType[0]) }}
                <p id="tickets--other-payments">
                    <em>{{ "D'autres moyens de paiements sont disponibles si nécessaire (cliquer ici)."|trans }}</em>
                </p>
                <div class="tickets--bankwire">
                    {{ form_widget(ticketForm.paymentType[1]) }}
                    {{ form_label(ticketForm.paymentType[1]) }}
                </div>

                {{ form_row(ticketForm.company) }}
                {{ form_row(ticketForm.firstname) }}
                {{ form_row(ticketForm.lastname) }}
                {{ form_row(ticketForm.email) }}
                {{ form_row(ticketForm.address) }}
                {{ form_row(ticketForm.zipcode) }}
                {{ form_row(ticketForm.city) }}
                {{ form_row(ticketForm.countryId) }}
            </div>
        </fieldset>

        <fieldset class="f{{ ticketForm.tickets|length +2 }} fieldset-divers">
            <legend>Divers <span class="fieldset--legend--title"></span><span class="fieldset--legend--price"></span></legend>        <div id="fieldset--optin" class="fieldset--inner">
                <div>
                    {{ form_errors(ticketForm.cgv) }}
                    {{ form_widget(ticketForm.cgv) }}
                    <label for="{{ ticketForm.cgv.vars.id }}" style="max-width: 850px; text-align: left">
                        J'accepte les <a href="https://event.afup.org/conditions-generales-de-vente/">conditions générale de vente</a>, <a href="https://event.afup.org/condition-generales-de-participation/">de participation</a> et m'engage à respecter <a href="https://afup.org/p/986-code-de-conduite">le code de conduite</a>
                        {% if event.isOnline %}
                        , et autorise l'AFUP à transmettre mon nom, prénom et email à <a href="https://livestorm.co">Livestorm</a> et <a href="https://workadventu.re/">WorkAdventu.re</a> pour la gestion du webinar
                        {% endif %}
                        .
                    </label>
                </div>
                <div>
                    {{ form_widget(ticketForm.companyCitation) }}
                    {{ form_label(ticketForm.companyCitation) }}
                </div>
                <div>
                    {{ form_widget(ticketForm.newsletterAfup) }}
                    {{ form_label(ticketForm.newsletterAfup) }}
                </div>

                <p>
                    <i>L'afup tient à protéger vos données personnelles et ne les communique pas à ses partenaires.</i>
                </p>
            </div>
        </fieldset>

        <fieldset class="f{{ ticketForm.tickets|length +3 }} boutons">
            <legend>Récapitulatif <span class="fieldset--legend--title"></span><span class="fieldset--legend--price"></span></legend>        <div class="fieldset--inner">

                <div>
                    <p>Une fois votre commande effectuée, <strong>chaque participant recevra un email de confirmation</strong> et la facture sera transmise à l'adresse indiquée dans l'onglet facturation.<br>
                        Ensuite, pas besoin de billet, chaque participant recevra quelques jours avant l'évènement <strong>un email de convocation</strong> avec toutes les informations nécessaires pour préparer sa venue.<br>
                        <!--
                        Le jour J il leur suffira de se présenter à l'accueil badges <strong>avec une pièce d'identité</strong>.
                        -->
                    </p>
                </div>

                <div class="clearfix">
                    <div class="input">
                        <div id="summary">
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <input class="btn primary" style="float: right" name="soumettre" value="Confirmer &amp; Payer" type="submit">
                </div>
                <div class="clearfix">
                    <div class="input">
                        Si vous rencontrez le moindre problème, n'hésitez pas à nous contacter à l'adresse bonjour [@] afup.org.
                    </div>
                </div>

                <!-- Vilain hack pour Opera -->
                <div style="clear: both">&nbsp;</div>
            </div>
        </fieldset>

        {{ form_end(ticketForm) }}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# Debut block standard linkedIn Insights #}
    <script type="text/javascript">
        _linkedin_partner_id = "5302100";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
        if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
            window.lintrk.q=[]}
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})(window.lintrk);
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=5302100&fmt=gif" />
    </noscript>
    {# Fin block standard linkedIn Insights #}
    {# Debut block conversion linkedIn Insights #}
    <script>
        document.getElementById("formulaire").addEventListener("submit", function(event) {
            window.lintrk('track', { conversion_id: 13844572 });
        });
    </script>
    {# Debut block conversion linkedIn Insights #}
{% endblock %}