{% extends ':admin:base_with_header.html.twig' %}

{% block content %}
    <h2>Relance des cotisations</h2>
    <table class="ui table striped compact celled">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Société</th>
                <th>Statut mail</th>
                <th>Type relance</th>
                <th title="">Date relance</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr class="{% if loop.index is even %}even{% endif %}">
                <td>{{ log.app.firstname }} {{ log.app.lastname }}</td>
                <td>{% if log.apm is not null %}{{ log.apm.companyName }}{% else %}¤{% endif %}</td>
                <td>{% if log.asrl.mailSent %}Ok{% else %}Erreur{% endif %}</td>
                <td>{{ log.asrl.reminderKey }}</td>
                <td>{{ log.asrl.reminderDate|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui center aligned clearing segment">
        {% if logs.count > limit %}
            <div class="ui right floated segment">
                <a href="{{ url('admin_relances', { page: page + 1 }) }}" class="ui right labeled icon button">
                    <i class="right chevron icon"></i>
                    Page suivante

                </a>
            </div>
        {% endif %}
        {% if page > 1 %}
            <div class="ui left floated segment">
                <a href="{{ url('admin_relances', { page: page - 1 }) }}" class="ui labeled icon button">
                    <i class="left chevron icon"></i>
                    Page précédente
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
